<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="vi" />
<meta name="keywords" content="Công trình dân dụng - Sản xuất gạch bêtông khí chưng áp, tấm panel bêtông nhẹ và các sản phẩm v gạch bêtông nhẹ khí chưng áp AAC V-block, tấm panel bêtông nhẹ và các sản phẩm vữa xây, keo dán gạch phục vụ cho ngành xây dựng. http://vuonghai.com" />
<meta name="description" content="Công trình dân dụng  -Sản xuất gạch bêtông khí chưng áp, tấm panel bêtông nhẹ và các sản phẩm v gạch bêtông nhẹ khí chưng áp AAC V-block, tấm panel bêtông nhẹ và các sản phẩm vữa xây, keo dán gạch phục vụ cho ngành xây dựng. http://vuonghai.com" /> 
<meta name="revisit-after" content="1 days" />
<meta name="robots" content="noodp,index,follow" />
<link rel="SHORTCUT ICON" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/gif" />
<title>VIDEO</title>
<link href="css/dosvn.css" rel="stylesheet" type="text/css" />
<link href="css/wt-rotator.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script> 
<script type='text/javascript' src="js/jquery.imageScroller.js"></script>
<script type='text/javascript' src="js/adv.js"></script>
<script type="text/javascript" src="js/jquery-banner-rotato.js"></script> 
<script type="text/javascript" src="js/jquery-banner-rotato.effect.js"></script>
<!-- Video -->
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" />
<script type="text/javascript">
	$(document).ready(function(){
		runbanner(575,190);
	});
</script>

</head>
<body>
<div id="wrapper">
    	<div id="header">
        	<div id="header-left"><a href="index.html" title=""><img src="images/logo.png" alt="Logo" /></a></div><!--End left header-->
            <div id="header-right">
                 <p class="link-right"><img src="images/icon-register.png" alt="Registration" /><a href="registration.html" title="Tạo tài khoản">Tạo tài khoản</a> <img src="images/icon-login.png" alt="Login" /><a href="login.html" title="Đăng nhập">Đăng nhập</a></p>
            </div><!--End right header-->
            <div class="clear"></div>
        </div><!--End header--> 
        <ul class="menu">
        	<li><a href="index.html" title="">TRANG CHỦ</a></li>
            <li><a href="services.html" title="">ỨNG DỤNG VLXD NHẸ</a></li>
            <li><a href="technical.html" title="">KỸ THUẬT SỬ DỤNG</a></li>
            <li><a href="technology.html" title="">CÔNG NGHỆ SẢN XUẤT</a></li>
            <li><a href="news.html" title="">TIN TỨC</a></li>
            <li><a href="video.html" title="" style="background:none" class="select">VIDEO</a></li>
        </ul><!--End menu-->        <div class="clear"></div>
        <div class="bd-top-content"></div>
        <div id="content">
        	<div id="leftcontent">
            	<h1 class="title-box"><span>ỨNG DỤNG VLXD NHẸ</span></h1>
                <ul class="subcate">
                    <li><a href="#" title="">Ứng dụng kinh tế </a></li>
                    <li><a href="#" title="">Ứng dụng cách nhiệt</a></li>
                    <li><a href="#" title="">Ứng dụng cách âm</a></li>
                </ul>
                <div class="bd-frame-box"></div><!--Bd frame box-->
                <h1 class="title-box">Hỗ trợ trực tuyến</h1>
				<ul class="support">
					<li>Hỗ trợ kỹ thuật</li>
					<li><a href="ymsgr:sendim?thanhansoft"><img src="http://opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2&amp;l=us" alt="thanhansoft" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
					<li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
					<li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
				</ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
				<h1 class="title-box">Thống Kê Truy Cập</h1>
				<ul class="statistics">
					<li>Truy cập trong ngày: 000018</li>
					<li>Đang online: 3</li>
					<li>Tổng lượt truy cập: 038082</li>
				</ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
                <h1 class="title-box">Quảng Cáo</h1>
                <ul class="top">
                    <li><img src="images/logo-thuonghoi.jpg" alt="Thuong Hoi" title="Thuong Hoi"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv1.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                </ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
            </div><!--End left content-->
            <div id="rightcontent">
                <div class="container"> 
                    <div class="wt-rotator">
                        <a href="#"></a>   
                        <div class="thumbnails"> 
                              <ul> 
                                    <li><a href="images/banner.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner2.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner3.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner4.jpg" title="architecture"></a></li> 
                              </ul> 
                        </div>  
                    </div> 
                </div> <!--End banner-->
            	<h1 class="title-right">Video</h1> 
                <div class="frame-video">
                        <div class="video-photo">
                            <div class="video-photo-img"><a href="http://youtu.be/MKRwV3DTVLo" rel="prettyPhoto" title=""><img src="images/no-images.jpg" alt="Video 2 (phần 2)"  /></a></div>
                            <h2 class="title-video"><a href="http://youtu.be/MKRwV3DTVLo" rel="prettyPhoto" title="">Apple iPhone 4S Siri demo</a></h2>
                        </div>
                        <div class="video-photo">
                            <div class="video-photo-img"><a href="http://youtu.be/7k1rwUxNy-I" rel="prettyPhoto" title=""><img src="images/no-images.jpg" alt="Video 2 (phần 2)"  /></a></div>
                            <h2 class="title-video"><a href="http://youtu.be/7k1rwUxNy-I" rel="prettyPhoto" title="">Hội ngộ "Chung tay xây dựng bình an" 27.10.2011</a></h2>
                        </div>
                        <div class="video-photo">
                            <div class="video-photo-img"><a href="http://youtu.be/yp2azmrFa6g" rel="prettyPhoto" title=""><img src="images/no-images.jpg" alt="Video 2 (phần 2)"  /></a></div>
                            <h2 class="title-video"><a href="http://youtu.be/yp2azmrFa6g" rel="prettyPhoto" title="">Anh Ba Khía - Đan Trường</a></h2>
                        </div>
                        <div class="video-photo">
                            <div class="video-photo-img"><a href="http://youtu.be/bnWd9nRYmak" rel="prettyPhoto" title=""><img src="images/no-images.jpg" alt="Video 2 (phần 2)"  /></a></div>
                            <h2 class="title-video"><a href="http://youtu.be/bnWd9nRYmak" rel="prettyPhoto" title="">Người miền tây - Đan Trường</a></h2>
                        </div>
                 </div><!--End frame video-->
                      <script type="text/javascript" charset="utf-8"> 
                      $(document).ready(function(){
                        $(".video-photo a[rel^='prettyPhoto']").prettyPhoto();
                      });
                    </script> 
            </div><!--End right content-->
			<div id="columns3">
                <h1 class="title-box">Quảng Cáo</h1>
                <ul class="top">
					<li><img src="images/logo-thuonghoi.jpg" alt="Thuong Hoi" title="Thuong Hoi"/></li>
                    <li><img src="images/logo-thuonghoi.jpg" alt="Thuong Hoi" title="Thuong Hoi"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv1.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                </ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
			</div><!--End colums3-->  <div class="clear"></div>
        </div><!--End content-->
        <div class="bd-bt-content"></div>
		<div id="footer">
            <ul class="menu-fter">
                <li><a href="index.html" title="">TRANG CHỦ</a></li>
                <li><a href="services.html" title="">ỨNG DỤNG VLXD NHẸ</a></li>
                <li><a href="technical.html" title="">KỸ THUẬT SỬ DỤNG</a></li>
                <li><a href="technology.html" title="">CÔNG NGHỆ SẢN XUẤT</a></li>
                <li><a href="news.html" title="" class="select">TIN TỨC</a></li>
                <li><a href="video.html" title="" >VIDEO</a></li>
                <li><a href="contact.html" title="" style="background:none">LIÊN HỆ</a></li>
            </ul>
			<p>VUONG HAI CORPORATION Copyright &copy; 2011. Develop by <a href="#" title="">Dos.vn</a></p>
			<p>Office: C1B Dong Khoi, hamlet 4, Tan Hiep ward, Bien Hoa city, Dong Nai province</p>
			<p>Factory: Ong Huong Hamlet, Thien Tan commune, Vinh Cuu district, Dong Nai province</p>
			<p>Phone: (+8461) 3895 060 - (+8461) 3865 819</p>
			<p>Fax: (+8461) 3895 573 - (+8461) 3865 8219</p>
			<p>Website: <a href="http://vuonghai.com" title="Vuonghai.com">www.vuonghai.com</a> - <a href="http://block-betongnhe.com" title="Block betongnhe.com">www.block-betongnhe.com</a></p>
    </div><!--End Footer-->
</div><!--End wrapper-->
</body>
</html>

