<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="vi" />
<meta name="keywords" content="Bán các loại than đá, sản phẩm có tính năng tốt, bền bỉ, tinh xảo, giá thành thấp đồng thời đáp ứng được đơn hàng số lượng lớn" />
<meta name="description" content="Bán các loại than đá, sản phẩm có tính năng tốt, bền bỉ, tinh xảo, giá thành thấp đồng thời đáp ứng được đơn hàng số lượng lớn" /> 
<meta name="revisit-after" content="1 days" />
<meta name="robots" content="noodp,index,follow" />
<link rel="SHORTCUT ICON" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/gif" />
<title>DỊCH VỤ</title>
<link href="css/dosvn.css" rel="stylesheet" type="text/css" />
<link href="css/wt-rotator.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script> 
<script type="text/javascript" src="js/jquery-banner-rotato.js"></script> 
<script type="text/javascript" src="js/jquery-banner-rotato.effect.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		runbanner(951,332);
	});
</script>
</head>
<body>
<div id="wrapper">
		<div id="header">
        	<div id="logo"><a href="index.html" title=""><img src="images/logo.png" alt="Logo" /></a></div><!--End logo-->
            <div class="frame-title-pany"><h1 class="title-city">CÔNG TY TNHH MTV THAN PHÚC AN</h1></div> <!--End title company-->
            <div class="lang"><a href="#" title="English"><img src="images/en.gif" alt="English" /> English</a>
            				<a href="#" title="Tiếng Việt"><img src="images/vn.gif" alt="Việt Nam" /> Tiếng Việt</a> 
                            <a href="#" title="Korea"><img src="images/korea.gif" alt="Korea" /> Korea</a>
                            <p class="tent-lang">Tư vấn : 0933 472 626 (Mr Hạnh)</p> 
            </div> <!--End lang-->	<div class="clear"></div>
        </div><!--End header-->
        <div class="all-nav">
     	   <ul class="nav">
                <li><a href="index.html" title="">Trang chủ</a></li>
                <li><a href="about.html" title="">Giới thiệu</a></li>
                <li><a href="product.html" title="">Sản phẩm</a></li>
                <li><a href="services.html" title="" class="select-nav">Dịch vụ</a></li>
                <li><a href="news.html" title="">Tin tức</a></li>
                <li style="background:none"><a href="contact.html" title="">Liên hệ</a></li>
            </ul>	
        </div> <!--End all nav--><div class="clear"></div>
        <div class="container"> 
			<div class="wt-rotator">
				<a href="#"></a>   
				<div class="thumbnails"> 
					  <ul> 
							<li><a href="images/banner.jpg" title="architecture"></a></li> 
							<li><a href="images/banner2.jpg" title="architecture"></a></li> 
							<li><a href="images/banner1.jpg" title="architecture"></a></li> 
					  </ul> 
				</div>  
			</div> 
		</div> <!--End banner-->
        <div id="content">
        	<div id="left-content">
            	<h1 class="title-box"><span>DỊCH VỤ</span></h1>
                <ul class="sub-left">
                    <li><a href="services-detail.html" title="">Dịch vụ về than cám loại 1 theo yêu cầu</a></li>
                    <li><a href="services-detail.html" title="">Dịch vụ loại 2</a></li>
                    <li><a href="services-detail.html" title="">Dịch vụ loại 3</a></li>
                    <li><a href="services-detail.html" title="">Dịch vụ loại 4</a></li>
                </ul>
                <h1 class="title-box"><span>HỖ TRỢ TRỰC TUYẾN</span></h1>
				<ul class="support">
					<li>Tư vấn bán hàng</li>
					<li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
                    <li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
				</ul>
				<h1 class="title-box"><span>THỐNG KÊ TRUY CẬP</span></h1>
				<ul class="statistics">
					<li>Truy cập trong ngày: 000018</li>
					<li>Đang online: 3</li>
					<li>Tổng lượt truy cập: 038082</li>
				</ul>
            </div><!--End left content-->	
        	<div id="right-content">
            	<h1 class="title-box"><span>DỊCH VỤ</span></h1>
				<div class="frame-tent-right"> 
                	<img src="images/about.jpg" alt="Chung khoang" />
					<p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                    <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                    <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                    <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                    <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
				</div> <!--End frame tent right-->
            </div><!--End right content-->
            <div id="colum3">
            	<h1 class="title-box"><span>TIN TỨC</span></h1>
            	<ul class="sub-new">
                    <li><a href="#" title="">Thịt bò Kobe từ Nhật vào Việt Nam sẽ bị tiêu hủy</a></li>
                    <li><a href="#" title="">Cuộc tập trận hải quân hoành tráng nhất trên biển của Iran</a></li>
                    <li><a href="#" title="">Liên tiếp nhiều vụ chạy xe, nhiều nhất là hãng Honda</a></li>
                    <li><a href="#" title="">Thịt bò Kobe từ Nhật vào Việt Nam sẽ bị tiêu hủy</a></li>
                    <li><a href="#" title="">Cuộc tập trận hải quân hoành tráng nhất trên biển của Iran</a></li>
            	</ul>
                <h1 class="title-box"><span>SẢN PHẨM TIÊU BIỂU</span></h1>
                <ul class="typical-product">
                	<li><img src="images/pro-img.jpg" alt="product" /></li>
                    <li><img src="images/pro-img.jpg" alt="product" /></li>
                </ul>
            </div> <!--End colum3--> <div class="clear"></div>
        </div><!--End content-->
</div><!--End wrapper-->
<div id="bg-footer">
    <div id="footer">
        <p>Copyright &copy; TẬP ĐOÀN DOANH NGHIỆP THAN KHOÁNG SẢN VN TKV</p>
        <p>CÔNG TY TNHH THAN PHÚC AN</p>        
    </div><!--End footer-->
</div> <!--End bg footer-->
</body>
</html>

