body {background:#E1E1E1; font-family:Arial, Helvetica, sans-serif;font-size:9pt;padding:35px 0}
.left{float: left}
.right{float:right}
.clear{clear: both}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000}

/*layout*/
*{margin:0; padding:0}
#wrapper {margin:auto; width:958px}
.bg-fter{background:url(../images/bg-footer.png) no-repeat; height:24px}

/*Header*/
#bg-header{background:url(../images/bg_header.png) no-repeat}
#header{padding:20px 5px 26px 20px;position: relative; *padding:20px 5px 24px 20px }

/*Logo*/
#logo{float:left;height: 51px}

/**  Ten cong ty     **/
.title-city{font-size:18pt;color:#000;font-weight:bold;float:left;padding:5px 0 0 30px}

/*Lang ( Ngon ngu) */
.lang{position: absolute;top:30px;right: 15px; text-align: right}
.lang img{margin:0 2px 0 0;position: relative;top:2px}
.lang a{color:#656565; margin:0 5px 0 10px}
.lang a:hover{color:#000}
.tent-lang{color:#000;font-size:10pt;font-weight:bold;margin:5px 0 0 0}

/* Nav ( Menu ) */
#nav{list-style:none}
#nav li{float:left;border-right:1px solid #393939}
#nav li a{color:#fff; padding:9px 20px 10px 20px;display:block}
#nav li a:hover{background:#393939}
#nav .select{background:#393939}
#nav .none-line{border:none}
#nav .none-line a{padding:9px 10px 10px 15px}

/*Banner*/
#banner{padding:10px 9px;background:#fff}

/*Content*/
#content{background:#F4F4F4;padding:8px 10px}

/**  Title box   **/
.title-box{font-size:17px;color:#3F3F3F;padding:7px 0;background:url(../images/bg-title-cat.png) no-repeat}
.title-box span{padding:0 0 0 10px}

/*Left content*/
#left-content{float:left; width:205px}

/*Sub sản phẩm SGS*/
.sub-pro{list-style:none;margin:0 0 15px 0;padding:0 10px 10px 10px;border-left:1px solid #E2E2E2;border-right:1px solid #E2E2E2;border-bottom:1px solid #E2E2E2}
.sub-pro li a{background:url(../images/bull-2.gif) no-repeat left 8px;display:block;color:#625f63;font-size:13px;border-bottom:dashed 1px #c7c5c5;padding:5px 5px 5px 12px}
.sub-pro li a:hover{background:url(../images/bull.gif) no-repeat left 8px;color:#000}
.sub-pro li ul{list-style:none;padding:5px 0 5px 0}
.sub-pro li ul li{font-weight:normal;}
.sub-pro li ul li a{padding:3px 0 3px 20px;background:none;color:#838383}
.sub-pro li ul li a:hover{background:none;text-decoration:underline}

/*Ho tro ky thuat*/
.support{margin:0 0 15px 0;list-style:none;background:#E2E2E2;padding:5px 3px 5px 0px;text-align:center}
.support li{padding:2px 0;line-height: 1.5em}
.support li img{margin:0 0 10px 0}

/*Thong ke truy cap*/
.statistics{list-style:none;padding:5px 3px 10px 15px; background:#E2E2E2;margin:0 0 15px 0}
.statistics li {color:#000; line-height:1.75em;}

/*bg-adv adv left*/
.bg-adv{list-style:none;text-align:center;margin:0 0 10px 0;border-left:1px solid #E2E2E2;border-right:1px solid #E2E2E2;border-bottom:1px solid #E2E2E2}
.bg-adv li{padding:0 0 5px 0}

/*Right content*/
#right-content{float:left;width:723px; margin:0 0 0 9px;}
#right-content p{margin:0 0 8px 0}
#right-content ul li, #rightcontent ol li{margin: 0 0 0 40px}
#right-content ul ,#rightcontent ol{margin: 0 0 12px 0}


.title-right{font-size:17px;color:#3F3F3F;padding:7px 0;background:url(../images/bg-title-right-1.png) no-repeat;margin:0 0 5px 3px}
.title-right span{padding:0 0 0 10px}
.title-right a{color:#FF5400}
.title-right a:hover{color:#f00}

.link{color:#434343; font-size:10pt;font-weight:bold; padding:0 0 10px 0}
.link img{margin:0 3px 0 0}
.link a{ color:#000}
.link a:hover{text-decoration:underline; color:#000}

/*Frame tent right*/
.frame-tent-right {padding:10px 10px 5px 10px; border:1px solid #E2E2E2;margin:3px 0 15px 4px;-webkit-border-radius:1px;-moz-border-radius:1px}
.frame-tent-right p{text-align:justify;line-height:1.5em}

/*** San pham noi bat of page index*****/
.all-product{margin: 0 0 10px 0}
.product{width:175px;text-align:center;padding:15px 0 4px 0;background:#fff; margin:0 0 10px 3px !important; display:inline-block; vertical-align:top;*float:left; }

/** Tent product and frame product img **/
.product-img{height:160px;width:175px;display:table-cell;vertical-align:middle}
.price{color:#3F3F3F;font-size:10pt; margin:5px 0 12px 0 !important }

/****  Tieu đề sản phẩm    ****/
.title-pro{ font-size:10pt;margin:0 0 8px 0;color:#444;padding:0 5px}
.title-pro a{color:#444}
.title-pro a:hover{color:#9A9A9A}

/***  Bton chi tiet and Dat hang  **/
.bton-pro{margin:0 !important}
.bton-detail{background:url(../images/btn_exclusive.gif) repeat-x;color:#fff;padding:4px 20px;font-weight:bold}
.add-to-cart{background:url(../images/btn_button.gif) repeat-x;color:#fff;padding:4px 20px;font-weight:bold}

.add-to-cart:hover{background:#444} .bton-detail:hover{background:#282828}
.bton-pro a:hover{color:#fff}
/****    End San pham noi bat of page index    ********/

/**  Sub new   **/
.frame-new{margin:30px 0 0 0}
.sub-new{list-style:none;margin:0 0 15px 0;padding:5px 10px 0 20px}
.sub-new li{padding:0 0 5px 0;line-height:1.5em;margin:0 0 0 !important}
.sub-new li a{ display:block;color:#161616;background:url(../images/bull.gif) no-repeat left 4px; padding:1px 0 1px 15px}
.sub-new li a:hover{background:url(../images/bull-hover.gif) no-repeat left 4px;color:#f90}

/** sub video **/
.video{list-style:none;border:1px solid #F2F2F2;text-align: center;padding:5px 0;margin:0 0 15px 0}
.video li{padding:0 0 5px 0}

/***    Page product-info     ****/
.frame-pro-info{background: #fff;padding:15px 15px 5px 15px;margin: 0 0 15px 0}
.title-pro-order{color:#333; font-size:14px; font-weight:bold;margin:0 0 10px 0;border-bottom:1px solid #ccc;padding:0 0 10px 0}
.title-pro-order span{padding:0 0 0 10px}

.row-info{margin: 0 0 15px 0}
.right-info{float:left;width: 385px;margin:0 0 0 15px}
.title-info{margin:0 0 10px 0;color: #fff}
.title-info span{background: #444444;padding:3px 10px}
.price-info{color:#3F3F3F;margin:0 0 10px 0 !important;font-size: 10pt}
.price-info span{margin: 0 0 0 10px;color: #000}

/*   Page New  */
.masuring{text-align:justify;font-size:10pt;list-style:none}
.masuring li{margin:0 0 5px 0 !important }
.masuring p{line-height:1.4em}
.frame-img{float:left;width:143px;margin:0 5px 5px 0}
.title-masuring{margin:0 0 5px 0}
.title-masuring a{color:#434343;font-size:10pt;font-weight:bold}
.title-masuring a:hover{color:#000}

/*Page product*/
.frame-pro{background:#F3F5F4;padding:20px 15px;text-align:justify;font-size:10pt;color:#666;margin:0 0 10px 0;-webkit-border-radius:4px;-moz-border-radius:4px}
.frame-pro p{line-height:normal !important}

/* paging */
ul.paging{float: right; margin:0; padding:0 0 5px 0; list-style: none;}
ul.paging li{display: inline;margin:0 !important;}
ul.paging .hidden{display: none;}
ul.paging .page a, ul.paging .previous a, ul.paging .first a, ul.paging .next a, ul.paging .last a{color:#434343; border: 1px solid #ccc; padding: 2px 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px}
ul.paging .page a:hover, ul.paging .previous a:hover, ul.paging .first a:hover, ul.paging .next a:hover, ul.paging .last a:hover, ul.paging .selected a{color:#fff; background:#434343}

/**Page Contact**/
/*** Frame title company  ***/
#frame-info-contact{margin:0 0 15px 0}

/** Form lien he  **/
.frame-contact{list-style:none;margin:0 0 10px 0}
.frame-contact label{color:#555; margin:0 !important;font-weight:bold;width:100px; float:left}
.frame-contact li{padding:4px 0; margin:0 !important}
.frame-contact input{ margin:0 20px 0 0; padding:3px;width:220px; border:1px solid #ddd;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.frame-contact textarea{border:1px solid #ddd; width:350px;-moz-border-radius: 3px; -webkit-border-radius:3px}
.frame-contact span{color:#F00;margin:0 5px 0 0}

.frame-contact .bton-dk{margin:10px 0 5px 30px;background:#372E27;color:#fff; height:28px;text-align:center; cursor:pointer;width:70px;border:none;font-weight:bold}
.frame-contact .bton-dk{margin:10px 10px 5px 0}
/****  End page contact     *****/

/*Footer*/
#nav-fter{list-style:none;margin:0 0 10px 0}
#nav-fter li{display:inline;}
#nav-fter li a{font-size:10pt;padding:0 15px 0 11px;color:#353535;background:url(../images/bkg-pipe1.gif) no-repeat right}
#nav-fter .none-line a{padding: 0 15px 0 0}
#nav-fter .none-border{background: none}
.title-company-fter{font-size:11pt;color:#000;margin:0 0 5px 0}

#footer{background:#F4F4F4;padding:5px 20px 0 20px; font-size:10pt}
#footer a{color:#000}
#footer a:hover{color:#000}

/* Error */
.errorSummary{border: 1px solid #FA8C1E; padding:2px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin:10px 0 5px 0}
.errorSummary ul{margin:0 10px; padding:0}
.errorSummary ul li{padding:2px 0; color: red}

/*Add to cart*/
.form_order{background:#fff;margin:0 0 15px 0;-webkit-border-radius:0 0 4px 6px;-moz-border-radius:0 0 6px 4px}
.form_order thead{background:#444}
.form_order thead tr td{font-weight : bold;padding : 5px !important; color:#fff;font-size:10pt}

.form_order tbody tr td{border : 1px solid #ddd;}
.form_order tbody tr .pic-order{padding:5px 0}
.form_order tbody tr input{border:1px solid #ccc}
.form_order tbody tr td a{color:#444}
.form_order tbody tr td a:hover{color:#9A9A9A}

.btn_order{cursor:pointer; border:none;font-weight:bold;background:#2C2C2C;padding:5px 7px;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;margin:0 10px 0 0}
.btn_order:hover{color:#fff}

.frm-cart label{width:100px}
.notificaion{color:#2C2C2C;font-size:10pt;margin:0 0 10px 0}
.note span{color:#f00}





