body{background:#DD8D00}
#wrapper{border-left:1px solid #C37D01;border-right:1px solid #C37D01}
#header{background:#C37D01}
#nav{ list-style:none;background:url(../images/menuvideo.jpg) repeat-x;height:30px}
#nav li{float:left;position:relative}
#nav li a{padding:7px 29px;display:block; color:#fff;font-size:10pt}
#nav li a:hover{color:#02035D;background:none}
#nav .select{color:#02035D;background:none}
#nav .none-line{background:none}
#nav .none-line a{padding:7px 30px 7px 30px}
.title-left{background:url(../images/menuvideo.jpg) repeat-x}
#footer{background:url(../images/topvideo.jpg) repeat-x;padding:26px 35px !important;color:#fff !important}
#footer a{color:#fff !important}
