body{font-family:Verdana, Geneva, sans-serif; font-size:9pt; background:url(../images/bg.jpg) no-repeat; height:125px;}
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000;}
ul{list-style:none}
/*layout*/
*{ margin:0; padding:0}
#wapper{width:980px; margin: auto;}

#all{position:relative;}
#menu{position:relative; top:-5px;background:url(../images/menu.gif); height:42px; width:980px; margin-bottom:5px}
#menu ul{padding:13px 0 0 20px; margin:0}
#menu ul li{display:inline; margin:0 10px}
#menu ul li a{color:#fff; text-transform:uppercase; font-size:9pt; font-weight:700;}

#banner{ height:190px; width:560px}


/*Content*/
#content {width:980px; margin:auto;border-left:1px solid #D4D4D4; border-right:1px solid #D4D4D4}
.topborder{ position:relative;top:-4px; left:-2px}
.topborder img{ width:983px}
.btborder{ position:relative; left:-1px}
.btborder img{width:983px}
.btmenu{padding-bottom:10px}
.btmenu img{ margin-top:0px; width:188px;}
.topmenu img{ width:188px;}


/*Left content*/
#lcon{ float:left; width:185px; padding:0px 15px 0 4px; position:relative; top:-7px;}
#lcon h1{background:url(../images/bg-menu-list.gif); height:50px; width:185px; font-size:8pt; color:#fff; text-transform:uppercase; text-align:center; font-weight:700;border-left:1px solid #D4D4D4; border-right:1px solid #D4D4D4}
#lcon h1 span{ position:relative; top:20px;}
#lcon a:hover{text-decoration:underline}
#login a{ text-transform:uppercase; font-family:Tahoma, Geneva, sans-serif; font-weight:normal; font-size:8pt}
#login li{ font-weight:bold; text-transform:capitalize;}
.statistics li:first-letter{text-transform:capitalize}
.statistics{ margin:0; padding:0}
.statistics li{font-family:Tahoma, Geneva, sans-serif}
.pass{position:relative;background:url(../images/pass.jpg); width:160px; height:30px;}
.user{ position:relative;background:url(../images/input.jpg); width:160px; height:30px;}
.user input{ border:none;margin:0 0 0 25px; position:relative; top:4px }
.pass input{ border:none;margin:0 0 0 25px; position:relative; top:4px }
.button{background:url(../images/login.jpg); height:30px; width:65px;}
.ngang{ border:1px solid #999; width:160px;}
#lcon ul{ margin:0 -2px 0 0; padding:10px 0;border-left:1px solid #D4D4D4; border-right:1px solid #D4D4D4;}
#lcon ul li{ margin:0px 10px 0 10px; line-height:2em;}
#lcon ul li a{color:#000; display:block}
#lcon .list{ padding-left:10px; text-transform:capitalize}
#lcon .list li {list-style-image:url(../images/icon.gif); border-bottom:1px dotted #999; }


/*ALL rifht content*/
#allrightcon{float:left;width:770px; position:relative; top:-7px}

/*left allright content*/
#centercon{float:left; width:560px; margin-left:5px;text-align:justify;}
.img{border:2px solid #CCC;-moz-border-radius: 2px; -webkit-border-radius: 2px; margin:0 10px 5px 0px}
.imgcon{border:3px solid #DCDBAD;-moz-border-radius: 2px; -webkit-border-radius: 2px; margin:0 10px 5px 0px}
#centercon h2{ color:#F00; font-size:12pt; text-transform:uppercase; font-weight:700; border-bottom:1px solid #999; padding-bottom:5px; margin:20px 0}
#centercon h3:first-letter{text-transform:capitalize}
#centercon h3{ color:#F00; font-weight:bold}

/*masuring*/
.masuring{ height:105px;font-size:10pt; color:#666; line-height:1.5em; margin-bottom:20px; overflow:hidden}
.masuring p:first-letter{ text-transform:capitalize; }
.masuring a{color:#F00; font-size:10pt; font-weight:700; position:relative; top:-5px; padding-bottom:5px}

#presented p:first-letter{ text-transform:capitalize; }
#presented {font-size:10pt; color:#666; line-height:1.5em; margin-bottom:20px}
.extract{text-align:right; text-transform:capitalize}
.posts a{ text-transform:capitalize; color:#000; font-family:Tahoma, Geneva, sans-serif}
.posts span{color:#666}
.posts li{list-style:disc; margin-left:30px; line-height:1.5em}

/* paging */
.paging{ margin:30px 0 20px 0; text-align:right}
.paging a:hover{background:#FD0000; color:#fff}
.pagenav , .pageactive{border: 1px solid #ccc; padding: 2px 5px; color:#F00; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
.pagecureent{border: 1px solid #ccc; padding: 2px 5px; background:#FF2828; color:#fff; font-weight:bold; -moz-border-radius: 2px; -webkit-border-radius: 2px}
/*Tin moi cap nhat*/
#newupdate{ float:right; width:170px; margin:0 0 0 10px; border:1px solid #D4D4D4; }
#newupdate a{ color:#000; display:block}
#newupdate span{color:#666}
#newupdate a:hover{text-decoration:underline}
#newupdate li:first-letter{ text-transform:capitalize}
#newupdate li{padding:0 4px; margin:10px 0; font-size:10pt}
#newupdate h2{ font-size:10pt; margin:0; text-align:center;background:url(../images/bg-new.gif); color:#FFF; width:170px; padding:5px 0  ; text-transform:capitalize; border-bottom:none}
/*Dang ky*/
#dangky{ margin:10px 10px 0 20px}
#dangky a{ font-weight:bold; color:#000; border-bottom:1px dashed #F00}
#dangky p{ margin:20px 0; color:#666; font-size:10pt}
#dangky span{color:#F00}
#dangky ul{margin:0; padding:0; list-style:none}
#dangky ul li{padding:5px 0;}
#dangky ul li label{float:left; width:130px; padding-top:2px; font-family:Tahoma, Geneva, sans-serif;  text-transform:capitalize; text-align:left; margin-right:10px}
#dangky ul li input{ width:200px;-moz-border-radius: 3px; -webkit-border-radius: 3px; border:1px solid #ccc; padding:3px;}
#dangky .guixoa{ width:87px; border:none; padding:20px 0; margin-right:10px}

.tieude{color:#666; line-height:2em}
.tieude span{ font-size:19pt; text-transform:capitalize; color:#F00}
.tieude b{ font-size:12pt; color:#666; text-transform:capitalize}

/*Liên hệ*/
#contact{color:#666;}
#contact p{ margin:20px 0; color:#666; font-size:10pt; font-family:Tahoma, Geneva, sans-serif}
#contact p:first-letter{text-transform:capitalize}
#contact ul{margin:10px 0; padding:0; list-style:none}
#contact ul li{padding:5px 0; margin-left:-40px}
#contact ul li label{float:left; width:100px; padding-top:2px; color:#666; font-family:Tahoma, Geneva, sans-serif; font-size:11px; text-transform:capitalize; text-align:right; margin-right:10px}
#contact ul li input{ width:250px; border:1px solid #ccc; margin-right:20px; height:20px}
#contact ul li textarea{-moz-border-radius: 3px; -webkit-border-radius: 3px; border:1px solid #ccc;}
#contact .guixoa{ width:70px}
#contact .btloibinh{width:89px; height:28px; border:none}

/*cac doi tac*/
#doitac h2{ border:none; margin:0}
.stepcarousel{
position: relative; /*leave this value alone*/
overflow:scroll; /*leave this value alone*/
width: 540px; /*Width of Carousel Viewer itself*/
height: 130px; /*Height should enough to fit largest content's height*/
margin-bottom: 5px;
margin-left:14px;
}
.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}
.stepcarousel .panel{
float: left; /*leave this value alone*/
overflow: hidden;/*clip content that go outside dimensions of holding panel DIV*/
margin: 18px 3px; /*margin around each panel*/
margin-top: 7px;
width: 100px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}
.stepcarousel .panel img{ width: 95px; height: 77px;}

/*Loi binh*/
.binhluan{ border:2px solid #D4D4D4; padding-left:10px; margin:10px 0}
.binhluan span{ color:#999; font-weight:normal}
#loibinh{width:540px; margin:auto}
#loibinh ul{border-left:1px solid #D4D4D4; border-right:1px solid #D4D4D4; margin-top:0; border-bottom:1px solid #D4D4D4; padding-top:5px}
#bgloibinh{background:url(../images/bg-loibinh.gif); height:32px; width:540px; color:#fff}
#bgloibinh p{position:relative; top:5px; margin-left:20px; text-transform:capitalize;}
/*Supperlist*/
#supperlist{color:#666}
#supperlist h2:first-letter{ text-transform:capitalize}
#supperlist h2{ border:none; color:#666; font-size:9pt; text-transform:none; margin:0}
#supperlist li:first-letter{ text-transform:capitalize}
#supperlist p{ margin:5px 0}
#supperlist p:first-letter{text-transform:capitalize}
#supperlist li{list-style:decimal; margin-left:20px; color:#666}
/*menusmall*/
.menusmall a{color:#666}
.menusmall{padding:0 0 30px 0; margin:10px 0 0 0;border-top:1px solid #D4D4D4}
.menusmall li{display:inline; text-transform:capitalize; color:#666}
.menusmall img{margin:0 5px}


/*Page Dieu Khoan su dung*/
#dieukhoan{ color:#666; line-height:1.75em}
#dieukhoan p:first-letter{ text-transform:capitalize}
#dieukhoan span, h1:first-letter{ text-transform:capitalize;}
.btdieukhoan{text-transform:capitalize; color:#F00}
.quydinh{ list-style:decimal; margin:0 0 0px 20px}
.quydinh li:first-letter{text-transform:capitalize}

/*Right all right content*/
#rightcon{ float:right;width:185px; color:#0FF;text-align:center}
#rightcon h1{background:url(../images/bg-menu-list.gif);height:50px; width:185px; font-size:8pt; color:#fff; text-transform:uppercase; text-align:center; font-weight:700;border-left:1px solid #D4D4D4; border-right:1px solid #D4D4D4}
#rightcon h1 span{position:relative; top:20px;}

#rightcon ul{ margin:0 -2px 0 0; padding:10px 0;border-left:1px solid #D4D4D4; border-right:1px solid #D4D4D4;}
#rightcon ul li{line-height:2em; border-bottom:1px solid #D4D4D4; border-top:1px solid #D4D4D4; margin-bottom:0px}
#rightcon img{}

/*Footer*/
#footer{ text-align:center; text-transform:capitalize; padding:20px 0; font-size:9pt; color:#666; font-weight:bold} 
