<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="vi" />
<meta name="keywords" content="Công trình dân dụng - Sản xuất gạch bêtông khí chưng áp, tấm panel bêtông nhẹ và các sản phẩm v gạch bêtông nhẹ khí chưng áp AAC V-block, tấm panel bêtông nhẹ và các sản phẩm vữa xây, keo dán gạch phục vụ cho ngành xây dựng. http://vuonghai.com" />
<meta name="description" content="Công trình dân dụng  -Sản xuất gạch bêtông khí chưng áp, tấm panel bêtông nhẹ và các sản phẩm v gạch bêtông nhẹ khí chưng áp AAC V-block, tấm panel bêtông nhẹ và các sản phẩm vữa xây, keo dán gạch phục vụ cho ngành xây dựng. http://vuonghai.com" /> 
<meta name="revisit-after" content="1 days" />
<meta name="robots" content="noodp,index,follow" />
<link rel="SHORTCUT ICON" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/gif" />
<title>Tin Tức</title>
<link href="css/dosvn.css" rel="stylesheet" type="text/css" />
<link href="css/wt-rotator.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script> 
<script type='text/javascript' src="js/jquery.imageScroller.js"></script>
<script type='text/javascript' src="js/adv.js"></script>
<script type="text/javascript" src="js/jquery-banner-rotato.js"></script> 
<script type="text/javascript" src="js/jquery-banner-rotato.effect.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		runbanner(575,190);
	});
</script>

</head>
<body>
<div id="wrapper">
    	<div id="header">
        	<div id="header-left"><a href="index.html" title=""><img src="images/logo.png" alt="Logo" /></a></div><!--End left header-->
            <div id="header-right">
                 <p class="link-right"><img src="images/icon-register.png" alt="Registration" /><a href="registration.html" title="Tạo tài khoản">Tạo tài khoản</a> <img src="images/icon-login.png" alt="Login" /><a href="login.html" title="Đăng nhập">Đăng nhập</a></p>
            </div><!--End right header-->
            <div class="clear"></div>
        </div><!--End header--> 
        <ul class="menu">
        	<li><a href="index.html" title="">TRANG CHỦ</a></li>
            <li><a href="services.html" title="">ỨNG DỤNG VLXD NHẸ</a></li>
            <li><a href="technical.html" title="">KỸ THUẬT SỬ DỤNG</a></li>
            <li><a href="technology.html" title="">CÔNG NGHỆ SẢN XUẤT</a></li>
            <li><a href="news.html" title="" class="select">TIN TỨC</a></li>
            <li><a href="video.html" title="" style="background:none">VIDEO</a></li>
        </ul><!--End menu-->        <div class="clear"></div>
        <div class="bd-top-content"></div>
        <div id="content">
        	<div id="leftcontent">
            	<h1 class="title-box"><span>ỨNG DỤNG VLXD NHẸ</span></h1>
                <ul class="subcate">
                    <li><a href="#" title="">Ứng dụng kinh tế </a></li>
                    <li><a href="#" title="">Ứng dụng cách nhiệt</a></li>
                    <li><a href="#" title="">Ứng dụng cách âm</a></li>
                </ul>
                <div class="bd-frame-box"></div><!--Bd frame box-->
                <h1 class="title-box">Hỗ trợ trực tuyến</h1>
				<ul class="support">
					<li>Hỗ trợ kỹ thuật</li>
					<li><a href="ymsgr:sendim?thanhansoft"><img src="http://opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2&amp;l=us" alt="thanhansoft" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
					<li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
					<li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
				</ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
				<h1 class="title-box">Thống Kê Truy Cập</h1>
				<ul class="statistics">
					<li>Truy cập trong ngày: 000018</li>
					<li>Đang online: 3</li>
					<li>Tổng lượt truy cập: 038082</li>
				</ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
                <h1 class="title-box">Quảng Cáo</h1>
                <ul class="top">
                    <li><img src="images/logo-thuonghoi.jpg" alt="Thuong Hoi" title="Thuong Hoi"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv1.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                </ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
            </div><!--End left content-->
            <div id="rightcontent">
                <div class="container"> 
                    <div class="wt-rotator">
                        <a href="#"></a>   
                        <div class="thumbnails"> 
                              <ul> 
                                    <li><a href="images/banner.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner2.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner3.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner4.jpg" title="architecture"></a></li> 
                              </ul> 
                        </div>  
                    </div> 
                </div> <!--End banner-->
            	<h1 class="title-right">Tin Tức</h1>
                <div class="masuring">
                    <a href="news-detail.html" title=""><img src="images/no-images.jpg" class="imgcon" style="float:left;" alt="chứng khoán"  /></a>
                    <h2 class="title-masuring"><a href="news-detail.html" title="">Chứng khoán toàn cầu thiệt hại tới 4.000 tỷ USD</a></h2>
                    <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                </div>
                <div class="masuring">
                    <a href="news-detail.html" title=""><img src="images/no-images.jpg" class="imgcon" style="float:left;" alt="chứng khoán"  /></a>
                    <h2 class="title-masuring"><a href="news-detail.html" title="">chứng khoán toàn cầu thiệt hại tới 4.000 tỷ USD</a></h2>
                    <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                </div>
                <div class="masuring">
                    <a href="news-detail.html" title=""><img src="images/no-images.jpg" class="imgcon" style="float:left;" alt="chứng khoán"  /></a>
                    <h2 class="title-masuring"><a href="news-detail.html" title="">vòng xoáy thanh khoản và những thách thức cơ bản</a></h2>
                    <p>Thời gian gần đây có nhiều bài báo lên tiếng về tình trạng sức khỏe không mấy tốt của thị trường chứng khoán Việt Nam và người ta lại đặt câu hỏi có nên cứu thị trường chứng khoán hay không. Đây cũng là dịp để có thể nhìn lại con đường phát triển chứng khoán Việt Nam.</p>
                    <p>Thời gian gần đây có nhiều bài báo lên tiếng về tình trạng sức khỏe không mấy tốt của thị trường chứng khoán Việt Nam và người ta lại đặt câu hỏi có nên cứu thị trường chứng khoán hay không. Đây cũng là dịp để có thể nhìn lại con đường phát triển chứng khoán Việt Nam.</p>
                </div>
                <div class="masuring">
                    <a href="news-detail.html" title=""><img src="images/no-images.jpg" class="imgcon" style="float:left;" alt="chứng khoán"  /></a>
                    <h2 class="title-masuring"><a href="news-detail.html" title="">9 cổ phiếu vốn hóa lớn nhất HSX không đủ điều kiện giao dịch ký quỹ</a></h2>
                    <p>Dự thảo mới nhất về giao dịch mua ký quỹ (margin) của Ủy ban chứng khoán Nhà nước (UBCKNN) đã nới các tiêu chuẩn các cổ phiếu được phép margin theo dự thảo trước đó. Tuy nhiên vẫn có tới hơn 60% số cổ phiếu không đáp ứng được yêu cầu.</p>
                </div>
				<div class="paging"><a class="pagenav" href="#">Start</a> <a class="pagenav" href="#">Previous</a> <b class="pagecureent">1</b> <a class="pagenav" href="#">2</a> <a class="pagenav" href="index-detail.html">3</a>  <a class="pageactive" href="#">Next</a> <a class="pagenav" href="#">End</a></div>
            </div><!--End right content-->
			<div id="columns3">
                <h1 class="title-box">Quảng Cáo</h1>
                <ul class="top">
					<li><img src="images/logo-thuonghoi.jpg" alt="Thuong Hoi" title="Thuong Hoi"/></li>
                    <li><img src="images/logo-thuonghoi.jpg" alt="Thuong Hoi" title="Thuong Hoi"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv1.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                </ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
			</div><!--End colums3-->  <div class="clear"></div>
        </div><!--End content-->
        <div class="bd-bt-content"></div>
		<div id="footer">
            <ul class="menu-fter">
                <li><a href="index.html" title="">TRANG CHỦ</a></li>
                <li><a href="services.html" title="">ỨNG DỤNG VLXD NHẸ</a></li>
                <li><a href="technical.html" title="">KỸ THUẬT SỬ DỤNG</a></li>
                <li><a href="technology.html" title="">CÔNG NGHỆ SẢN XUẤT</a></li>
                <li><a href="news.html" title="" class="select">TIN TỨC</a></li>
                <li><a href="video.html" title="" >VIDEO</a></li>
                <li><a href="contact.html" title="" style="background:none">LIÊN HỆ</a></li>
            </ul>
			<p>VUONG HAI CORPORATION Copyright &copy; 2011. Develop by <a href="#" title="">Dos.vn</a></p>
			<p>Office: C1B Dong Khoi, hamlet 4, Tan Hiep ward, Bien Hoa city, Dong Nai province</p>
			<p>Factory: Ong Huong Hamlet, Thien Tan commune, Vinh Cuu district, Dong Nai province</p>
			<p>Phone: (+8461) 3895 060 - (+8461) 3865 819</p>
			<p>Fax: (+8461) 3895 573 - (+8461) 3865 8219</p>
			<p>Website: <a href="http://vuonghai.com" title="Vuonghai.com">www.vuonghai.com</a> - <a href="http://block-betongnhe.com" title="Block betongnhe.com">www.block-betongnhe.com</a></p>
    </div><!--End Footer-->
</div><!--End wrapper-->
</body>
</html>

