<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="vi" />
<meta name="keywords" content="Công trình dân dụng - Sản xuất gạch bêtông khí chưng áp, tấm panel bêtông nhẹ và các sản phẩm v gạch bêtông nhẹ khí chưng áp AAC V-block, tấm panel bêtông nhẹ và các sản phẩm vữa xây, keo dán gạch phục vụ cho ngành xây dựng. http://vuonghai.com" />
<meta name="description" content="Công trình dân dụng  -Sản xuất gạch bêtông khí chưng áp, tấm panel bêtông nhẹ và các sản phẩm v gạch bêtông nhẹ khí chưng áp AAC V-block, tấm panel bêtông nhẹ và các sản phẩm vữa xây, keo dán gạch phục vụ cho ngành xây dựng. http://vuonghai.com" /> 
<meta name="revisit-after" content="1 days" />
<meta name="robots" content="noodp,index,follow" />
<link rel="SHORTCUT ICON" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/gif" />
<title>Đăng Ký Thành Viên</title>
<link href="css/dosvn.css" rel="stylesheet" type="text/css" />
<link href="css/wt-rotator.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script> 
<script type='text/javascript' src="js/jquery.imageScroller.js"></script>
<script type='text/javascript' src="js/adv.js"></script>
<script type="text/javascript" src="js/jquery-banner-rotato.js"></script> 
<script type="text/javascript" src="js/jquery-banner-rotato.effect.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		runbanner(575,190);
	});
</script>

</head>
<body>
<div id="wrapper">
    	<div id="header">
        	<div id="header-left"><a href="index.html" title=""><img src="images/logo.png" alt="Logo" /></a></div><!--End left header-->
            <div id="header-right">
                <p class="link-right"><img src="images/icon-register.png" alt="Registration" /><a href="registration.html" title="Tạo tài khoản">Tạo tài khoản</a> <img src="images/icon-login.png" alt="Login" /><a href="login.html" title="Đăng nhập">Đăng nhập</a></p>
            </div><!--End right header-->
            <div class="clear"></div>
        </div><!--End header--> 
        <ul class="menu">
        	<li><a href="index.html" title="">TRANG CHỦ</a></li>
            <li><a href="services.html" title="">ỨNG DỤNG VLXD NHẸ</a></li>
            <li><a href="technical.html" title="">KỸ THUẬT SỬ DỤNG</a></li>
            <li><a href="technology.html" title="">CÔNG NGHỆ SẢN XUẤT</a></li>
            <li><a href="news.html" title="">TIN TỨC</a></li>
            <li><a href="video.html" title="" style="background:none">VIDEO</a></li>
        </ul><!--End menu-->        <div class="clear"></div>
        <div class="bd-top-content"></div>
        <div id="content">
        	<div id="leftcontent">
            	<h1 class="title-box"><span>Kỹ Thuật Sử Dụng</span></h1>
                <ul class="subcate">
                	<li><a href="#" title="">Kỹ Thuật Sử Dụng 1</a></li>
                    <li><a href="#" title="">Kỹ Thuật Sử Dụng 2</a></li>
                    <li><a href="#" title="">Kỹ Thuật Sử Dụng 3</a></li>
                </ul>
                <div class="bd-frame-box"></div><!--Bd frame box-->
            	<h1 class="title-box"><span>ỨNG DỤNG VLXD NHẸ</span></h1>
                <ul class="subcate">
                    <li><a href="#" title="">Ứng dụng kinh tế </a></li>
                    <li><a href="#" title="">Ứng dụng cách nhiệt</a></li>
                    <li><a href="#" title="">Ứng dụng cách âm</a></li>
                </ul>
                <div class="bd-frame-box"></div><!--Bd frame box-->
                <h1 class="title-box">Hỗ trợ trực tuyến</h1>
				<ul class="support">
					<li>Hỗ trợ kỹ thuật</li>
					<li><a href="ymsgr:sendim?thanhansoft"><img src="http://opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2&amp;l=us" alt="thanhansoft" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
					<li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
					<li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
				</ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
				<h1 class="title-box">Thống Kê Truy Cập</h1>
				<ul class="statistics">
					<li>Truy cập trong ngày: 000018</li>
					<li>Đang online: 3</li>
					<li>Tổng lượt truy cập: 038082</li>
				</ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
                <h1 class="title-box">Quảng Cáo</h1>
                <ul class="top">
                    <li><img src="images/logo-thuonghoi.jpg" alt="Thuong Hoi" title="Thuong Hoi"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv1.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                </ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
            </div><!--End left content-->
            <div id="rightcontent">
                <div class="container"> 
                    <div class="wt-rotator">
                        <a href="#"></a>   
                        <div class="thumbnails"> 
                              <ul> 
                                    <li><a href="images/banner.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner2.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner3.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner4.jpg" title="architecture"></a></li> 
                              </ul> 
                        </div>  
                    </div> 
                </div> <!--End banner-->
            	<h1 class="title-right">Đăng Ký Thành Viên</h1> 
                <form action="" class="frm-registration"method="post">
                        <p>Cám ơn bạn đã dành thời gian đăng ký gia nhập sieuthiPOSM, thông tin bàn càng chính xác sẽ giúp chúng tôi phân phối nhóm và được hỗ trợ từ các thành viên khác. Những thông tin không đầy đủ người quản lý sẽ xóa mà không cần thông báo.</p>
                                <ul class="bt-frm-login">
                                    <li><label>Tên đăng nhập<span>*</span> : </label><input type="text" name="accout" value="" /></li>
                                    <li><label>Email<span>*</span> : </label><input type="text" name="email" value="" /></li>
                                    <li><label>Mật khẩu<span>*</span> : </label><input type="password" name="pass" value="" /></li>
                                    <li><label>Xác nhận mật khẩu<span>*</span> : </label><input type="password" name="repeat-pass" value="" /></li>
                                    <li><label>Họ tên<span>*</span> : </label><input type="text" name="username" value="" /></li>
                                    <li class="select-date"><label>Ngày sinh<span>*</span> : </label>
                                            <input type="text" name="day" value="Day" onblur="if(this.value=='') this.value='Day'" onfocus="if(this.value =='Day' ) this.value=''"/> 
                                            <select size="1" name="month">
                                                <option value="0">Chọn Tháng</option>
                                                <option value="1">Tháng 1</option>
                                                <option value="2">Tháng 2</option>
                                                <option value="3">Tháng 3</option>
                                                <option value="4">Tháng 4</option>
                                                <option value="5">Tháng 5</option>
                                                <option value="6">Tháng 6</option>
                                                <option value="7">Tháng 7</option>
                                                <option value="8">Tháng 8</option>
                                                <option value="9">Tháng 9</option>
                                                <option value="10">Tháng 10</option>
                                                <option value="11">Tháng 11</option>
                                                <option value="12">Tháng 12</option>
                                            </select>
                                            <input type="text" name="year" value="Year" onblur="if(this.value=='') this.value='Year'" onfocus="if(this.value =='Year' ) this.value=''" />
                                    </li>
                                    <li><label>Địa chỉ<span>*</span> : </label><input type="text" name="address" value="" /></li>
                                    <li><label>Số CMND<span>*</span> : </label><input type="text" name="CMND" value="" /></li>
                                    <li><label>Di động<span>*</span> : </label><input type="text" name="phone" value="" /></li>
                                    <li><label>Số tài khoản<span>*</span> : </label><input type="text" name="sotaikhoan" value="" /></li>
                                    <li><label>Ngân hàng<span>*</span> : </label><input type="text" name="bank" value="" /></li>
                                    <li><label>Người giới thiệu<span>*</span> : </label><input type="text" name="who-introduced" value="" /></li>
                                    <li><label>Người thụ hưởng<span>*</span> : </label><input type="text" name="beneficiary" value="" /></li>
                                    <li class="bg-singin"><label></label><input type="submit"  title="Đăng ký"  value="Đăng ký"class="bton-dk" /> <input type="reset"  title="Hủy bỏ"  value="Hủy bỏ"class="bton-dk" /> </li>
                                </ul>
                    </form>
            </div><!--End right content-->
			<div id="columns3">
                <h1 class="title-box">Quảng Cáo</h1>
                <ul class="top">
					<li><img src="images/logo-thuonghoi.jpg" alt="Thuong Hoi" title="Thuong Hoi"/></li>

                    <li><img src="images/logo-thuonghoi.jpg" alt="Thuong Hoi" title="Thuong Hoi"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv1.jpg" alt="Adv" title="adv"/></li>
                    <li><img src="images/adv2.jpg" alt="Adv" title="adv"/></li>
                </ul>
                <div class="bd-frame-box"></div><!--End Bd bt frame box-->
			</div><!--End colums3-->  <div class="clear"></div>
        </div><!--End content-->
        <div class="bd-bt-content"></div>
		<div id="footer">
            <ul class="menu-fter">
                <li><a href="index.html" title="">TRANG CHỦ</a></li>
                <li><a href="services.html" title="">ỨNG DỤNG VLXD NHẸ</a></li>
                <li><a href="technical.html" title="">KỸ THUẬT SỬ DỤNG</a></li>
                <li><a href="technology.html" title="">CÔNG NGHỆ SẢN XUẤT</a></li>
                <li><a href="news.html" title="" class="select">TIN TỨC</a></li>
                <li><a href="video.html" title="" >VIDEO</a></li>
                <li><a href="contact.html" title="" style="background:none">LIÊN HỆ</a></li>
            </ul>
			<p>VUONG HAI CORPORATION Copyright &copy; 2011. Develop by <a href="#" title="">Dos.vn</a></p>
			<p>Office: C1B Dong Khoi, hamlet 4, Tan Hiep ward, Bien Hoa city, Dong Nai province</p>
			<p>Factory: Ong Huong Hamlet, Thien Tan commune, Vinh Cuu district, Dong Nai province</p>
			<p>Phone: (+8461) 3895 060 - (+8461) 3865 819</p>
			<p>Fax: (+8461) 3895 573 - (+8461) 3865 8219</p>
			<p>Website: <a href="http://vuonghai.com" title="Vuonghai.com">www.vuonghai.com</a> - <a href="http://block-betongnhe.com" title="Block betongnhe.com">www.block-betongnhe.com</a></p>
    </div><!--End Footer-->
</div><!--End wrapper-->
</body>
</html>

