/*Tab Detail */
.infotab{padding: 5px}
ul.tabs { margin:0 ;padding:0;width: 100%;}
ul.tabs li {float: left;background:#396AAC;overflow: hidden;position: relative;}
ul.tabs li a {color:#fff;display: block;padding: 5px 22px;border-right: 2px solid #fff}
ul.tabs li a:hover {background: #ccc;}    

.tab_container {width: 100%;background: #F9F9FB; border: 1px solid #E4E3E3;-webkit-border-radius: 0 0 2px 2px;-moz-border-radius: 0 0 2px 2px}
ul.tab_content {padding:5px;list-style: none}

/**frame seo**/
.tab_container label{color:#555; margin:0 !important;font-weight:bold;width:100px; float:left}
.tab_content li{padding:4px 0; margin:0 !important}
.tab_content input{ margin:0 20px 0 0; padding:3px;width:220px; border:1px solid #ddd;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.tab_content textarea{border:1px solid #ddd; -moz-border-radius: 3px; -webkit-border-radius:3px}

.bton-dk{margin:0 0 10px 0;background:#332923;color:#fff;padding:7px 0;text-align:center; cursor:pointer;width:70px;border:none;-moz-border-radius: 3px; -webkit-border-radius: 3px;font-weight:bold}
