body {padding:15px 0 ;background:#edebdf ;font-family:Arial, Helvetica, sans-serif; font-size:9pt;}
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000;}

/*layout*/
*{margin:0; padding:0}

#wrapper{margin:auto; width: 1004px;background:#fff url(../images/main_top_bg.gif) no-repeat top center}
#page{padding:0 7px;}

/*Header*/
#header{padding:7px 0;position:relative}
.logo{text-align:center;}

/*Lang */
.lang {position:absolute;top:10px; right:10px}
.lang img{ margin:0 5px 0 5px; position:relative; top:2px}
.lang a{ color:#33220C;font-weight:bold}
.lang a:hover{ color:#948440}

/* Hearder Bottom*/
#search{float:left; width:220px;padding:8px 0 0 0}
#frmsearch{margin:0 0 0 10px}
.input{ float:left;border:none;background:url(../images/search_bg.gif) no-repeat; padding:5px 7px;color:#000;width:150px}
.bt-go{float:left;background:url(../images/bkg_btn.png) no-repeat right;cursor:pointer; padding:5px 7px 4px 7px;color:#fff;font-weight:bold;border:none}

/*Menu hd right*/
#bg-menu-hd-right{float:left;height: 45px; text-align:right;background:url(../images/link_bg.gif) no-repeat #E0DDCE;width: 770px}
.welcome{color:#33220C; font-weight:700;font-size: 12pt; position: relative;top:15px;font-weight: bold;right:15px}

/**  Navigation **/
#nav {list-style:none;background:url(../images/nav_bg.gif) no-repeat; height:38px;padding:0 0 0 5px}
#nav li{float:left; position:relative}
#nav li a{padding:11px 12px; display:block; color:#fff;font-weight:bold;font-size:10pt; background:url(../images/nav_line.gif) no-repeat right}
#nav li a:hover{color:#472F10 }
#nav .select{color:#472F10 }
#nav li ul{display:none}
#nav li:hover ul{list-style:none;display:block;position:absolute;border-bottom:1px solid #EEEEEE; z-index:3000;top:38px;width:195px}
#nav li ul li{width:100%; background:#E0DDCE;border-left:1px solid #EEEEEE;border-right:1px solid #EEEEEE;border-top:1px solid #EEEEEE}
#nav li ul li a{font-weight:normal;color:#000;background:none; padding:5px 2px 5px 10px}
#nav li ul li a:hover{ background:#CCC195}
#nav li:hover >a {color:#472F10 }

/** Banner **/
#banner{ margin:0 0 10px 0; }

/*Content*/
#content{background:url(../images/body_bg.gif) repeat-y top center transparent}

/*Left content*/
#leftcontent{float:left; width:220px;padding:10px 0 0 0}
.title-left{font-size:13px;margin:0 0 10px 0; color:#33220C;font-weight:bold; background:url(../images/block_title_top.gif) no-repeat ; padding:8px 0 9px 0;text-align:right}
.title-left span{padding:0 15px 0 0} 

/*Category*/
.sub-cat{list-style:none;padding:5px 0 10px 20px;margin:0 0 15px 0}
.sub-cat li{ padding:0 0 5px 0}
.sub-cat li a{color:#444; font-weight:bold;display:block; *_display:inherit}
.sub-cat li a:hover{ color:#90813E}
.sub-cat li ul{padding:5px 0 0 20px}
.sub-cat li ul li{list-style:none;padding:2px 0}
.sub-cat li ul li a{color:#000; font-weight:normal;display:block; *_display:inherit}

/*bg-adv adv left*/
.bg-adv{list-style:none;text-align:center;margin:0 0 10px 0;padding:10px 0 0 0}
.bg-adv li{padding:0 0 5px 0}

/*Ho tro ky thuat*/
.support{list-style:none;padding:5px 0 1px 0; text-align:center;margin:0 0 15px 0}
.support li{padding:2px 0;line-height: 1.5em}
.support li img{margin:0 0 10px 0}

/*Thong ke truy cap*/
.statistics{list-style:none;padding:5px 3px 10px 20px}
.statistics li {color:#444444;  padding:5px 0}

/*Right content*/
#rightcontent{float:left;width:770px}
#rightcontent p{ margin:0 0 8px 0 }
#rightcontent ul li,#rightcontent ol li{margin:0 0 0 18px}

.mid-right{padding:10px}

.title-right{margin:0 0 10px 0;font-size:11pt;font-weight:bold; color:#33220C;padding:0px 1px 0px 0px;}
.title-right span{}
.link{color:#444; font-size:10pt;font-weight:bold;margin:10px 0 10px 0}
.link a{color:#90813E}
.link a:hover{ color:#000}
.link img{margin:0 5px}

/*  Frame about page index*/
.frame-tent-right{background:#fff;padding:10px 5px; text-align:justify;margin:0 0 20px 0;border:2px solid #CCC195;-webkit-border-radius:4px;-moz-border-radius:4px}

/*   Page New  */
.masuring{list-style: none; text-align:justify;font-size:10pt;margin:0 0 20px 0}
.masuring li{ margin:0 0 10px 0 !important}
.frame-img{float:left;width:143px; margin:0 10px 0 0}
.title-masuring{margin:0 0 5px 0}
.title-masuring a{color:#921E1E}
.title-masuring a:hover{color:#FF9933}

/***** Begin Product    *****/
.all-product{}
.product{width:171px; display:inline-block; vertical-align:top; margin:0 6px 20px 8px !important;text-align:center;*float:left}

/* Frame images products*/
.product-top{ background:url(../images/pro_top_bg.gif) no-repeat; height:13px; width:171px}
.product-btom{background:url(../images/pro_bottom_bg.gif) no-repeat; height:13px; width:171px }
.product-mid{width:171px;background:#fff}
.product-tent{ padding:0 3px; *padding:0 0px}
.product-img{width:171px; text-align:center;display:table-cell;vertical-align:middle}

/* Tieu de, gia, add to cart*/
.title-pro{ font-size:10pt;margin:5px 0 5px 0}
.title-pro a{color:#33220C;font-weight:bold}
.title-pro a:hover{color:#92823F}
.price{color:#33220C; font-weight:700;margin: 0 0 10px 0!important; font-size:13px}
.add-to-cart{padding:4px 0 6px 6px; font-weight:700;background:url(../images/bkg_btn.png) no-repeat left top;*padding:0 0 0 6px}
.add-to-cart span{background:url(../images/bkg_btn.png) no-repeat  top right; padding:4px 15px 6px 10px;color:#fff}
/**  End Product  **/

/***    Page product-info     ****/
.frame-pro-info{margin: 0 0 15px 0}
.title-pro-order{color:#333; font-size:14px; font-weight:bold;margin:0 0 10px 0;border-bottom:1px solid #ccc;padding:0 0 10px 0}
.title-pro-order span{padding:0 0 0 10px}

.row-info{margin: 0 0 15px 0}
.right-info{float:left;width: 385px;margin:0 0 0 15px}
.title-info{padding:0 0 5px 0;font-size: 11pt;font-weight:bold; margin:0 0 10px 0;color: #472F10;border-bottom:1px solid #D5C88A}

.price-info{color:#3F3F3F;margin:0 0 10px 0 !important;font-size: 10pt}
.price-info span{margin: 0 0 0 10px;color: #000}

/* paging */
ul.paging{float: right; margin:0; padding:0; list-style: none}
ul.paging li{display: inline;margin:0 !important;}
ul.paging .hidden{display: none;}
ul.paging .page a, ul.paging .previous a, ul.paging .first a, ul.paging .next a, ul.paging .last a{background:#CC6600; color:#fff;  padding: 2px 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px}
ul.paging .page a:hover, ul.paging .previous a:hover, ul.paging .first a:hover, ul.paging .next a:hover, ul.paging .last a:hover, ul.paging .selected a{color:#fff; background:#993300}


/** Form lien he  **/
.title-contact{ background:#CCC195;margin:0 0 10px 0; padding:7px 2px 7px 10px; font-family:Tahoma, Geneva, sans-serif;font-weight:bold; color:#33220C}
#frm{margin:0 0 10px 0;}
.frame-contact label{color:#555;font-weight:700; margin:0 !important;width:150px; float:left}
.frame-contact{list-style:none;margin:15px 0 10px 0}
.frame-contact li{padding:4px 0; margin:0 !important}
.frame-contact input{ margin:0 20px 0 0; padding:3px;width:220px; border:1px solid #ddd;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.frame-contact textarea{border:1px solid #ddd;width: 350px; -moz-border-radius: 3px; -webkit-border-radius:3px}
.frame-contact span{color:#f00;margin:0 5px 0 0}

.frame-contact .bton-dk{margin:10px 0 5px 30px;background:url(../images/button.gif) no-repeat;color:#fff; height:28px;text-align:center; cursor:pointer;width:70px;border:none;font-weight:bold}
.frame-contact .bton-dk{margin:10px 10px 5px 0}
/****  End page contact     *****/

/*Footer*/
.bd-bt-page{background:url(../images/footer-bg-2.gif) no-repeat center;height:21px}
.bg-footer{background:url(../images/footer-bg-1.gif) repeat-y center}
#footer{font-weight:bold;text-align: right;color:#fff;padding:10px 15px 0 0; line-height:1.3em}
.title-company-fter{font-size:10pt}
#footer a:hover{color:#33220C}
#footer a{color:#fff}

/* Error */
.errorSummary{border: 1px solid #FA8C1E; padding:2px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin:10px 0 5px 0}
.errorSummary ul{margin:0 10px; padding:0}
.errorSummary ul li{padding:2px 0; color: red}

/*Add to cart*/
.form_order{background:#fff;margin:0 0 15px 0;-webkit-border-radius:0 0 4px 6px;-moz-border-radius:0 0 6px 4px}
.form_order thead{background:#8E7F3D}
.form_order thead tr td{font-weight : bold;padding : 5px !important; color:#fff;font-size:10pt}

.form_order tbody tr td{border : 1px solid #ddd;}
.form_order tbody tr .pic-order{padding:5px 0}
.form_order tbody tr input{border:1px solid #ccc}
.form_order tbody tr td a{color:#8E7F3D}
.form_order tbody tr td a:hover{color:#2C2C2C}

.btn_order{cursor:pointer; border:none;font-weight:bold;background:#2C2C2C;padding:5px 7px;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;margin:0 10px 0 0}
.btn_order:hover{color:#fff}

.frm-cart label{width:100px}
.notificaion{color:#2C2C2C;font-size:10pt;margin:0 0 10px 0}
.note span{color:#f00}







