.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    height:330px;
    padding:30px 0;margin-left:15px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}


.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  231px;
    height: 300px
}

.jcarousel-skin-tango .jcarousel-item {
	text-align:center;
    width: 186px;
    margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item img{width:186px}

.project-list a{color:#0175be}
/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {position: absolute;bottom:15px;left:70px;width:58px;height:13px;cursor: pointer;background: transparent url(next-list.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {position: absolute;top: 5px;left:70px;width:58px;height:13px;cursor: pointer;background: transparent url(prev-list.png) no-repeat 0 0;}