<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Private Lawer</title>
<meta name="author" content="groupitsoft" />
<meta name="keywords" content="{DTITLE} {TITLEWEB} {KEYWORD} {SITE_NAME}" />
<meta name="description" content="{DTITLE} {TITLEWEB} {KEYWORD} {SITE_NAME}" />
<link type="text/css" rel="stylesheet" href="css/dosvn.css" />
<link type="text/css" rel="stylesheet" href="css/wt-rotator.css" />
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="js/dropdown.js"></script>
<script type="text/javascript" src="js/jquery-banner-rotato.js"></script> 
<script type="text/javascript" src="js/jquery-banner-rotato.effect.js"></script> 
<script type="text/javascript">
	$(document).ready(function(){
		runbanner(600, 410);
	});
</script>
</head>
<body>
<!--Wrapper-->
<div id="wrapper">
    <div style="background:#EBEBE4">
    	<div id="logo">
        	<div><img src="images/logo.png" alt="logo" /></div>
        </div>
        <!--Header-bg-->
        <div id="header-bg">
            <div id="header-all">
                <div id="header-all-left">
					<div class="container"> 
                  		<div class="wt-rotator">
                            <a href="#"></a>   
                            <div class="thumbnails"> 
                                  <ul> 
                                    <li><a href="images/banner-1.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner-2.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner-3.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner-4.jpg" title="architecture"></a></li> 
                                    <li><a href="images/banner-5.jpg" title="architecture"></a></li> 
                                  </ul> 
                            </div>  
                        </div> 
                    </div>
				</div>
                <ul id="header-all-right">
                    <li class="banner1">
                    	<div class="pdtner"><h2><a href="about.html" title="">giới thiệu</a></h2>
                        	<p>Về chúng tôi</p>
                        </div>
                    </li>
                    <li class="banner2">
                    	<div class="pdtner"><h2><a href="handbook.html" title="">cẩm nang</a></h2>
                        	<p>Khởi sự</p>
                        </div>
                    </li>
                    <li class="banner3">
                    	<div class="pdtner"><h2><a href="experience.html" title="">chia sẻ</a></h2>
                        	<p>Kinh nghiệm</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--End Header-bg-->
       
     </div>
       <div class="clear"></div>
	 <!--Menu-->
	 <div id="bgmenu">
     	<ul id="nav">
        	<li><a href="index.html" title="" class="linknav">Trang chủ</a></li>
            <li><a href="about.html" title="" class="linknav">Giới thiệu</a>
            	<ul>
                	<li><a href="#" title="">Công ty tổng quan Công ty tổng quan Công ty tổng quan</a></li>
                    <li><a href="#" title="">Các khu vực</a></li>
                    <li><a href="#" title="">Tin tức</a></li>
                    <li><a href="#" title="">Gần đây trường hợp</a></li>
                </ul>
            </li>
            <li><a href="handbook.html" title="" class="linknav">Cẩm nang</a>
            	<ul>
                	<li><a href="#" title="">Cẩm nang 1</a></li>
                    <li><a href="#" title="">Cẩm nang 2</a></li>
                    <li><a href="#" title="">Cẩm nang 3</a></li>
                    <li><a href="#" title="">Cẩm nang 4</a></li>
                </ul>
            </li>
            <li><a href="experience.html" title="" class="linknav">Kinh nghiệm</a></li>
            <li><a href="partners.html" title="" class="linknav">Đối tác</a></li>
            <li><a href="contact.html" title="" class="linknav">Liên hệ</a></li>
        </ul>
	 </div><!--End Menu-->
     <div class="clear"></div>
		<!--ALL Content-->
		<div id="allcontent">
			<!--Left content-->
			<div id="leftcontent">
					<h1 class="title">mẫu liên hệ</h1>
					<div>Test</div>
					<form class="contact" method="post" name="dangky" action="">
						<p>quý khách có thể liên hệ với chúng tôi bằng cách điền đầy đủ thông tin vào mẫu sau:</p>
						<ul>
							<li><label><span>*</span> họ tên: </label><input type="text" name="username" value="" /></li>
							<li><label>công ty: </label><input type="text" name="username" value="" /></li>
							<li><label><span>*</span> địa chỉ: </label><input type="text" name="username" value="" /></li>
							<li><label><span>*</span> điện thoại: </label><input type="text" name="username" value="" /></li>
							<li><label><span>*</span> email: </label><input type="text" name="username" value="" /></li>
							<li><label><span>*</span> nội dung:</label><textarea name="noidung" rows="10" cols="50"></textarea><img src="images/image11.jpg" alt="Noidung" width="160" class="imgcontact"  /></li>
							<li><label></label><input type="submit" value="Gửi"  name="gui" class="guixoa"/><input type="reset" value="Xoá" name="xoa"  class="guixoa"/></li>
						</ul>
					</form>
			</div><!--End Left content-->
			<!--Right content-->
			<div id="rightcontent">
				<div id="allinfo">
                    <h3 class="titleh3">Hỗ trợ trực tuyến</h3>
                    <ul id="subsupport">
                    	<li>Hỗ trợ kỹ thuật</li>
                        <li><a href="ymsgr:sendim?thanhansoft"><img src="http://opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2&amp;l=us" alt="thanhansoft" /></a></li>
                        <li>Hỗ trợ doanh nghiệp</li>
                        <li><a href="ymsgr:sendIM?thanhansoft">
                <img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
                        <li>Hỗ trợ doanh nghiệp</li>
                        <li><a href="ymsgr:sendIM?thanhansoft">
                <img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
                    </ul>
                    <h3 class="titleh3">Thống kê truy cập</h3>
                    <ul id="substatistics">
                        <li>Truy cập trong ngày: 000290</li>
                        <li>Đang online: 12</li>
                        <li>Tổng lượt truy cập: 077281</li>
                    </ul>
                    <h3 class="titleh3">Đối tác khách hàng</h3>
                    <ul id="subcustomer">
                        <li><img src="images/logo_thuonghoi.jpg" alt="Thương Hội" /></li>
                        <li><img src="images/logocopy.jpg" alt="Kinh doanh" /></li>
                        <li><img src="images/congan.png" alt="Công an thành phố" /></li>
                        <li><img src="images/sonadezi.jpg" alt="sonadezi" /></li>
                    </ul>
                 </div>
			</div><!--End Right content-->
		</div><!--End Content-->

    <div class="clear"></div>
    <!--Footer-->
    <div id="bg-footer">
    	<div id="footer">
        	<p>&copy; 2008 by dos.vn. all rights reserved</p>
            <p>powered by <a href="#">dos.vn</a> </p>
        </div>
    </div><!--End Footer-->
</div><!--End wrapper-->
</body>
</html>
