
#nav li a{padding:0 20px 15px 10px}
.sub-cat li a{}
.product-top{height:10px;}
.product-btom{}
#rightcontent .product{float:left;margin:0 10px 10px 5px;border:1px solid #FFCEDA;}
.tent-product{border:none}
#footer{padding:0}