.jcarousel-skin-tango .jcarousel-container {margin:0 !important;padding:0}
.title-scroll{color:#A80000;font-size:11pt;position:relative;top:7px;z-index:2}

.jcarousel-skin-tango .jcarousel-direction-rtl {direction: rtl;}
.jcarousel-skin-tango .jcarousel-container-horizontal {width:300px;margin:0;padding:0}
.jcarousel-skin-tango .jcarousel-clip {overflow: hidden;}
.jcarousel-skin-tango .jcarousel-clip-horizontal {width:  300px;}
.jcarousel-skin-tango .jcarousel-item  a{color:#000}
.jcarousel-skin-tango .jcarousel-item  a:hover{color:#A80000}
.jcarousel-skin-tango .jcarousel-item {width:95px;text-align:center; margin:0 7px 0 0 !important}
.jcarousel-skin-tango .jcarousel-item  .adv-img-cter{display:table-cell;vertical-align:middle;height:120px;width:120px;border:#ccc solid 1px}

.jcarousel-skin-tango .jcarousel-item-placeholder {    background: #fff;    color: #000;}*/
/**
 *  Horizontal Buttons
 */
 .frame-mycarousel{clear:both;position:relative}
/*.jcarousel-skin-tango .jcarousel-next-horizontal{position:absolute; right:130px; bottom:-20px; z-index:4;width: 15px;height: 15px;cursor: pointer;background: transparent url(../images/next.png) no-repeat 0 0;}

.jcarousel-skin-tango .jcarousel-prev-horizontal{position:absolute; left:130px; bottom:-20px;z-index:4;width:15px;height:15px;cursor: pointer;background: transparent url(../images/prev.png) no-repeat 0 0;}
*/
.jcarousel-skin-tango .jcarousel-next-horizontal{position:absolute; right:130px; bottom:-20px; z-index:4;width: 15px;height: 15px;cursor: pointer;background: transparent url(../images/next-new.png) no-repeat 0 0;}

.jcarousel-skin-tango .jcarousel-prev-horizontal{position:absolute; left:130px; bottom:-20px;z-index:4;width:15px;height:15px;cursor: pointer;background: transparent url(../images/prev-new.png) no-repeat 0 0;}

/** jcarousel 3   **/
.jcarousel-skin-tango3 .jcarousel-container {margin:0;padding:0}
.jcarousel-skin-tango3 .jcarousel-direction-rtl {direction: rtl;}
.jcarousel-skin-tango3 .jcarousel-container-horizontal {width:940px;margin:0;padding:0}
.jcarousel-skin-tango3 .jcarousel-clip {overflow: hidden;}
.jcarousel-skin-tango3 .jcarousel-clip-horizontal {width:885px;margin-left:27px}
.jcarousel-skin-tango3 .jcarousel-item {width:65px;text-align:center; margin:0 26px 0 0 !important}
.jcarousel-skin-tango3 .jcarousel-item-placeholder{    background: #fff;    color: #000;}

/*  Horizontal Buttons  */
.frame-mycarousel{clear:both;position:relative}
.jcarousel-skin-tango3 .jcarousel-next-horizontal{position:absolute; right:0; top:20px; z-index:4;width:21px;height:21px;cursor: pointer;background: transparent url(../images/next-adv.png) no-repeat 0 0;}
.jcarousel-skin-tango3 .jcarousel-prev-horizontal{position:absolute; left:0; top:20px;z-index:4;width:21px;height:21px;cursor: pointer;background: transparent url(../images/pre-adv.png) no-repeat 0 0;}

/**  project-hot  **/
#project_hot{list-style:none;margin:0;padding:0}
.jcarousel-skin-project-hot .jcarousel-container {margin:0;padding:0}
.jcarousel-skin-project-hot .jcarousel-direction-rtl {direction: rtl;}
.jcarousel-skin-project-hot .jcarousel-container-horizontal {width:460px;margin:0;padding:5px 0;border-top:1px solid #029CD8;border-bottom:1px solid #029CD8}
.jcarousel-skin-project-hot .jcarousel-clip {overflow: hidden;}
.jcarousel-skin-project-hot .jcarousel-clip-horizontal {width:419px;margin-left:21px}
.jcarousel-skin-project-hot .jcarousel-item {width:100px;text-align:center; margin:0 6px 0 0 !important}
.jcarousel-skin-project-hot .jcarousel-item-placeholder{background: #fff;    color: #000;}
.jcarousel-skin-project-hot .jcarousel-item  a{color:#333}
.jcarousel-skin-project-hot img{width:100px}
.jcarousel-skin-project-hot .jcarousel-item  a:hover{color:#990505}

/*  Horizontal Buttons  */
.frame-mycarousel{clear:both;position:relative}
.jcarousel-skin-project-hot .jcarousel-next-horizontal{position:absolute; right:0; top:20px; z-index:4;width:14px;height:42px;cursor: pointer;background: transparent url(../images/next-hot.png) no-repeat 0 0;}
.jcarousel-skin-project-hot .jcarousel-prev-horizontal{position:absolute; left:0; top:20px;z-index:4;width:14px;height:42px;cursor: pointer;background: transparent url(../images/prev-hot.png) no-repeat 0 0;}


/** ADV  **/
.jcarousel-skin-tango-adv .jcarousel-container{}
.jcarousel-skin-tango-adv .jcarousel-direction-rtl {direction: rtl;}
.jcarousel-skin-tango-adv .jcarousel-container-vertical{width:102px;height: 245px;}
.jcarousel-skin-tango-adv .jcarousel-clip {overflow: hidden;}
.jcarousel-skin-tango-adv .jcarousel-clip-vertical{width:102px;height: 245px;}
.jcarousel-skin-tango-adv .jcarousel-item {width:102px;height:102px;}
.jcarousel-skin-tango-adv .jcarousel-item-vertical{margin-bottom:5px;}
.jcarousel-skin-tango-adv .jcarousel-item-placeholder {background: #fff;color: #000;}

/** project_list  **/
.jcarousel-skin-tango-list .jcarousel-container{}
.jcarousel-skin-tango-list .jcarousel-direction-rtl {direction: rtl;}
.jcarousel-skin-tango-list .jcarousel-container-vertical{width:102px;height: 245px;}
.jcarousel-skin-tango-list .jcarousel-clip {overflow: hidden;}
.jcarousel-skin-tango-list .jcarousel-clip-vertical{width:102px;height: 245px;}
.jcarousel-skin-tango-list .jcarousel-item {width:102px;height:102px;}
.jcarousel-skin-tango-list .jcarousel-item-vertical{margin-bottom:5px;}
.jcarousel-skin-tango-list .jcarousel-item-placeholder {background: #fff;color: #000;}

.frame-mycarousel{clear:both;position:relative}
.jcarousel-skin-tango .jcarousel-next-vertical {position: absolute;bottom: 5px;left: 43px;width:58px;height:13px;cursor: pointer;background: transparent url(../images/prev-list.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-prev-vertical {position: absolute;top: 5px;left: 43px;width:28px;height:13px;cursor: pointer;background: transparent url(../images/prev-list.png) no-repeat 0 0;}