/*Tab Detail */
.infotab{margin-bottom:5px}

ul.tabs {margin:0;padding:0;float:left;height:25px;width: 100%;list-style:none}
ul.tabs li {float:left;width:50%;padding:0;height:25px;text-align:center;line-height:25px;overflow: hidden}
ul.tabs li a {color:#00345d;display:block;font-size: 1.2em;border:1px solid #ccc;background:#fff}
ul.tabs li.last-item-tab a{border-left:none}

ul.tabs li:hover{border:none}
ul.tabs li a:hover{background:#3186C7;color:#fff} 
ul.tabs li.active a{background:#3186C7;color:#fff}

.tab_container{border:1px solid #ccc;clear: both;float:left; width:99%;border-top:none}
.tab_content p{line-height:1.3em;margin:0;}
.sub-new-home{margin:0;padding:10px 5px;list-style:none}
.sub-new-home li a{color:#0D4571;display:block;font-size:11px}
.sub-new-home li a:hover{color:#F58220}
.sub-new-home img{float:left;margin:0 5px 5px 0;height:26px;width:40px;border:1px solid #00345d}
.sub-new-home li{display:block;clear:both;padding-bottom:5px}


