<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sieuthi</title>
<meta name="author" content="groupitsoft" />
<meta name="keywords" content="{DTITLE} {TITLEWEB} {KEYWORD} {SITE_NAME}" />
<meta name="description" content="{DTITLE} {TITLEWEB} {KEYWORD} {SITE_NAME}" />
<link type="text/css" rel="stylesheet" href="css/dosvn.css" />
<link type="text/css" rel="stylesheet" href="css/nivo-slider.css" />
<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="js/81.mina.js" ></script>
<script type="text/javascript" src="js/stepcarousel.js" ></script>
</head>

<body>


<!--warpper-->
<div id="wapper">
	<div id="header">
    	<div><img src="images/logo.jpg" alt="logo sieu thi"/></div>
     
    </div>
    <div class="clear"></div>
    <div id="all">
        <div id="menu">
        	<ul>
            	<li><a href="index.html"  title="Trang chủ">trang chủ</a></li>
                <li><a href="philosophy.html" title="Philosophy">philosophy</a></li>
                <li><a href="case-studies.html"  title="Case studies">case studies</a></li>
                <li><a href="measuring.html"  title="Measuring marketing">measuring marketing</a></li>
                <li><a href="dieukhoansudung.html"  title="Điều khoản sử dụng">điều khoản sử dụng</a></li>
                <li><a href="lienhe.html"  title="Liên hệ">liên hệ</a></li>
                
            </ul>
        </div>
        <!--Content-->
        <div id="content">
        	<div class="topborder"><img src="images/top.gif"  alt="border top"/></div>
					<div id="lcon">
					<div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
						<h1><span>supplier - list</span></h1>
							<ul class="list">
								<li><a href="supplier-list.html" title="marketing research">marketing research</a></li>
								<li><a href="#" title="marketing ATL">marketing ATL</a></li>
								<li><a href="#" title="marketing BTL">marketing BTL</a></li>
								<li><a href="#" title="event - PR - TVC">event - PR - TVC</a></li>
								<li><a href="#" title="Digital marketing">Digital marketing</a></li>
								<li><a href="#" title="giấy phép, địa điểm">giấy phép, địa điểm</a></li>
								<li><a href="#" title="MC - PG - model - expert">MC - PG - model - expert</a></li>
								<li><a href="#" title="đồng phục quảng cáo">đồng phục quảng cáo</a></li>
								<li><a href="#" title="in ấn, quà tặng">in ấn, quà tặng</a></li>
								<li><a href="#" title="booth, sân khấu">booth, sân khấu</a></li>
								<li><a href="#" title="vận chuyển, thuê xe">vận chuyển, thuê xe</a></li>
								<li><a href="#" title="cơ sở gia công">cơ sở gia công</a></li>
								<li><a href="#" title="vật tư quảng cáo">vật tư quảng cáo</a></li>
								<li><a href="#" title="âm thanh, ánh sáng, IT">âm thanh, ánh sáng, IT</a></li>
								<li><a href="#" title="dù, pallet, mascot">dù, pallet, mascot</a></li>
								<li><a href="#" title="tổng hợp">tổng hợp</a></li>
							</ul>
						<div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
						
					
						<div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
						<h1><span>đăng nhập</span></h1>
                        	<form id="login" name="login" action="">
                                <ul>
                                    <li>username</li>
                                    <li class="user"><input type="text" name="username" size="15"/></li>
                                    <li>password</li>
                                    <li class="pass"><input type="text" name="pass" size="15"/></li>
                                    <li><input type="checkbox" name="remember" />Remember me</li>
                                    <li><input type="image" src="images/login.gif" /></li>
                                    
                                    <li class="ngang" style="margin:10px 10px"></li>                   	
                                    <li><a href="#" title="">forget password</a></li>
                                    <li><a href="dangky.html" title="Đăng ký">register</a></li>
                                    <li><a href="#">quyền lợi khi là thành viên ?</a></li>
                                </ul>
                            </form>
						<div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
					
				   <div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
						 <h1><span>thống kê truy cập</span></h1>
							<ul class="statistics">
								<li>truy cập trong ngày: 000003</li>
								<li>đang truy cập: 1</li>
								<li>tổng lượt truy cập: 032584</li>
								
							</ul>
				  <div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
				  
				</div><!--END LEFT-->
				<!--Allrightcon-->
				<div id="allrightcon">
					<div id="centercon"> 
						<div id="banner">
                                        <div id="slider-wrapper">
                                                <div id="slider" class="nivoSlider">
                                                    
                                                    <img src="images/banner1.jpg" alt="" />
                                                    <img src="images/banner2.jpg" alt=""  />
                                                    <img src="images/banner3.jpg" alt="" />
                                                    <img src="images/banner4.jpg" alt="" />
                                                    <img src="images/banner5.jpg" alt=""  />
                                                    <img src="images/banner6.jpg" alt=""  />
                                                    <img src="images/banner7.jpg" alt=""  />
                                                    <img src="images/banner8.jpg" alt=""  />
                                                    <img src="images/banner9.jpg" alt=""  />
                                                    <img src="images/banner10.jpg" alt=""  />
                                                </div>
                                          </div>
                                            <script type="text/javascript" src="js/jquery-1.4.3.min.js" > </script>
                                            <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
                                            <script type="text/javascript">
                                            $(window).load(function() {
                                                $('#slider').nivoSlider();
                                            });
                                            </script>
                             
                        </div>
						<div class="clear"></div> 
						
								<h2>điều khoản sử dụng</h2>
                                    <div id="dieukhoan">
                                    		<span>xin hãy đọc kỷ </span> các Điều khoản Sử Dụng này trước khi truy cập và sử dụng website thông tin SieuthiPOSM.com, nơi dành riêng ho những ai quan tâm tới P.O.S.M(Point Of Seles Material) trong các chiến dịch Quảng Cáo.
                                    		<p>việc truy nhập và sử dụng Website: SieuthiPOSM.com sẽ mặc nhiên xác lập việc chấp nhận và 
đồng ý bị ràng buộc bởi các Điều Khoản Sử dụng này, điều này xác lập một thỏa thuận giữa 
bạn và ban quản trị của website về sử dụng thông tin, các dịch vụ (nếu có) có trên Website 
này, tùy từng thời điểm. </p>
                                    	<h1>nguyên tắc hoạt động của SieuthiPOSM.com</h1>
                                    		<p>sieuthiPOSM.com được xây dựng và hoạt động dựa trên sự phối hợp của những chuyên viên 
đang làm việc trong các công ty chuyên cung cấp các thiết bị, vật tư, nguồn lực cho các chiến 
dịch Quảng Cáo, những anh em trong lỉnh vực Marketing BTL, Digital Marketing, nhằm chia sẻ 
những kinh nghiệm thực hiện dự án, trong đó phần phân tích về POSM được tập trung và 
chuyên sâu hơn.</p>
											<p>một số chuyên mục bạn cần phải đăng ký thành viên để truy cập, việc đăng ký hoàn toàn miễn 
phí. Nếu bạn là thành viên của SieuthiPOSM.com, bạn có thể gởi bài, truy xuất thông tin trong 
khuôn khổ được cấp phép. Chúng tôi bảo lưu mọi bản quyền thay đổi, xóa, xuất bản nội dung 
của bạn đưa lên mà không cần phải thông báo trước</p>
										<h1>quy định với người sử dụng:</h1>
                                        <p>bạn phải nhận thức đầy đủ các điều cấm sau:</p>
                                        <ul class="quydinh">
                                                <li>chống Nhà nước Cộng Hoà Xã Hội Chủ Nghĩa Việt Nam, phá hoại khối đoàn kết toàn dân, 
        tuyên truyền, xuyên tạc, kích động và cung cấp thông tin chống phá Nhà nước Việt Nam.</li>
                                                <li>kích động bạo lực, tuyên truyền chiến tranh xâm lược, gây hận thù giữa các dân tộc và nhân 
        dân các nước, kích động dâm ô, đồi trụy, tội ác, tệ nạn xã hội, mê tín dị đoan, phá hoại thuần 
        phong mỹ tục của dân tộc.</li>
                                                <li>xuyên tạc, vu khống, xúc phạm uy tín của tổ chức, danh dự, nhân phẩm, uy tín của công dân.</li>
                                                <li>Quảng cáo, tuyên truyền hàng hoá, dịch vụ thuộc danh mục cấm đã được pháp luật quy định.</li>
                                               	<li>đề cập đến các vấn đề về dân tộc, chính trị và tôn giáo.</li>
                                                <li>sử dụng các từ ngữ vô văn hóa vi phạm truyền thống đạo đức của Việt Nam;</li>
                                                <li>thay đổi, làm hư hại hoặc xoá nội dung bất kỳ hoặc các phương tiện khác mà không phải là 
nội dung thuộc sở hữu của bạn, hoặc gây trở ngại cho những người khác truy cập tới Website: SieuthiPOSM.com</li>
                                                <li>các điều cấm khác theo quy định của pháp luật.</li>
                                        </ul>
                                        <p>vấn đề khác</p>
                                        <ul class="quydinh">
                                        	<li>các bài viết có liên kết ngoài SieuthiPOSM.com, chúng tôi không chịu trách nhiệm với nội 
dung của website được liên kết</li>
                                            <li>chúng tôi có thể thay đổi nội dung của Bản "Điều khoản sử dụng" này mà không cần thông 
báo trước.</li>
                                            <li>nếu bạn có bất kỳ câu hỏi nào, đừng ngần ngại, hảy liên lạc với chúng tôi qua : </li>
                                        </ul>
                                        <div class="btdieukhoan">email: info@SieuthiPOSM.com ; Fax:08.39954121 ; phone:0908 340 939( minh tiền)</div>
                                    </div>
								
						<div class="clear"></div>
						
					</div><!--End centercon-->
					
					<div id="rightcon">
						 <div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
							<h1><span>sản phẩm mới</span></h1>
								<ul>
									<li><img src="images/image-1.jpg" alt="cai du"/></li>
									<li><img src="images/image.jpg" alt="cai du" /></li>
								</ul>
						 <div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>   
									   
						 <div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
								<h1><span>quảng cáo</span></h1>
									<ul>
										<li><img src="images/image-1.jpg" alt="cai du" /></li>
										<li><img src="images/image.jpg" alt="máy lạnh" /></li>
										<li><img src="images/image-1.jpg" alt="cai du" /></li>
										<li><img src="images/image.jpg" alt="máy lanhj" /></li>
									</ul>
						<div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
					</div><!--End rightcon-->
				</div><!--END allrightcon-->
				<div class="clear"></div>
        	<div class="btborder"><img src="images/bottom.gif" alt="bottom" /></div>
   		</div><!--End Content-->
    	<div id="footer">copyright &copy; position co, ltd 2011 all rights reserved</div>
    </div><!--End ALL-->
</div><!--End warpper-->
</body>
</html>
