<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sieuthi</title>
<meta name="author" content="groupitsoft" />
<meta name="keywords" content="{DTITLE} {TITLEWEB} {KEYWORD} {SITE_NAME}" />
<meta name="description" content="{DTITLE} {TITLEWEB} {KEYWORD} {SITE_NAME}" />
<link type="text/css" rel="stylesheet" href="css/dosvn.css" />
<link type="text/css" rel="stylesheet" href="css/nivo-slider.css" />
<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="js/81.mina.js" ></script>
<script type="text/javascript" src="js/stepcarousel.js" ></script>
</head>

<body>


<!--warpper-->
<div id="wapper">
	<div id="header">
    	<div><img src="images/logo.jpg" alt="logo sieu thi"/></div>
     
    </div>
    <div class="clear"></div>
    <div id="all">
        <div id="menu">
        	<ul>
            	<li><a href="index.html"  title="Trang chủ">trang chủ</a></li>
                <li><a href="philosophy.html" title="Philosophy">philosophy</a></li>
                <li><a href="case-studies.html"  title="Case studies">case studies</a></li>
                <li><a href="measuring.html"  title="Measuring marketing">measuring marketing</a></li>
                <li><a href="dieukhoansudung.html"  title="Điều khoản sử dụng">điều khoản sử dụng</a></li>
                <li><a href="lienhe.html"  title="Liên hệ">liên hệ</a></li>
            </ul>
        </div>
        <!--Content-->
        <div id="content">
        	<div class="topborder"><img src="images/top.gif"  alt="border top"/></div>
					<div id="lcon">
					<div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
						<h1><span>supplier - list</span></h1>
							<ul class="list">
								<li><a href="supplier-list.html" title="marketing research">marketing research</a></li>
								<li><a href="#" title="marketing ATL">marketing ATL</a></li>
								<li><a href="#" title="marketing BTL">marketing BTL</a></li>
								<li><a href="#" title="event - PR - TVC">event - PR - TVC</a></li>
								<li><a href="#" title="Digital marketing">Digital marketing</a></li>
								<li><a href="#" title="giấy phép, địa điểm">giấy phép, địa điểm</a></li>
								<li><a href="#" title="MC - PG - model - expert">MC - PG - model - expert</a></li>
								<li><a href="#" title="đồng phục quảng cáo">đồng phục quảng cáo</a></li>
								<li><a href="#" title="in ấn, quà tặng">in ấn, quà tặng</a></li>
								<li><a href="#" title="booth, sân khấu">booth, sân khấu</a></li>
								<li><a href="#" title="vận chuyển, thuê xe">vận chuyển, thuê xe</a></li>
								<li><a href="#" title="cơ sở gia công">cơ sở gia công</a></li>
								<li><a href="#" title="vật tư quảng cáo">vật tư quảng cáo</a></li>
								<li><a href="#" title="âm thanh, ánh sáng, IT">âm thanh, ánh sáng, IT</a></li>
								<li><a href="#" title="dù, pallet, mascot">dù, pallet, mascot</a></li>
								<li><a href="#" title="tổng hợp">tổng hợp</a></li>
							</ul>
						<div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
						
					
						<div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
						<h1><span>đăng nhập</span></h1>
                        	<form id="login" name="login" action="">
                                <ul>
                                    <li>username</li>
                                    <li class="user"><input type="text" name="username" size="15"/></li>
                                    <li>password</li>
                                    <li class="pass"><input type="text" name="pass" size="15"/></li>
                                    <li><input type="checkbox" name="remember" />Remember me</li>
                                    <li><input type="image" src="images/login.gif" /></li>
                                    
                                    <li class="ngang" style="margin:10px 10px"></li>                   	
                                    <li><a href="#" title="">forget password</a></li>
                                    <li><a href="dangky.html" title="Đăng ký">register</a></li>
                                    <li><a href="#">quyền lợi khi là thành viên ?</a></li>
                                </ul>
                            </form>
						<div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
					
				   <div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
						 <h1><span>thống kê truy cập</span></h1>
							<ul class="statistics">
								<li>truy cập trong ngày: 000003</li>
								<li>đang truy cập: 1</li>
								<li>tổng lượt truy cập: 032584</li>
								
							</ul>
				  <div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
				  
				</div><!--END LEFT-->
				<!--Allrightcon-->
				<div id="allrightcon">
					<div id="centercon"> 
						<div id="banner">
                                        <div id="slider-wrapper">
                                                <div id="slider" class="nivoSlider">
                                                    
                                                    <img src="images/banner1.jpg" alt="" />
                                                    <img src="images/banner2.jpg" alt=""  />
                                                    <img src="images/banner3.jpg" alt="" />
                                                    <img src="images/banner4.jpg" alt="" />
                                                    <img src="images/banner5.jpg" alt=""  />
                                                    <img src="images/banner6.jpg" alt=""  />
                                                    <img src="images/banner7.jpg" alt=""  />
                                                    <img src="images/banner8.jpg" alt=""  />
                                                    <img src="images/banner9.jpg" alt=""  />
                                                    <img src="images/banner10.jpg" alt=""  />
                                                </div>
                                          </div>
                                            <script type="text/javascript" src="js/jquery-1.4.3.min.js" > </script>
                                            <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
                                            <script type="text/javascript">
                                            $(window).load(function() {
                                                $('#slider').nivoSlider();
                                            });
                                            </script>
                             
                        </div>
						<div class="clear"></div> 
						
								<h2>liên hệ</h2>
                                <div class="tieude"><span>sieuthiPOSM - </span><b>nơi niềm tin hội tụ</b>
                                    	<div>( Tư vấn, thực hiện thiết kế, hoàn thiện các sản phẩm )</div>
                                        <ul class="info">
                                            <li>Điện thoại :Test</li>
                                            <li>Fax :Test</li>
                                            <li>Hotline :Test</li>
                                            <li>Email :Test</li>
                                        </ul>
                                       
                                </div>
                                    
								<form id="contact" method="post" name="dangky" action="">
                                
                            	<p>quý khách có thể liên hệ với chúng tôi bằng cách điền đầy đủ thông tin vào mẫu sau:</p>
                                <ul>
                                    <li><label>* họ tên: </label><input type="text" name="username" value="" /><img src="images/image11.jpg" alt="Noidung" width="160" style="float:right;"  /></li>
                                    <li><label>công ty: </label><input type="text" name="username" value="" /></li>
                                    <li><label>* địa chỉ: </label><input type="text" name="username" value="" /></li>
                                    <li><label>* điện thoại: </label><input type="text" name="username" value="" /></li>
                                    <li><label>* email: </label><input type="text" name="username" value="" /></li>
                                    <li><label>*nội dung:</label><textarea name="noidung" rows="10" cols="50"></textarea></li>
                                    <li><label></label><input type="submit" value="Gửi"  name="gui" class="guixoa"/><input type="reset" value="Xoá" name="xoa"  class="guixoa"/></li>
                                </ul>
                       		</form>
						<div class="clear"></div>
						
					</div><!--End centercon-->
					
					<div id="rightcon">
						 <div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
							<h1><span>sản phẩm mới</span></h1>
								<ul>
									<li><img src="images/image-1.jpg" alt="cai du"/></li>
									<li><img src="images/image.jpg" alt="cai du" /></li>
								</ul>
						 <div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>   
									   
						 <div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
								<h1><span>quảng cáo</span></h1>
									<ul>
										<li><img src="images/image-1.jpg" alt="cai du" /></li>
										<li><img src="images/image.jpg" alt="máy lạnh" /></li>
										<li><img src="images/image-1.jpg" alt="cai du" /></li>
										<li><img src="images/image.jpg" alt="máy lanhj" /></li>
									</ul>
						<div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
					</div><!--End rightcon-->
				</div><!--END allrightcon-->
				<div class="clear"></div>
        	<div class="btborder"><img src="images/bottom.gif" alt="bottom" /></div>
   		</div><!--End Content-->
    	<div id="footer">copyright &copy; position co, ltd 2011 all rights reserved</div>
    </div><!--End ALL-->
</div><!--End warpper-->
</body>
</html>
