<IfModule mod_rewrite.c>
RewriteEngine On
#Forbidden access to htaccess file
RewriteRule ^\.htaccess$ - [F]
#Non www
RewriteCond %{HTTP_HOST} ^www.thuonghoi.com [NC]
RewriteRule ^(.*)$ http://thuonghoi.com/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
</IfModule>
<IfModule !mod_rewrite.c>
ErrorDocument 404 /index.php
</IfModule>


#DirectoryIndex application
Options All -Indexes



Redirect 301 / http://google.com/