body {background:#fff url(../images/bg-no.gif) repeat-x; font-family:Verdana; font-size:9pt }
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000;}
/*layout*/
*{margin:0; padding:0}
#wrapper { margin:auto; width:950px;   }

/*Header*/
#header{padding:20px 0 40px 0;margin:0 0 20px 0; position:relative}
#logo{float:left;margin:0 30px 0 0}

/**  Ten cong ty     **/
.title-company{padding:25px 0 0 0; font-size:18pt;color:#fff;font-weight:bold}

/*Lang ( Ngon ngu) */
.lang{position: absolute;bottom:10px; right: 0; text-align: right}
.lang img{margin:0 2px 0 0;position: relative;top:2px}
.lang a{color:#fff;font-weight:bold; margin:0 0 0 5px}
.lang a:hover{color:#f89800}
.phone{color:#fff;font-size:10pt;font-weight:bold;padding:5px 0 0 0}

/* Nav  */
#all-nav{position:relative;top:-20px;z-index:300;}
#nav{list-style:none;position:absolute; right:10px; background:url(../images/nav-bg.gif) repeat-x;padding:0 10px 0 10px;margin:0 0 5px 0;-webkit-border-radius:4px;-moz-border-radius:4px}
#nav li{float:left; background:url(../images/nav-line.jpg) no-repeat right;}
#nav li a{color:#fff;padding:20px 15px; color:#f89800;display:block;}
#nav li a:hover{color:#fff}
#nav .select{color:#fff}

#nav li ul{display:none}
#nav li:hover ul{ background:#ED6C12; display:block;width:165px;position:absolute;border-radius:4px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px; z-index:200; top:54px; padding:5px 0 5px 0}
#nav li ul li{width:100%; background:none;}
#nav li ul li a{padding:5px 20px;color:#fff}
#nav li ul li a:hover{color:#500; background:#FFF;}

/*Mid area*/
.title-right ,.title-box{padding:10px 0 10px 15px; font-family: Trebuchet MS, Arial; font-size:16px; color:#000; font-weight:bold }
/*.title-box span {color:#ff5400}*/
.title-right{color:#ff5400}

#content { margin:25px 0 10px 0;  }

/*Left column*/
#leftcontent{width:198px; float:left;margin:0 4px 0 0}
.frame-leftcontent{margin:0 0 10px 0; padding:0 0 15px 0; border:solid 1px #e8e8e8}

.sub-cat { padding:0 20px;list-style:none; }
.sub-cat li a{padding:3px 5px; font-family: Trebuchet MS, Arial; font-size:13px; color:#000; display:block; border-bottom: dashed 1px #c7c5c5;}
.sub-cat li a:hover { background:#ff6000; color:white; }

/*bg-adv adv left*/
.bg-adv{list-style:none;text-align:center;padding:5px 0 0 0}
.bg-adv li{padding:0 0 5px 0}

/*Frame tent right*/
.frame-tent-right {padding:10px 10px 5px 10px;border:1px solid #F0F0F0;margin:0 0 15px 0;-webkit-border-radius:1px;-moz-border-radius:1px}
.frame-tent-right p{text-align:justify;line-height:1.5em}

/*  rightcontent  */
#rightcontent {width:547px; float:left;background:url(../images/center-column-bg.png) no-repeat center top}

.allproduct{padding:0 5px 0 15px;font-family:Trebuchet MS, Arial;}
.product{margin:5px 5px 20px 5px;padding:15px 0; text-align:center;border:solid 1px #e8e8e8; width:227px; display:inline-block; vertical-align:top;*float:left; }
.product-img{width:227px; height:172px; display:table-cell; vertical-align:middle;}

.price{font-size:25px; color:#ff5400;margin:0 0 20px 0  }
.title-pro{margin:5px 0 10px 0}
.title-pro a{font-size:13px; color:#000;  display:block; }
.title-pro a:hover{color:#ff5400}

.bton-pro{margin:10px 0 0 0}
.bton-detail{background:url(../images/bton-detail.gif) repeat-x;color:#fff;padding:5px 14px;font-weight:bold;margin:0 25px 0 0}
.bton-order{background:url(../images/bton-order.gif) repeat-x;color:#fff;padding:5px 12px;font-weight:bold}
.bton-pro a:hover{color:#fff}

/*Right column*/
#column-3 {width:198px; float:right;}

/*BEST SELLERS*/
.sellers { margin:0 0 10px 0; padding:0 0 10px 0; border:solid 1px #e8e8e8;  }
.sub-new{ margin:0 0 0 25px}
.sub-new li{list-style:decimal; color:#ff9c00; margin:10px 0;*margin:5px 0;}
.sub-new a{display:block; color:#000; text-decoration:none}
.sub-new a:hover{color:#FE8005}

/*Footer*/
#allfooter{background:#000}
#footer {margin:auto; width:950px;padding:25px 0 20px 0; background:#000; color:#FFF;text-align:center;}
#menufooter li{ display:inline; list-style:none;}
#menufooter li a{text-transform:capitalize;font-family:Trebuchet MS, Arial; font-size:13px; padding:10px 5px; color:#FFF; text-decoration:none}
#menufooter a:hover { text-decoration:underline; }
#footer p { margin:15px 0 0 0; padding:0; font-family:Trebuchet MS, Arial; font-size:13px; color:#ff6709; text-align:center; display:block}