body { margin:0; padding:0; background:#fff url(../images/bg.gif) repeat-x;font-family:Tahoma, Geneva, sans-serif; font-size:9pt;}
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000;}

/*layout*/
*{margin:0; padding:0}
#wrapper {margin:auto; width:950px;}

/*Header*/
#header{}
#header-left{float:left;}

/*Lang*/
.lang{float:right; text-align:right;padding:70px 0 0 0}
.lang img{position:relative;top:2px}
.lang a{color:#228BC8;font-weight:bold; margin:0 5px 0  10px}
.lang a:hover{color:#000}

/*Nav*/
#nav{list-style:none;background:url(../images/nav-bg.jpg) no-repeat; height:36px;padding:0 10px 0 15px;margin:0 0 5px 0}
#nav li{float:left; background:url(../images/nav-line.jpg) no-repeat right;}
#nav li a{color:#fff; padding:9px 47px;display:block;font-size:10pt;font-weight:bold;*padding:9px 46px}
#nav li a:hover{background:#228BC8}
#nav .select{background:#228BC8}

/*Banner*/
#banner{margin:0 0 10px 0}

/*Content*/
#content{ margin:0 0 30px 0;}

/*Left content*/
#left-content{float:left; width:224px; }
.title-left{color:#f00; font-size:12pt; font-weight:bold;margin:0 0 10px 0}
.title-left span{padding:0 0 0 10px}

/*Sub sản phẩm SGS*/
.subcate{list-style:none;margin:0 0 15px 0}
.subcate li{padding:2px 0}
.subcate li a{ display:block;color:#1D2263; background:#DFDFDF;font-weight:bold; padding:5px 10px;font-size:10pt;}
.subcate li a:hover{color:#f90}

/*Ho tro ky thuat*/
.support{margin:0 0 15px 0;list-style:none;padding:5px 3px 10px 0px;text-align:center}
.support li {color:#000;padding:2px 0}
.support li img{margin:0 0 10px 0}

/*Thong ke truy cap*/
.statistics{list-style:none;padding:5px 3px 10px 15px}
.statistics li {color:#000; line-height:1.75em;}

/*Right content*/
#right-content{float:right; width:700px}
#right-content p{margin:10px 0}
#right-content ul li, #right-content ol li{margin:0 0 0 18px}

.link{color:#000; font-weight:bold; padding:0px 0 10px 0}
.link img{margin:0 3px 0 0}
.link a{ color:#9A522E; font-size:10pt}
.link a:hover{text-decoration:underline; color:#000}

.title-right{margin:0 0 13px 0;color:#f00; font-size:11pt; font-weight:bold}
.title-right span{}
.title-right a{color:#676767}
.title-right a:hover{color:#f90}

/*Frame tent right*/
.frame-tent-right p{text-align:justify;line-height:1.7em}
.frame-tent-right img{margin:0 15px 2px 0}
.read-more{float:right;color:#217EBB;background:url(../images/readon_bg.jpg) no-repeat left;padding:0 0 0 20px}
.read-more:hover{color:#f90}

/*   Page New  */
.masuring{text-align:justify;font-size:10pt;list-style:none}
.masuring li{margin:0 0 17px 0 !important }
.masuring p{line-height:1.4em}
.frame-img{float:left;width:145px;margin:0 15px 5px 0}
.title-masuring{margin:0 0 5px 0}
.title-masuring a{color:#208FFF;font-size:11pt;font-weight:bold}
.title-masuring a:hover{color:#FF9933}

/*Page product*/
.frame-pro{background:#F3F5F4;padding:20px 15px;text-align:justify;font-size:10pt;color:#666;margin:0 0 10px 0;-webkit-border-radius:4px;-moz-border-radius:4px}
.frame-pro p{line-height:normal !important}

.frame-img-info{text-align:center;margin:0 0 10px 0}
.frame-img-info img{margin:0 !important;border:2px solid #D1D1D1;padding:2px;-webkit-border-radius:3px;-moz-border-radius:3px}

/* paging */
.paging{margin:15px 0 10px 0; text-align:right}
.paging a{color:#3CBEDA}
.paging a:hover{background:#44A4DE; color:#fff;}
.pagenav , .pageactive{border: 1px solid #ccc; padding: 2px 5px; color:#fff; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
.pagecureent{border: 1px solid #ccc; padding: 2px 5px; background:#44A4DE; color:#fff; font-weight:bold; -moz-border-radius: 2px; -webkit-border-radius: 2px}

/**Page Contact**/
.frame-title{margin:0 0 20px 0}

.title-contact{ background:#F0EDE6;margin:10px 0 10px 0; padding:7px 2px 7px 10px; font-family:Tahoma, Geneva, sans-serif;font-weight:bold; color:#000}
.frame-contact label{color:#555; margin:0 !important;font-weight:bold;width:100px; float:left}
.frame-contact{list-style:none;margin:10px 0}
.frame-contact li{padding:4px 0; margin:0 !important}
.frame-contact input{ margin:0 20px 0 0; padding:3px;width:220px; border:1px solid #ddd;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.frame-contact textarea{border:1px solid #ddd; width:350px;-moz-border-radius: 3px; -webkit-border-radius:3px}
.frame-contact span{ color:#F00}

.frame-contact .bton-dk{margin:10px 0 5px 30px;background:url(../images/button.gif) no-repeat;color:#fff; height:28px;text-align:center; cursor:pointer;width:70px;border:none;font-weight:bold}
.frame-contact .bton-dk{margin:10px 10px 5px 0}

/*Footer*/
#footer{text-align:center;margin:0 0 15px 0}
#nav-fter{list-style:none; margin:0 0 15px 0}
#nav-fter li{display:inline}
#nav-fter li a{color:#1A4C98;padding:0 10px;background:url(../images/bkg-pipe2.gif) no-repeat right}
#nav-fter li a:hover{color:#f90}
.frame-info{line-height:1.5em; color:#fff;background:url(../images/footer-bg.jpg) no-repeat;padding:10px 0}

/**    Page san pham than    **/
.product{width:160px;padding:5px 0; margin:0 0 10px 10px; text-align:center;display:inline-block; vertical-align:top;*float:left;*margin:0 10px 5px 0;*padding:2px 0; }
.product-img{height:121px; width:160px;display:table-cell;vertical-align:bottom;padding:3px 0;border:1px solid #ccc;}
.title-pro{ font-size:10pt;margin:10px 0 0 0;font-weight:bold}
.title-pro a{color:#444}
.title-pro a:hover{color:#f90}

.bton-detail{background:url(../images/bton-detail.gif) no-repeat;color:#fff;padding:2px 8px;font-weight:bold;margin:0 10px 0 0}
.bton-order{background:url(../images/bton-order.gif) no-repeat;color:#fff;padding:2px 8px;font-weight:bold}
.bton-pro a:hover{color:#fff}
/***   End page san pham than   ***/

/* Error */
.errorSummary{border: 1px solid #FA8C1E; padding:2px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin:10px 0 5px 0}
.errorSummary ul{margin:0 32px; padding:0}
.errorSummary ul li{padding:2px 0; color: red}