body { background:#e7e7e7 url(../images/bkg-body.gif) repeat-x;font-family:Arial, Helvetica, sans-serif; font-size:9pt;}
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000;}

/*layout*/
*{margin:0; padding:0}

#wrapper {margin:auto; width:997px;}

/*Header*/
#header{ padding:25px 0; position: relative;}
.hot-line{position: absolute;right:0;top:10px;font-weight: bold;font-size: 10pt;color:#f00}
.logo{float:left}

#search{float:right;background:url(../images/searchbg.gif) no-repeat; width:300px;height:44px;position: absolute;right: 0; top:38px}
#frsearch{margin:10px 5px 0 10px;}
.input{ float:left;border:none; padding:2px 0;color:#000; width:210px; margin:2px 0 0 20px;*padding:0; *border:1px solid none}
.bt-go{float:right}

.header-tent{width:964px; margin:auto;position:relative}
#bd-top-ctent{background:url(../images/top-content.gif) no-repeat; height:162px; width:997px;}
.bd-bt-ctent{background:url(../images/bottm-content.gif) no-repeat; height:19px; width:997px}

/**  Menu **/
#nav{list-style:none;background:url(../images/nav_bg.gif) no-repeat; height:40px}
#nav li{float:left; position:relative;}
#nav li a{padding:12px 17px; display:block;font-weight:bold; color:#fff; background:url(../images/nav_spacer.gif) no-repeat right}
#nav li a:hover{color:#333}
#nav .select{color:#333 }

.lang {position:absolute;right:0; top:115px}
.lang img{ margin:0 2px 0 0;position: relative;top:2px}
.lang a{ color:#fff;margin: 0 10px 0 5px}
.lang a:hover{ color:#000}

/** Banner **/
#banner{ margin:0 0 10px 0; }

/* Page Content*/
#content{ background:url(../images/centerbg.gif) repeat-y; padding:0 15px}

.title-left{font-size:13px; color:#fff; background:url(../images/left-toop.penal.gif) no-repeat ; padding:15px 0}
.title-left span{padding:0 0 0 35px; background:url(../images/bullet.gif) no-repeat 18px} 
.bt-left-penal{background:url(../images/left-bttom-penal.gif) no-repeat; height:28px; width:214px; margin:0 0 0 1px}
/*Left content*/
#leftcontent{float:left; width:214px}

/*Category*/
.sub-cat{ background:url(../images/mid-leftpenal.gif) repeat-y; list-style:none;padding:0 10px 0 20px}
.sub-cat li{ padding:5px 0}
.sub-cat li a{color:#000; font-weight:bold;display:block; *_display:inherit}
.sub-cat li a:hover{ color:#578AB2}
.sub-cat li ul{padding:5px 0 0 20px}
.sub-cat li ul li{list-style:none;padding:2px 0}
.sub-cat li ul li a{color:#000; font-weight:normal;display:block; *_display:inherit}

/*Ho tro ky thuat*/
.support{background:url(../images/mid-leftpenal.gif) repeat-y; list-style:none;padding:5px 3px 20px 0px; text-align:center}
.support li {color:#444444; padding:2px 0}
.support li img{margin:0 0 10px 0}

/*Thong ke truy cap*/
.statistics{background:url(../images/mid-leftpenal.gif) repeat-y;list-style:none;padding:5px 3px 20px 20px}
.statistics li {color:#444444;  padding:5px 0}

/*bg-adv adv left*/
.bg-adv{background:url(../images/mid-leftpenal-adv.gif) repeat-y;list-style:none;text-align:center}
.bg-adv li{padding:0 0 5px 0}
 
/*Right content*/
#rightcontent{float:right;width:745px}
#rightcontent p{ margin:0 0 8px 0}
#rightcontent ul li, #rightcontent ol li{margin: 0 0 0 40px}
#rightcontent ul ,#rightcontent ol{margin: 0 0 12px 0}


.bd-top-right{ background:url(../images/bd-top-right.gif) no-repeat; height:21px; width:745px}
.mid-right{ background:url(../images/mid-right.gif) repeat-y;padding:0 10px 5px 10px}
.bd-bt-right{background:url(../images/bd-bt-right.gif) no-repeat; height:21px; width:745px; position:relative; left:-1px}

.title-right{margin:0 0 10px 0;font-size:10pt; background:url(../images/bullet2.gif) no-repeat left 2px ;color:#000;font-weight:bold}
.title-right span{padding:0 0 0 20px}

.link{color:#000; font-weight:bold;padding:0 0 6px 10px}
.link img{margin:0 5px 0 5px}
.link a{ color:#578AB2; font-size:10pt; font-weight:normal}
.link a:hover{ color:#000}

.singin{float:right;background:#A2A2A2; color:#fff;padding:7px 0px; text-align:center; cursor:pointer;width:70px;border:none;font-weight:bold;-webkit-border-radius:4px;-moz-border-radius:4px}

/*Page content right*/
.frame-tent-right{padding:3px 5px 10px 20px;text-align:justify}

/*   Page New  */
.masuring{text-align:justify;font-size:10pt;list-style:none}
.masuring li{margin:0 0 5px 0 !important }
.masuring p{line-height:1.4em}
.frame-img{float:left;width:143px;margin:0 10px 5px 0}
.title-masuring{margin:0 0 5px 0}
.title-masuring a{color:#208FFF;font-size:10pt;font-weight:bold}
.title-masuring a:hover{color:#F90}

/***** Product    *****/
.all-product{list-style: none;margin:0 0 10px 0 !important;}
.product{width:235px; display:inline-block;vertical-align:top; margin:0 0 5px 4px !important; *float: left; }
.product-top{ background:url(../images/pr-top.gif) no-repeat; height:20px; width:235px}
.product-btom{background:url(../images/pr-bottom.gif) no-repeat; height:16px; width:235px}
.product-mid{background:url(../images/pr-mid.gif) repeat-y;display:inline-block}
.tent-product{ padding:0 10px; *padding:0 }
.product-img{width:235px;height: 170px; text-align:center;display:table-cell;vertical-align:bottom}
.title-pro{ font-size:10pt;margin:10px 0; text-align:center;}
.price{float:left;color:#FEB138; font-weight:700; font-size:13px;padding:10px 0 0 0}
.price-add{padding:0 15px}
.title-pro a{color:#000}
.title-pro a:hover{color:#578AB2}
.add-to-cart{float:right; margin:7px 0 0 0;padding: 3px 0 5px 20px; font-weight:700;background:url(../images/bkg_btn.png) no-repeat left top;*padding: 0px 0 0px 20px;*height:22px;}
.add-to-cart span{background:url(../images/bkg_btn.png) no-repeat right; padding:3px 15px 4px 0;color:#fff;}

.frame-img-info{text-align:center;margin:0 0 10px 0}
.frame-img-info img{margin:0 !important;border:2px solid #D1D1D1;padding:2px;-webkit-border-radius:3px;-moz-border-radius:3px}

/*page video*/
.product-img-video{height: 150px;vertical-align:middle}

/* paging */
ul.paging{float: right; margin:0; padding:0; list-style: none}
ul.paging li{display: inline;margin:0 !important;}
ul.paging .hidden{display: none;}
ul.paging .page a, ul.paging .previous a, ul.paging .first a, ul.paging .next a, ul.paging .last a{color:#578AB2; border: 1px solid #ccc; padding: 2px 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px}
ul.paging .page a:hover, ul.paging .previous a:hover, ul.paging .first a:hover, ul.paging .next a:hover, ul.paging .last a:hover, ul.paging .selected a{color:#fff; background:#578AB2}

/**Page Contact**/
.frame-title{margin:0 0 20px 0}
.title-contact{ background:#F0EDE6;margin:10px 0 10px 0; padding:7px 2px 7px 10px; font-family:Tahoma, Geneva, sans-serif;font-weight:bold; color:#000}
.frame-contact label{color:#555; margin:0 !important;font-weight:bold;width:100px; float:left}
.frame-contact{list-style:none;margin:10px 0}
.frame-contact li{padding:4px 0; margin:0 !important}
.frame-contact input{ margin:0 20px 0 0; padding:3px;width:220px; border:1px solid #ddd;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.frame-contact textarea{border:1px solid #ddd; width:350px;-moz-border-radius: 3px; -webkit-border-radius:3px}
.frame-contact span{ color:#F00}
.frame-contact .bton-dk{margin:10px 0 5px 30px;background:url(../images/button.gif) no-repeat;color:#fff; height:28px;text-align:center; cursor:pointer;width:70px;border:none;font-weight:bold}
.frame-contact .bton-dk{margin:10px 10px 5px 0}

/*Footer*/
#bg-fter{}
#footer{ line-height:1.7em;padding:0 10px 10px}
#footer a:hover{color:#5D94BC}
.title-company{font-size:12pt;color:#598DB4;margin: 0 0 5px 0}

.copyright {float:right;text-align:right;*margin:10px 0 0 0;*_margin:0; padding:12px 0px 0 0}
.copyright a{color:#000;}

/* Error */
.errorSummary{border: 1px solid #FA8C1E; padding:2px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin:10px 0 5px 0}
.errorSummary ul{margin:0 10px; padding:0}
.errorSummary ul li{padding:2px 0; color: red;margin: 0 0 0 20px !important}

/*Add to cart*/
.form_order{background:#fff;margin:0 0 15px 0;-webkit-border-radius:0 0 4px 6px;-moz-border-radius:0 0 6px 4px}
.form_order thead{background:#558CB6}
.form_order thead tr td{font-weight : bold;padding : 5px !important; color:#fff;font-size:10pt}

.form_order tbody tr td{border : 1px solid #ddd;}
.form_order tbody tr .pic-order{padding:5px 0}
.form_order tbody tr input{border:1px solid #ccc}
.form_order tbody tr td a{color:#000}
.form_order tbody tr td a:hover{color:#558CB6}

.btn_order{cursor:pointer; border:none;font-weight:bold;background:#2C2C2C;padding:5px 7px;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;margin:0 10px 0 0}
.btn_order:hover{color:#fff}

.frm-cart label{width:100px}
.notificaion{color:#2C2C2C;font-size:10pt;margin:0 0 10px 0}
.note span{color:#f00}















