body{background:#D1B64F}
#nav{ list-style:none;background:url(../images/menulienhe.jpg) repeat-x;height:30px}
#nav li{float:left;position:relative;background:none}
#nav .time-day{padding:9px 10px 8px 10px;color:#fff;font-size:8pt}
#nav li a{padding:7px 31px;text-transform:uppercase;display:block; color:#fff;font-size:10pt}
#nav li a:hover{background:none;color:#02035D}
#nav .select{background:none;color:#02035D}
#nav .none-line{background:none}
#nav .none-line a{padding:7px 30px 7px 30px}
.title-left{background:url(../images/menulienhe.jpg) repeat-x}
#footer{background:url(../images/toplienhe.jpg) repeat-x;padding:27px 35px !important;color:#B89004 !important}
#footer a{color:#B89004 !important}