body {background:#fff url(../images/bg-body.gif) repeat-x;font-family:Tahoma, Geneva, sans-serif;font-size:9pt;}
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#720E3B}

/*layout*/
*{margin:0; padding:0}

#wrapper {margin:auto; width:970px;}

/*Header*/
#xanh{background:#CFE6F9}
#xanh td{padding:5px}
#xam{background:#BBBBBB;padding:5px}

#header{padding:3px 0 5px 0; *padding:5px 0 0 0}
.logo{float:left;padding:15px 0 0 0}

/*Header Right */
#header-right{float:right}
.menu-hd-right{list-style:none;margin:0 0 5px 0}
.menu-hd-right li{ display:inline}
.menu-hd-right li a{padding:0 10px 0 6px;background:url(../images/nav-line-1.gif) no-repeat right; color:#fff;font-size:8pt}
.menu-hd-right li a:hover{color:#FF0101}
.menu-hd-right .bg-none a{background:none;padding:0 0 0 6px}

/**  Menu **/
.bg-nav-hover{background:url(../images/nav-link.gif) no-repeat bottom; height:30px}
.bg-nav-hover a{color:#3C22EE;font-weight:bold;margin:0 0 0 45px; display:block; padding:5px 0 0 0}
#nav .home{background:none}
#nav .home a{padding:0 5px}
#nav .home a:hover{background:none;padding:0 5px !important}

#nav { list-style:none;margin:0 0 74px 0}
ul#nav li  {float: left;background:url(../images/nav-line.gif) no-repeat right;margin:5px 0 0 0; position: relative}
ul#nav li a {padding:4px 8px 10px 9px;display: block;color:#fff;}

ul#nav a:hover{background:#FBF8F8;color:#406B96;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}
ul#nav li:hover > a{background:#FBF8F8;color:#406B96;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}
ul#nav li ul {list-style:none; padding:10px 0 0 0;position:absolute;left:-150px; top:18px;display: none;width:500px;height:20px}
ul#nav li ul.selected{display:inherit}
ul#nav li:hover ul {display: block}
ul#nav li ul a {display: inline; color:#3C22EE; font-weight:bold}
ul#nav li ul a:hover {background:none; color:#009100}
ul#nav li ul li{background: none}

ul#nav #none-line{background:none}
ul#nav #none-line ul{position:absolute;left:-300px !important;width:500px !important }
ul#nav .select a{background:#FBF8F8;color:#406B96;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;}
ul#nav .select ul li a{background:none;color:#3C22EE !important}
ul#nav .select ul li a:hover{background:none; color:#009100 !important}
ul#nav .select a:hover{background:#FBF8F8;color:#406B96;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;}

ul#nav li ul.subnav{position:absolute; left:-150px}


ul#nav li ul.tainment{display:inherit;width:500% }
/* Content*/
#content{ margin:10px 0 0 0}

/*Left content*/
#leftcontent{float:left;width:615px}
#leftcontent p{ margin:5px 0 10px 0; line-height:1.6em}
#leftcontent ul li{margin:0 0 0 15px}
.title-box{color:#e02525; font-weight:bold; font-size:11pt;margin:0 0 7px 0}
.title-box a{color:#A80000}


.title-left{font-weight:600;font-size:11pt;color:#3C22EE;background:url(../images/bg-title-index.gif) no-repeat; padding:7px 0}
.title-left a{color:#0000FF}
.title-left span{padding:0 0 0 10px}
.title-left span a{color:#0000FF}

/*Frame tent left*/
.frame-tent-left{padding:5px;background:#fff; border-left:1px solid #D0D0D0; border-right:1px solid #D0D0D0}
#leftcontent .frame-tent-left p{margin:5px 0 0 0}
.bd-bt-tenf-left{background:url(../images/bd-bt-left.gif) no-repeat; height:10px; width:615px; margin:0 0 5px 0}
.frame-tent-left img{margin:0 0 10px 0}

/**Tin bai noi bat**/
.frame-focus{width:220px;float:right;border:1px solid #E5E5E5; margin:0 0 0 5px}
.img-box-top{margin:0 0 5px 0 !important;width:395px}
.title-focus{padding:5px 0;font-size:10pt;color:#3C22EE; background:#EAEAEA;font-size:11pt; font-weight:bold}
.title-focus span{padding:0 0 0 10px}

/** left-tent-new **/
.left-tent-new{float:left; width:395px}
.left-tent-new img{width:393px; height:281px}

/**  sub fucus tent**/
.fucus-tent{padding:10px 0 0 0;list-style:none}
.fucus-tent li{margin:0 !important}
.fucus-tent .panel-fucus{display:table-cell;vertical-align:middle;height:32px;width:205px}
.fucus-tent .xamtoi{background:#E5E5E5;padding:1px 0 2px 0}
.fucus-tent li p{line-height:normal !important;background:#E5E5E5; width:202px; margin:0 !important}
.fucus-tent li a{color:#000;display:block;background:url(../images/ico-new.gif) no-repeat 4px 4px; padding:0 0 0 20px}
.fucus-tent li a:hover{color:#00F}

.sub-new-index{list-style:none;margin:10px 0 0 0;padding:8px 0 0 0}
.sub-new-index li img{margin:0 0 2px 0}
.sub-new-index h4 a{color:#000;font-weight:bold;font-size:8pt} .sub-new-index h4 a:hover{color:#CD1F26}

/**  Tin lien quan  **/
.related-news{list-style:none}
.related-news li{list-style-image:url(../images/bull.gif); padding:3px 0}
.related-news li a{color:#114467;font-weight:bold; display:block}
.related-news li a:hover{color:#0000FD}

/*Frame Content new*/
.tent-new{padding:5px 0;color:#666666;background:#fff; border-left:1px solid #D0D0D0; border-right:1px solid #D0D0D0}
.tent-new p{margin:0 0 5px !important; line-height:1.6em}
.tent-new a:hover{color:#f90}
.tent-new img{margin:0 10px 2px 0}

.title-new{background:url(../images/bg-title-index.gif) no-repeat; padding:7px 0;color:#a80000}
.title-new span{padding:7px 10px 7px 10px; background:url(../images/bg-select-title.gif) no-repeat;border-right:1px solid #D0D0D0; -webkit-border-radius:0 10px 0 0}
.title-new a{color:#A80000; font-weight:bold}

/**  Sub tent hot   **/
.sub-top-tent{list-style:none;background:#EBEBEB;padding:10px 0; margin:0 0 5px 0}
.sub-top-tent li{display:inline; margin:0 !important;border-right:1px solid #2F15F1;border:none}
.sub-top-tent li a{background:url(../images/sub-line.gif) no-repeat right; padding:5px 7px 5px 5px;color:#2F15F1}

/** frame box left tent new **/
.title-box-left{font-size:10pt; font-weight:bold;margin:5px 0 10px 0}
.title-box-left a{color:#A80000}
.tent-new-left{float:left;width:340px;text-align:justify}

.tent-sub-new{padding:0 5px 0 10px}
/**  Sub tent new hot **/
.sub-tent-new{float:right;padding:5px 5px 5px 0; background:url(../images/bg-sub-tent-new.png) repeat-x;list-style:none; width:245px}
.sub-tent-new img{width:80px;border:1px solid #D0D0D0}
#leftcontent  .sub-tent-new li{margin:0 0 0 5px; padding:0 0 7px 0;line-height:1.4em;  color:#406B96; clear: both}
#leftcontent  .sub-tent-new .ico-dot{list-style:disc;margin:0 0 0 20px}
.sub-tent-new a{color:#000; display: block;}

/*Right content*/
#rightcontent{float:right;width:350px}
.title-right{font-weight:bold;font-size:11pt;color:#3C22EE;background:url(../images/bg-title-right.gif) no-repeat; padding:7px 0}
.title-right span{padding:0 0 0 15px}

.bd-bt-scroll{background:url(../images/bd-bt-scroll.gif) no-repeat; height:4px; width:350px;margin:0 0 10px 0}

/*** Form search ***/
.frm-search{background:url(../images/bg-frm-search.gif) no-repeat; margin:0 0 5px 0;height:39px;padding:5px 0 0 7px}
.title-search{float:left;background:#0995F1;color:#fff;padding:8px 15px; font-weight:bold;-webkit-border-radius:4px;-moz-border-radius:4px;margin:0 10px 0 0}
.input{border:1px solid #0995F1;padding:7px 5px;width:200px;-webkit-border-radius:4px;-moz-border-radius:4px; float:left}
.bt-go{float:right; border:none; background:url(../images/btn-go.gif) no-repeat center;height:32px;width:31px;cursor:pointer; position:relative;top:-1px; right:12px}

/*Page Tin tuc*/
.masuring{text-align:justify;font-size:10pt;color:#666;margin-bottom:20px}
.masuring-img{float:left;margin:0 7px 5px 2px;padding:1px;width:145px}
.masuring-img img{width:145px}
.masuring p{line-height:1.4em; margin:5px 0 !important}
.title-masuring{color:#BE0000;font-family:Times New Roman,Times,serif; font-size:18pt; font-weight:700;}
.title-masuring a{font-family:Tahoma, Geneva, sans-serif; color:#00F;font-size:10pt; font-weight:700;}
.masuring a:hover{color:#F90}

/*  Cac tin khac*/
.title-others{margin:20px 0 0 0;color:#00F;font-size:11pt; font-weight:700; border-bottom:1px dashed #ccc; padding:0 0 5px 0}
.sub-others{padding:10px 0 0 0;list-style:none}
.sub-others li{padding:4px 0; margin:0 !important}
.sub-others p{background:#F6F6F6; margin:0 !important}
.sub-others li a{color:#000;display:block;background:url(../images/dot-blue.jpg) no-repeat 4px 8px; padding:5px 0 5px 20px}
.sub-others li a:hover{color:#00F}

/** Row 2 Thong tin can biet va support**/
.row2{margin:0 0 10px 0}
.info-know{float:left;width:150px}
.title-info{background:url(../images/bg-title-info-1.gif) no-repeat;color:#8A0000; padding:8px 10px;font-weight:bold}
.bd-bt-info{background:url(../images/bd-bt-info-1.gif) no-repeat;height:6px;width:150px}
.sub-info{list-style:none;padding:10px 2px 0 2px;background:url(../images/mid-info-1.gif) repeat-y}
.sub-info li{padding:5px 0;border-bottom:1px solid #ccc}
.sub-info li p{cursor: pointer}
.sub-info li img{margin:0 5px}
.sub-info li a{display:block}
.info-1 a{color:#83E193}
.info-2 a{color:#7C8C71}
.info-3 a{color:#E4BA68}
.info-1 a:hover, .info-2 a:hover, .info-3 a:hover{color:#00F}

.video{margin:0 0 10px 0}

/*Ho tro truc tuyen*/
.bg-support{float:right;width:170px;background:url(../images/bg-support.jpg) no-repeat; padding:25px 0 35px 0}
.bg-support h1{text-align:center;font-size:11pt;color:#fff;font-weight:bold}
.support{list-style:none;padding:10px 0 0 5px;color:#fff; font-weight:bold}
.support li{padding:7px 10px}
.support img{text-align: left;}

/***  Quang cao  **/
.bg-sub-ad{padding:5px 0;border-left:1px solid #D1D1D1;border-right:1px solid #D1D1D1}
.sub-ad-1{float:left;width:167px;text-align:center;list-style:none;margin:0 0 0 5px;*_margin:0 0 0 5px}
.sub-ad-2{float:right;width:167px;text-align:center;list-style:none;margin:0 5px 0 0;*_margin:0 5px 0 0}
.sub-ad-1 li, .sub-ad-2 li{margin:0 0 2px 0}

/**  sub-bun **/
.sub-bun{list-style:none;padding:10px 15px 5px 15px; border-left:1px solid #D1D1D1;border-right:1px solid #D1D1D1}
.sub-bun li {clear:both; background:#EEF1F2;margin:0 0 5px 0;-webkit-border-radius:4px;-moz-border-radius:4px}
.sub-bun li .img-bun{margin:0 8px 0 0;width:21px;float:left;}
.sub-bun li p{display:table-cell; vertical-align:middle;height:32px}
.sub-bun li a{color:#003476;cursor:pointer; font-weight:bold} .sub-bun li a:hover{color:#FF9900}

/** Tham do y kien **/
.bg-polls{float:right;width:190px;border:1px solid #D5D8DE;padding:5px 0 5px 0;-webkit-border-radius:2px;-moz-border-radius:2px}
.title-polls{color:#8A0000;font-weight:bold;margin:0 0 8px 0;padding:0 0 0 10px}
.tent-polls{padding:2px 0 5px 0}
.panel-polls{background:#EEEEDD;padding:5px 0 5px 10px;margin:0 0 5px 0}
.sub-polls{list-style:none;padding:10px 0 0 0}
.sub-polls li{padding:0 0 6px 0}
.sub-polls li a{color:#000}

.f-action{padding:0 0 0 10px}
.button{padding:2px 5px;cursor:pointer}
.f-action a{color:#000} .f-action a:hover{color:#8A0000}

/*Thong ke truy cap*/
.statistics{list-style:none; float:right}
.statistics li {color:#0080FF}

/**  Mua quảng cáo tại đây    **/
.title-buy-ad{background:url(../images/bg-title-buy-ad.gif) no-repeat;padding:7px 0;color:#AA0000;font-weight:bold}
.title-buy-ad span{padding:0 0 0 15px}
.mid-buy-ad{background:url(../images/mid-buy-ad.gif) repeat-y; padding:5px 0 5px 5px}
.title-sub-buy{color:#006cd4; margin:0 0 5px 0}
.title-sub-buy a{color:#006cd4}
.link-buy a{color:#00c818}
.link-buy{margin:0 0 5px 0}
.mid-buy-ad a:hover{color:#f90}
.sub-buy-ad{list-style:none;padding:10px 1px}
.sub-buy-ad img{margin:0 5px 5px 0}
.sub-buy-ad li{width:225px;border-right:1px solid #ccc; float:left; padding:0 10px 0 0; margin:0 5px 0 0}
.bd-bt-buy-ad{background:url(../images/bd-bt-buy-ad.gif) no-repeat;height:10px;width:968px;margin:0 0 10px 0}

/**   Tin tuc hot **/
.frame-new-fter{border:1px solid #ccc;padding:10px 0; width:970px}
.sub-new-fter{list-style:none;padding:0 0 0 15px}
.sub-new-fter li{width:125px; float:left; margin:0 10px 10px 0}
.sub-new-fter img{width:125px}
.sub-new-fter li a{color:#006595}
.sub-new-fter li a:hover{color:#840}

/*Footer*/
#bg-fter{background:#E8E8E8;margin:20px 0 0 0;min-width:970px}
#footer{width:970px; margin:auto; padding:10px 0}
#footer a:hover{color:#06C}
.fter-left{float:left;font-weight:bold;line-height:1.6em}
.copyright {text-align:center;}
.copyright a{color:#000}

.frame-tent-right{padding:10px}
/**Page Contact**/
#frame-info-contact{margin:0 0 15px 0}

/** Form lien he  **/
.frame-contact{list-style:none}
.frame-contact label{color:#555; margin:0 !important;font-weight:bold;width:100px; float:left}
.frame-contact li{padding:4px 0; margin:0 !important}
.frame-contact input{ margin:0 20px 0 0; padding:3px;width:220px; border:1px solid #ddd;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.frame-contact textarea{border:1px solid #ddd; width:350px;-moz-border-radius: 3px; -webkit-border-radius:3px}
.frame-contact span{color:#F00;margin:0 5px 0 0}

.frame-contact .bton-dk{margin:10px 0 5px 30px;background:#372E27;color:#fff; height:28px;text-align:center; cursor:pointer;width:70px;border:none;font-weight:bold}
.frame-contact .bton-dk{margin:10px 10px 5px 0}
/****  End page contact     *****/

/* paging */
.paging{padding:15px 10px 10px 0; text-align:right;}
.paging a{color:#42342C}
.paging a:hover{background:#A18852; color:#fff}
.pagenav , .pageactive{border: 1px solid #ccc; padding: 2px 5px; color:#FFF; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
.pagecureent{border: 1px solid #ccc; padding: 2px 5px; background:#0C87D9; color:#42342C; font-weight:bold; -moz-border-radius: 2px; -webkit-border-radius: 2px}