body{font-family:Arial, Helvetica, sans-serif; font-size:75%; color: #444; background: #fff url(../images/bg.png) repeat-x}
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#333}
a:hover{color:#3F8302}
h4{font-size:11pt; font-weight:bold; margin-top:1em; background:url(../images/dot.png) no-repeat; text-indent:20px}

.link{font-weight:bold}

/* new */
/*   Page New  */
.masuring{text-align:justify;font-size:10pt;list-style:none;padding:0; margin:0}
.masuring li{margin:0 0 10px 0;clear: both; }
.masuring p{margin:0 0 10px 0}
.frame-img{float:left;width:128px;margin:0 10px 5px 0;border: 1px solid #D9D9D9;}
.frame-img img{padding:2px}
.title-masuring{margin:0 0 2px 0;padding:0}
.title-masuring a{color:#444;font-weight:bold}
.title-masuring a:hover{color:#55B200}

/* product */
.all-product{margin:0;padding:0;list-style:none}
.product{width:138px;text-align:center;margin:0 18px 10px 0; display:inline-block; vertical-align:top;*float:left;*_margin:0 7px 10px 0; }

.product-img{height:130px;border: 1px solid #D9D9D9; width:138px;display:table-cell;vertical-align:middle}
.gallery img{width:128px; height:125px}

/**  End product **/

/* slideshow */
ul#portfolio{margin:0; padding:0; list-style:none}
ul#portfolio li a img{width:473px; height:266px}

/* contact */
.red{color: red;}
fieldset{padding:15px; width: 670px; border : 1px solid #E4E3E3; background:#F6F6F6; -moz-border-radius:3px; -webkit-border-radius:3px; position: relative; margin-top: 5px;}
fieldset .img{position: absolute; top: 110px; right: 20px;}
legend{color:#720E3B; font-weight:bold; font-size:10pt}
fieldset div.info{margin:5px 0 10px 0; float: none; width: 415px}
fieldset div.info p{padding: 5px 0}
fieldset label{padding-bottom:5px}
fieldset div{float:left; width:230px}
fieldset div p{margin:0; padding:0}
fieldset div input{width:171px; margin:5px 0; background: url(../images/bg_input.png) no-repeat; border:none; padding:6px}
fieldset div textarea{width:407px; height:122px; margin:5px 0; background: url(../images/bg_textarea.png) no-repeat; border:none; padding: 7px 5px; overflow:auto}
fieldset div .submit{width:90px; background:url(../images/btn.jpg) no-repeat; color:#fff; font-weight:bold; text-align:left; cursor:pointer}
fieldset div .submit:hover{background:url(../images/btn_hover.jpg) no-repeat}

/* paging */
ul.paging{float: right; margin:0; padding:0; list-style: none}
ul.paging li{display: inline;margin:0 !important;}
ul.paging .hidden{display: none;}
ul.paging .page a, ul.paging .previous a, ul.paging .first a, ul.paging .next a, ul.paging .last a{border: 1px solid #ccc; padding: 2px 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px}
ul.paging .page a:hover, ul.paging .previous a:hover, ul.paging .first a:hover, ul.paging .next a:hover, ul.paging .last a:hover, ul.paging .selected a{color:#fff; background:#A5D527}

/*layout*/

#wrapper{width: 954px; margin: 5px auto; position:relative}

ul#top-nav{text-align:right; text-transform:uppercase; font-size:8pt; padding:0; width: 954px; margin: auto; z-index:9; position:absolute; top:-15px; left:0}
ul#top-nav li{display:inline; padding:0 5px}
ul#top-nav li a{color:#fff}
ul#top-nav li a:hover{text-decoration:underline}

#banner{position:relative; background:url(../images/banner.png) no-repeat; width:954px; height:350px; margin-top:26px}
#banner .flash{position:absolute; top:-95px; right:-35px; height:500px; width:600px; z-index:0}
#banner .logo{position:absolute; top:10px; left:8px; height:45px; width:650px; z-index:2}
#banner .tencty{position:absolute; top:13px; left:278px; height:103px; width:215px; z-index:3}

#content{background:#fff; z-index:9}
#leftcontent{float:left; width:206px; padding:0 0 0 15px; background:#F6FBE9}

/** Left content **/
.title-left{background:url(../images/nav-bg.jpg) no-repeat;padding:8px 0;color:#fff; font-weight:bold}
.title-left span{padding:0 0 0 60px}

/** Sub cat**/
.title-cat{background:url(../images/nav-bg.jpg) no-repeat;padding:7px 0 15px 0;color:#fff; font-weight:bold}
.title-cat span {padding:0 0 0 60px}
.sub-cat{margin:0 0 10px 0; list-style:none; padding:0 0 0 25px;}
.sub-cat li{list-style-image:url(../images/arrow.gif); padding:5px 0}
.sub-cat li a{display: block}

/** Menu**/
.menu ul{margin:0 0 10px 0; padding:0 0 0 25px}
.menu ul li{list-style-image:url(../images/arrow.gif); padding:10px 0; border-bottom:1px dashed #B1BB96}
.menu ul li a{display: block}

/*Ho tro ky thuat*/
.support{list-style:none;text-align:center;margin:0 0 10px 0;padding:10px 0 0 0}
.support li p{padding:2px 0;margin:0}
.support li img{margin:0 0 10px 0}

/** Thong ke truy cap **/
.statistics{margin:0 0 10px 0;padding:10px 0 10px 30px}
.statistics li{padding:2px 0}

/** adv left**/
.advleft{list-style:none;margin:0;padding:10px 0;text-align:center}
.advleft img{width: 200px; border: 1px solid #ccc; padding: 2px; margin:0 0 0 2px}

.services{padding:10px 0}
.services h2{background:url(../images/nav-bg.jpg) no-repeat; height:35px; padding-top:7px; text-indent:58px; color:#fff; font-weight:bold}
.services ul{margin:0; padding:0; list-style:none}
.services ul li{clear:both; height:90px}
.services ul li img{float:left; margin-right:5px; width:80px}
.services ul li h3 a{color:#F08304; font-weight:bold; background: url(../images/icon.gif) no-repeat left; padding-left:12px}
.services ul li h3 a:hover{color:#3F8302}
.services ul li p{margin:0; padding:0; font-size:8pt}

/** rightcontent **/
#rightcontent{float:left;margin: 0 15px; width:475px; text-align: justify; line-height: 18px}
.frame-tent-right{margin:0 0 10px 0}

.title-blue{background:url(../images/dot.png) no-repeat left;color:#14239C;font-weight:bold;padding:2px 0 0 0; font-size:10pt;margin:0 0 10px 0}
.title-blue span{padding:0 0 0 25px}

.title-org{background:url(../images/dot-2.png) no-repeat left;color:#FE9A44;font-weight:bold;padding:2px 0 0 0; font-size:10pt;margin:0 0 10px 0}
.title-org span{padding:0 0 0 25px}

.title-green{background:url(../images/dot-1.png) no-repeat left;color:#95DA5B;font-weight:bold;padding:2px 0 0 0; font-size:10pt;margin:0 0 10px 0}
.title-green span{padding:0 0 0 25px}

.title-new-hot{background:url(../images/giachanh-nav.jpg) no-repeat; height:25px}

/* Tin noi bat */
.sub-new-hot{margin:5px 0 0 0; padding: 0; list-style: none}
.sub-new-hot li{float:left; margin:0 2px 0 10px; width:145px}
.sub-new-hot li p{margin:0}
.sub-new-hot li .img-panel{border: 1px solid #ccc;text-align:center;margin:0 0 15px 0}
.sub-new-hot li img{padding:5px}
.sub-new-hot li h3{margin:0;padding:0}

/** columns3 **/
#columns3{float:right;width:227px; background:#F6FBE9;position:relative; z-index:200;}

/** Adv right **/
.title-adv-right{background:url(../images/nav-adv.jpg) no-repeat;padding:8px 0;text-align:center; color:#fff; font-weight:bold}
.advright{margin:0 0 10px 0; padding:10px 0 0 0; list-style:none; text-align:center}
.advright img{border:1px solid #ccc; padding:1px; margin-bottom:2px}

/** Video **/
.video{text-align:center; margin-bottom:10px}
.title-video{background:url(../images/video-nav.jpg) no-repeat;padding:8px 0; text-align:center;color:#fff; font-weight:bold}
.reset{margin:3px 0 0 0;font-weight:bold}
.video img{border:1px solid #ccc; padding:1px; margin-bottom:2px; width:222px}

.title-new{background:#fff url(../images/dot.png) no-repeat left;color:#444;font-weight:bold;padding:8px 0;font-size:10pt;margin:0 0 10px 0;border-bottom:1px solid #ccc}
.title-new span{padding:0 0 0 25px}

/** tin tuc moi **/
.sub-new{margin:0 5px 15px 15px; padding:0}
.sub-new li{list-style-image:url(../images/dot-item.png); padding:2px 0}
.sub-new li a{display:block}

.about-nav{background:url(../images/about-nav.jpg) no-repeat; padding-top: 40px;}
.about-nav h2{background: url(../images/services-title.jpg) no-repeat; padding: 3px 27px; color: #E65F43; font-weight: bold}
.services-nav{background:url(../images/services.png) left top no-repeat; padding-top: 45px;}
.services-nav h2{background: url(../images/services-title.jpg) no-repeat; padding: 3px 27px; color: #E65F43; font-weight: bold;}
.trinhdien-nav h2{background:url(../images/trinhdien.gif) no-repeat; height:24px}
.title-product{background:url(../images/picture.png) no-repeat; padding-top: 45px;}
.news{background:url(../images/tintuc-nav.png) no-repeat; padding-top: 35px;}
.news2{background:url(../images/amthuc.gif) no-repeat; padding-top: 35px;}
.news2 img{text-align:center; width:445px}
.news h2{font-weight:bold}

#footer{margin:1em 0 0 5px}
/* Conner */
.b1, .b2, .b3, .b4{font-size:1px; overflow:hidden; display:block;}
.b1 {height:1px; background:#DCDCDC; margin:0 5px;}
.b2 {height:1px; background:#F4F4F4; border-right:2px solid #DCDCDC; border-left:2px solid #DCDCDC; margin:0 3px;}
.b3 {height:1px; background:#F4F4F4; border-right:1px solid #DCDCDC; border-left:1px solid #DCDCDC; margin:0 2px;}
.b4 {height:2px; background:#F4F4F4; border-right:1px solid #DCDCDC; border-left:1px solid #DCDCDC; margin:0 1px;}
.contentb {background: #F4F4F4; border-right:1px solid #DCDCDC; border-left:1px solid #DCDCDC;}
.contentb div {margin-left: 5px; text-align:center; padding:10px 0}
.contentb div p{margin:3px 0; padding:0}
.contentb div ul{margin:0; padding:0}
.contentb div ul li{display:inline; padding:0 5px}
.contentb div ul li a{color:#666}
.contentb div ul li a:hover{color:#A6D527}

ul.relate-news{margin:0; padding:0; margin-left:20px}