body {padding:15px 0 0 0; background:url(../images/bg.jpg) repeat-x;font:9pt arial, helvetica, sans-serif;}
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000;}
/*layout*/
*{margin:0; padding:0}

#wrapper {width:1000px;margin:auto }

/*Header*/
#header{position:relative;margin:0 0 10px 0}
#logo{float:left;margin:0 40px 0 0;overflow:hidden; height:104px}

/**  Ten cong ty     **/
.title-company{padding:35px 0 0 0;  font-size:18pt;color:#3CBEDA;font-weight:bold}

.lang{position:absolute;top:10px; right:0;text-align:right}
.lang img{ margin:0 2px 0 10px; position:relative; top:2px}
.lang a{ color:#000}
.lang a:hover{color:#3CBEDA}
.hot-line{padding:30px 0 0 0; color:#3CBEDA;font-size:10pt;font-weight:bold}

/*Form search*/
.frm-search{margin:0 0 15px 0; position:relative; left:20px;*margin:0 0 5px 0; }
.go{width:200px; padding:2px 2px 2px 5px; color:#666; height:18px; border:1px solid #DDDDDD}
.bt-go{position:relative; right:20px;top:2px}

/**  Menu **/
#nav{ list-style:none;width:1000px;background:url(../images/nav-bg.gif) no-repeat; float:left; margin:0 0 10px 0;*margin:0 0 10px 0}
#nav li{float:left; margin:0 2px 0 0;/*position:relative*/}
#nav li a{padding:13px 20px; background:url(../images/navspacer.gif) no-repeat right; display:block; color:#fff;font-size:10pt}
#nav li a:hover{color:#3CBEDA}
#nav .none-line a{background:none}
/*#nav li:hover >a{color:#3CBEDA}
#nav li ul{ display:none}
#nav li:hover ul{list-style:none;display:block; position:absolute; z-index:20000; top:42px; width:180px}
#nav li ul li{width:100%;border-bottom:1px solid #444;}
#nav li ul li a{font-weight:normal;background:#555; color:#fff; padding:8px 11px}
#nav li ul li a:hover{ background:#444; color:#fff}*/
#nav .select{color:#3CBEDA}

/** Banner **/
#banner{ margin:0 0 10px 0}

/* Page Content*/
#content{margin:0 0 10px 0}

/*Left content*/
#leftcontent{float:left; width:206px}
.frame-leftcontent{margin:0 0 10px 0;border-bottom:1px solid #EEEEEE ;border-left:1px solid #EEEEEE ; border-right:1px solid #EEEEEE}

.title-left{color:#fff; font-weight:bold; padding:8px 0 8px 0;font-weight:bold; background:url(../images/titalbg.gif) no-repeat}
.title-left span{padding:0px 10px 0 15px; }

.title-box{color:#3B3B3B; font-weight:bold; padding:8px 0 8px 0;font-weight:bold; background:#EEE url(../images/tital-bullet.gif) no-repeat 10px;}
.title-box span{padding:0 10px 0 25px}

/*sub cat*/
.sub-cat{list-style:none;padding:10px 5px 10px 25px}
.sub-cat li{padding:5px 0}
.sub-cat li a{background:url(../images/bullet.gif) no-repeat left 3px;padding:0 0 0 10px; color:#444;display:block; *_display:inherit}
.sub-cat li a:hover{ color:#3CBEDA}
.sub-cat li ul{padding:5px 0 0 20px;list-style:none}
.sub-cat li ul li{padding:2px 0;border-bottom:1px dotted #e1e1e1}
.sub-cat li ul li a{background:url(../images/bull.jpg) no-repeat left 3px; *_display:inherit}

/*Ho tro ky thuat*/
.support{list-style:none;padding:10px 3px 15px 0px;text-align:center}
.support li {color:#444;line-height:1.5em}
.support img{margin:0 0 8px 0}

/*Thong ke truy cap*/
.statistics{list-style:none;padding:10px 3px 15px 25px}
.statistics li {color:#444; line-height:1.75em}

/*bg-adv adv left*/
.bg-adv{list-style:none;text-align:center;padding:5px 0 0 0}
.bg-adv li{padding:0 0 5px 0}

/*Right content*/
#rightcontent{float:right; width:778px; margin:0 0 0 12px;}
#rightcontent p{margin:0 0 10px 0}
#rightcontent ul li, #right-content ol li{margin: 0 0 0 40px}
#rightcontent ul ,#right-content ol{margin: 0 0 12px 0}

.title-right{  margin:0 0 10px 0; font-size:10pt;padding:0px 0px 0px 20px;color:#3CBEDA; font-size:17px;background:url(../images/bullet2.gif) no-repeat left 2px;  font-weight:bold;}

.frame-tent-right {padding:10px;border:1px solid #EEEEEE;margin:0 0 15px 0;-webkit-border-radius:1px;-moz-border-radius:1px}
.frame-tent-right p{text-align:justify;line-height:1.5em}

.link{color:#000;padding:5px 0;font-size:10pt; border-bottom:1px dashed #e1e1e1; margin:0 0 10px 0}
.link b{margin:0 5px}
.link span{color:#D2A800; font-weight:normal}
.link a{color:#1F1F1F; font-weight:normal}
.link a:hover{color:#3CBEDA }

/***** Product    *****/
#rightcontent .all-product{margin:0 ;list-style:none}
#rightcontent .all-product .product{width:185px;padding:5px 0 15px 0;text-align:center;margin:0 1px 10px 4px; border:1px solid #ddd;display:inline-block; vertical-align:top;*float:left;*margin:0 10px 10px 0}
.product-img{height:175px; width:185px;display:table-cell;vertical-align:middle; padding:0 0 10px 0}
.tent-product{padding:0 5px}
#rightcontent .price{color:#000; font-weight:700; font-size:13px; margin:7px 0 10px 0}
.title-pro{padding:7px 0 0 0 ; font-size:10pt}
.title-pro a{color:#666666}
.title-pro a:hover{ text-decoration:underline}
.add-to-cart{padding: 5px 0 8px 5px; font-weight:700;background:url(../images/bkg_btn.png) no-repeat left top;*padding:0 0 0 5px;*height:25px}
.add-to-cart span{background:url(../images/bkg_btn.png) no-repeat right top; padding:5px 15px 8px 10px; height:25px;color:#fff}

/***    Page product-info     ****/
.frame-pro-info{padding:10px 0}
.title-pro-order{color:#333; font-size:14px; font-weight:bold;margin:0 0 10px 0;border-bottom:1px solid #ccc;padding:0 0 10px 0}
.title-pro-order span{padding:0 0 0 10px}

.row-info{margin: 0 0 15px 0}
.right-info{float:right;width:445px}
.tent-right-info{padding:0 10px}
.title-info{margin:0 0 10px 0;color: #fff}
.title-info span{background: #444444;padding:3px 10px}
.price-info{color:#000;margin:0 0 10px 0 !important;font-size: 10pt}
.price-info span{margin: 0 0 0 10px;color: #DC692B}

/** Form lien he  **/
.title-contact{ background:#CCC195;margin:0 0 10px 0; padding:7px 2px 7px 10px; font-family:Tahoma, Geneva, sans-serif;font-weight:bold; color:#33220C}
#frm{margin:0 0 10px 0;}
.frame-contact label{color:#555;font-weight:700; margin:0 !important;width:150px; float:left}
.frame-contact{list-style:none;margin:15px 0 10px 0}
.frame-contact li{padding:4px 0; margin:0 !important}
.frame-contact input{ margin:0 20px 0 0; padding:3px;width:220px; border:1px solid #ddd;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.frame-contact textarea{border:1px solid #ddd;width: 350px; -moz-border-radius: 3px; -webkit-border-radius:3px}
.frame-contact span{color:#f00;margin:0 5px 0 0}

.frame-contact .bton-dk{margin:10px 0 5px 30px;background:#1F1F1F;color:#fff; height:28px;text-align:center; cursor:pointer;width:70px;border:none;font-weight:bold}
.frame-contact .bton-dk{margin:10px 10px 5px 0}
/****  End page contact     *****/

/* paging */
ul.paging{float: right; margin:0; padding:0 0 5px 0; list-style: none;}
ul.paging li{display: inline;margin:0 !important;}
ul.paging .hidden{display: none;}
ul.paging .page a, ul.paging .previous a, ul.paging .first a, ul.paging .next a, ul.paging .last a{color:#3CBEDA; border: 1px solid #ccc; padding: 2px 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px}
ul.paging .page a:hover, ul.paging .previous a:hover, ul.paging .first a:hover, ul.paging .next a:hover, ul.paging .last a:hover, ul.paging .selected a{color:#fff; background:#3CBEDA}

/*   Page New  */
.masuring{list-style: none; text-align:justify;font-size:10pt;margin:0 0 20px 0}
.masuring li{ margin:0 0 10px 0 !important}
.frame-img{float:left;width:143px; margin:0 10px 0 0}
.title-masuring{margin:0 0 5px 0}
.title-masuring a{color:#666666}
.title-masuring a:hover{color:#3CBEDA}

/*Footer*/
#bg-fter{background:url(../images/bottombg.jpg) repeat-x bottom; min-width:1000px}
#footer{background:#1F1F1F; margin:auto; width:1000px;padding:15px 0; color:#C8C8C8}
.tent-fter{padding:0 10px}
#footer a:hover{text-decoration:underline}
.menu-fter {margin:0 0 10px 0; list-style:none}
.menu-fter li{display:inline}
.menu-fter li a{padding:0 5px;color:#C8C8C8;background:url(../images/bkg-pipe1.gif) no-repeat right}
.menu-fter .none-line{background:none}
.copyright {text-align:right;float:right; *margin:10px 0 0 0;*_margin:0;}
.copyright a{color:#C8C8C8; font-size:10pt}

/* Error */
.errorSummary{border: 1px solid #FA8C1E; padding:5px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin:10px 0 5px 0}
#rightcontent .errorSummary ul{margin:0 10px; padding:0}
.errorSummary ul li{padding:2px 0; color: red}

/*Add to cart*/
.form_order{background:#fff;margin:0 0 15px 0;-webkit-border-radius:0 0 4px 6px;-moz-border-radius:0 0 6px 4px}
.form_order thead{background:#1F1F1F}
.form_order thead tr td{font-weight:bold;padding :5px !important; color:#fff;font-size:10pt}

.form_order tbody tr td{border : 1px solid #ddd;}
.form_order tbody tr .pic-order{padding:5px 0}
.form_order tbody tr input{border:1px solid #ccc}
.form_order tbody tr td a{color:#444}
.form_order tbody tr td a:hover{color:#3CBEDA}

.btn_order{cursor:pointer; border:none;font-weight:bold;background:#2C2C2C;padding:5px 7px;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;margin:0 10px 0 0}
.btn_order:hover{color:#fff}

.frm-cart label{width:100px}
.notificaion{color:#2C2C2C;font-size:10pt;margin:0 0 10px 0}
.note span{color:#f00}
















