<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="vi" />
<meta name="keywords" content="Bán các loại than đá, sản phẩm có tính năng tốt, bền bỉ, tinh xảo, giá thành thấp đồng thời đáp ứng được đơn hàng số lượng lớn" />
<meta name="description" content="Bán các loại than đá, sản phẩm có tính năng tốt, bền bỉ, tinh xảo, giá thành thấp đồng thời đáp ứng được đơn hàng số lượng lớn" /> 
<meta name="revisit-after" content="1 days" />
<meta name="robots" content="noodp,index,follow" />
<link rel="SHORTCUT ICON" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/gif" />
<title>ĐĂT MUA HÀNG ONLINE</title>
<link href="css/dosvn.css" rel="stylesheet" type="text/css" />
<link href="css/wt-rotator.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script> 
<script type="text/javascript" src="js/jquery-banner-rotato.js"></script> 
<script type="text/javascript" src="js/jquery-banner-rotato.effect.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		runbanner(951,332);
	});
</script>
</head>
<body>
<div id="wrapper">
		<div id="header">
        	<div id="logo"><a href="index.html" title=""><img src="images/logo.png" alt="Logo" /></a></div><!--End logo-->
            <div class="frame-title-pany"><h1 class="title-city">CÔNG TY TNHH MTV THAN PHÚC AN</h1></div> <!--End title company-->
            <div class="lang"><a href="#" title="English"><img src="images/en.gif" alt="English" /> English</a>
            				<a href="#" title="Tiếng Việt"><img src="images/vn.gif" alt="Việt Nam" /> Tiếng Việt</a> 
                            <a href="#" title="Korea"><img src="images/korea.gif" alt="Korea" /> Korea</a>
                            <p class="tent-lang">Tư vấn : 0933 472 626 (Mr Hạnh)</p> 
            </div> <!--End lang-->	<div class="clear"></div>
        </div><!--End header-->
        <div class="all-nav">
     	   <ul class="nav">
                <li><a href="index.html" title="">Trang chủ</a></li>
                <li><a href="about.html" title="">Giới thiệu</a></li>
                <li><a href="product.html" title="">Sản phẩm</a></li>
                <li><a href="services.html" title="">Dịch vụ</a></li>
                <li><a href="news.html" title="">Tin tức</a></li>
                <li style="background:none"><a href="contact.html" title="">Liên hệ</a></li>
            </ul>	
        </div> <!--End all nav--><div class="clear"></div>
        <div class="container"> 
			<div class="wt-rotator">
				<a href="#"></a>   
				<div class="thumbnails"> 
					  <ul> 
							<li><a href="images/banner.jpg" title="architecture"></a></li> 
							<li><a href="images/banner2.jpg" title="architecture"></a></li> 
							<li><a href="images/banner1.jpg" title="architecture"></a></li> 
					  </ul> 
				</div>  
			</div> 
		</div> <!--End banner-->
        <div id="content">
        	<div id="left-content">
            	<h1 class="title-box"><span>DANH MỤC SẢN PHẨM</span></h1>
                <ul class="sub-pro">
                	<li>THAN CỤC
                    	<ul>
                        	<li><a href="#" title="">Cục 1</a></li>
                            <li><a href="#" title="">Cục 1 lỡ</a></li>
                            <li><a href="#" title="">Cục 2</a></li>
                            <li><a href="#" title="">Cục 3 lỡ</a></li>
                            <li><a href="#" title="">Cục 4A</a></li>
                            <li><a href="#" title="">Cục 5B</a></li>
                            <li><a href="#" title="">Cục 5 lỡ</a></li>
                            <li><a href="#" title="">Cục xô chưa sàng Cục xô chưa sàng</a></li>
                            <li><a href="#" title="">Cục xô đã sàng</a></li>
                        </ul>
                    </li>
                    <li>THAN CÁM
                    	<ul>
                        	<li><a href="#" title="">Cám miểng</a></li>
                            <li><a href="#" title="">Cám 3A</a></li>
                            <li><a href="#" title="">Cám 3B</a></li>
                            <li><a href="#" title="">Cám 4A</a></li>
                            <li><a href="#" title="">Cám 4B</a></li>
                            <li><a href="#" title="">Cám 5B</a></li>
                            <li><a href="#" title="">Cám 5A</a></li>
                            <li><a href="#" title="">Cám 6A</a></li>
                            <li><a href="#" title="">Cám 6B</a></li>
                            <li><a href="#" title="">Cám 7A</a></li>
                            <li><a href="#" title="">Cám 7B</a></li>
                        </ul>
                    </li>
                    <li>THAN BÙN
                    	<ul>
                        	<li><a href="#" title="">Than bùn ép cô</a></li>
                        </ul>
                    </li>
                </ul>
                <h1 class="title-box"><span>HỖ TRỢ TRỰC TUYẾN</span></h1>
				<ul class="support">
					<li>Tư vấn bán hàng</li>
					<li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
                    <li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
				</ul>
				<h1 class="title-box"><span>THỐNG KÊ TRUY CẬP</span></h1>
				<ul class="statistics">
					<li>Truy cập trong ngày: 000018</li>
					<li>Đang online: 3</li>
					<li>Tổng lượt truy cập: 038082</li>
				</ul>
            </div><!--End left content-->	
        	<div id="right-content">
            	<h1 class="title-box"><span>THÔNG TIN VÀ ĐỊA CHỈ GIAO NHẬN HÀNG</span></h1>
				<div class="frame-tent-right">
                    <form id="frm" name="frmorder" action="" method="post"  onsubmit="return order();">
                    <p>Quý khách điền đầy đủ thông tin vào mẫu sau để chúng tôi có thể giao hàng:</p>
                            <ul class="frame-order">
                                <li><label><span>*</span> Họ tên người đặt hàng</label><input type="text" name="fullname" value="" /> </li>
                                <li><label><span>*</span> CMND/Passport:</label><input type="text" name="passport" value="" /> </li>
                                <li><label><span>*</span> Email:</label><input type="text" name="email" value="" /></li>
                                <li><label><span>*</span> Phone:</label><input type="text" name="phone" value="" /></li>
                                <li><label><span>*</span> Địa chỉ người đặt hàng:</label><input type="text" name="address" value="" /></li>
                                <li><label><span>*</span> Nội dung:</label><textarea name="content" rows="7" cols="" ></textarea>
                                <li><label>&nbsp;</label><input type="submit" class="bton-dk" title="Gửi"  value="Gửi"/> <input type="reset" class="bton-dk" title="Nhập lại" value="Nhập lại" /></li>					
                            </ul>               
                        </form>
                    <script type="text/javascript" src="js/contact.js"></script>
				</div> <!--End frame tent right-->
            </div><!--End right content-->
            <div id="colum3">
            	<h1 class="title-box"><span>TIN TỨC</span></h1>
            	<ul class="sub-new">
                    <li><a href="#" title="">Thịt bò Kobe từ Nhật vào Việt Nam sẽ bị tiêu hủy</a></li>
                    <li><a href="#" title="">Cuộc tập trận hải quân hoành tráng nhất trên biển của Iran</a></li>
                    <li><a href="#" title="">Liên tiếp nhiều vụ chạy xe, nhiều nhất là hãng Honda</a></li>
                    <li><a href="#" title="">Thịt bò Kobe từ Nhật vào Việt Nam sẽ bị tiêu hủy</a></li>
                    <li><a href="#" title="">Cuộc tập trận hải quân hoành tráng nhất trên biển của Iran</a></li>
            	</ul>
                <h1 class="title-box"><span>SẢN PHẨM TIÊU BIỂU</span></h1>
                <ul class="typical-product">
                	<li><img src="images/pro-img.jpg" alt="product" /></li>
                    <li><img src="images/pro-img.jpg" alt="product" /></li>
                </ul>
            </div> <!--End colum3--> <div class="clear"></div>
        </div><!--End content-->
</div><!--End wrapper-->
<div id="bg-footer">
    <div id="footer">
        <p>Copyright &copy; TẬP ĐOÀN DOANH NGHIỆP THAN KHOÁNG SẢN VN TKV</p>
        <p>CÔNG TY TNHH THAN PHÚC AN</p>        
    </div><!--End footer-->
</div> <!--End bg footer-->
</body>
</html>

