<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="vi" />
<meta name="keywords" content=" han viet, cong ty han viet" />
<meta name="description" content=" han viet, cong ty han viet" /> 
<meta name="revisit-after" content="1 days" />
<meta name="robots" content="noodp,index,follow" />
<link rel="SHORTCUT ICON" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/gif" />
<title>TIN TỨC</title>
<link href="css/dosvn.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
		<div id="header">
        	<div id="header-left"><img src="images/logo.png" alt="Logo" /></div><!--End header left-->
            <div class="lang"><a href="#" title="Tiếng Việt">Tiếng Việt <img src="images/vn.gif" alt="Việt Nam" /></a> <a href="#" title="English">English <img src="images/en.gif" alt="English" /></a></div>
           	<div class="clear"></div>
        </div><!--End header-->
     	<ul class="nav">
            <li><a href="index.html" title="">TRANG CHỦ</a></li>
            <li><a href="about.html" title="">GIỚI THIỆU</a></li>
            <li><a href="product.html" title="">SẢN PHẨM</a></li>
            <li><a href="services.html" title="">DỊCH VỤ</a></li>
            <li><a href="news.html" title=""  class="select-nav">TIN TỨC</a></li>
            <li style="background:none"><a href="contact.html" title="">LIÊN HỆ</a></li>
        </ul>  <div class="clear"></div>
       <div id="banner">
			<img src="images/banner.jpg" alt="banner" title="architecture" />
        </div><!--End banner-->
        <div id="content">
        	<div id="left-content">
            	<h1 class="title-left"><span>VỀ CÔNG TY</span></h1>
                <ul class="sub-pro">
                	<li><a href="#" title="">Tổng quan về công ty</a></li>
                	<li><a href="#" title="">Xưởng sản xuất</a></li>
                    <li><a href="#" title="">Phòng thí nghiệm</a></li>
                    <li><a href="#" title="">Máy làm gỗ</a></li>
                    <li><a href="#" title="">Kho thành phẩm</a></li>  
                    <li><a href="#" title="">Khối thành phẩm</a></li>   
                </ul>
                <h1 class="title-left"><span>HỖ TRỢ TRỰC TUYẾN</span></h1>
				<ul class="support">
					<li>Hỗ trợ kỹ thuật</li>
					<li><a href="ymsgr:sendim?thanhansoft"><img src="http://opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2&amp;l=us" alt="thanhansoft" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
					<li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
				</ul>
				<h1 class="title-left"><span>THỐNG KÊ TRUY CẬP</span></h1>
				<ul class="statistics">
					<li>Truy cập trong ngày: 000018</li>
					<li>Đang online: 3</li>
					<li>Tổng lượt truy cập: 038082</li>
				</ul>
            </div><!--End left content-->	
        	<div id="right-content">
            	<h1 class="title-right"><span>TIN TỨC</span></h1>
				<div class="frame-tent-right">
					<div class="masuring">
                        <div class="frame-img"><a href="news-detail.html" title=""><img src="images/no-images.jpg" class="imgcon" alt="chứng khoán"  /></a></div>
                        <h2 class="title-masuring"><a href="news-detail.html" title="">Chứng khoán toàn cầu thiệt hại tới 4.000 tỷ USD</a></h2>
                        <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                    </div>
                    <div class="masuring">
                        <div class="frame-img"><a href="news-detail.html" title=""><img src="images/no-images.jpg" class="imgcon" alt="chứng khoán"  /></a></div>
                        <h2 class="title-masuring"><a href="news-detail.html" title="">Chứng khoán toàn cầu thiệt hại tới 4.000 tỷ USD</a></h2>
                        <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                    </div>
                    <div class="masuring">
                        <div class="frame-img"><a href="news-detail.html" title=""><img src="images/no-images.jpg" class="imgcon" alt="chứng khoán"  /></a></div>
                        <h2 class="title-masuring"><a href="news-detail.html" title="">Chứng khoán toàn cầu thiệt hại tới 4.000 tỷ USD</a></h2>
                        <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                    </div>
                    <div class="masuring">
                        <div class="frame-img"><a href="news-detail.html" title=""><img src="images/no-images.jpg" class="imgcon" alt="chứng khoán"  /></a></div>
                        <h2 class="title-masuring"><a href="news-detail.html" title="">Chứng khoán toàn cầu thiệt hại tới 4.000 tỷ USD</a></h2>
                        <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                    </div>
                    <div class="masuring">
                        <div class="frame-img"><a href="news-detail.html" title=""><img src="images/no-images.jpg" class="imgcon" alt="chứng khoán"  /></a></div>
                        <h2 class="title-masuring"><a href="news-detail.html" title="">Chứng khoán toàn cầu thiệt hại tới 4.000 tỷ USD</a></h2>
                        <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                    </div>
                    <div class="masuring">
                        <div class="frame-img"><a href="news-detail.html" title=""><img src="images/no-images.jpg" class="imgcon" alt="chứng khoán"  /></a></div>
                        <h2 class="title-masuring"><a href="news-detail.html" title="">Chứng khoán toàn cầu thiệt hại tới 4.000 tỷ USD</a></h2>
                        <p>Các nhà kinh tế Mỹ và thế giới ngày 14/8 nhận định những hỗn loạn trên thị trường tài chính tiền tệ toàn cầu trong hai tuần qua đã gây thiệt hại khổng lồ cho các thị trường chứng khoán, ước tính lên tới từ 2.500 đến 4.000 tỷ USD chỉ tronng tuần giao dịch từ 1-5/8.</p>
                    </div>
                    <div class="paging"><a class="pagenav" href="#">Start</a> <a class="pagenav" href="#">Previous</a> <b class="pagecureent">1</b> <a class="pagenav" href="#">2</a> <a class="pagenav" href="index-detail.html">3</a>  <a class="pageactive" href="#">Next</a> <a class="pagenav" href="#">End</a></div>
				</div> <!--End frame rent right-->
            </div><!--End right content-->   <div class="clear"></div>
        </div><!--End content-->
    <div id="footer">
        <ul class="nav-fter">
            <li><a href="index.html" title="">TRANG CHỦ</a></li>
            <li><a href="about.html" title="">GIỚI THIỆU</a></li>
            <li><a href="product.html" title="">SẢN PHẨM</a></li>
            <li><a href="services.html" title="">DỊCH VỤ</a></li>
            <li><a href="news.html" title="">TIN TỨC</a></li>
            <li><a href="contact.html" title="">LIÊN HỆ</a></li>
        </ul>
        <div class="frame-info">
            <p>&copy; Bản quyền thuộc <b>CÔNG TY TNHH THƯƠNG MẠI - QUỐC TẾ THIÊN LONG</b></p>
            <p>Địa chỉ: Xã Vĩnh Khúc, Huyện Văn Giang, Tỉnh Hưng Yên, Việt Nam (Km 20, Quốc lộ 5, đối diện Khu Công nghiệp Phố Nối A) </p>
            <p><span>Tel: +84 321 3729462</span> <span>Fax: +84 321 3729463</span> <span>Email:info@thienlong.vn</span></p>
    	</div> <!--End frame info-->
    </div><!--End footer-->
</div><!--End wrapper-->
</body>
</html>

