<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="vi" />
<meta name="keywords" content=" han viet, cong ty han viet" />
<meta name="description" content=" han viet, cong ty han viet" /> 
<meta name="revisit-after" content="1 days" />
<meta name="robots" content="noodp,index,follow" />
<link rel="SHORTCUT ICON" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/gif" />
<title>SẢN PHẨM</title>
<link href="css/dosvn.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
		<div id="header">
        	<div id="header-left"><img src="images/logo.png" alt="Logo" /></div><!--End header left-->
            <div class="lang"><a href="#" title="Tiếng Việt">Tiếng Việt <img src="images/vn.gif" alt="Việt Nam" /></a> <a href="#" title="English">English <img src="images/en.gif" alt="English" /></a></div>
           	<div class="clear"></div>
        </div><!--End header-->
     	<ul class="nav">
            <li><a href="index.html" title="">TRANG CHỦ</a></li>
            <li><a href="about.html" title="">GIỚI THIỆU</a></li>
            <li><a href="product.html" title=""  class="select-nav">SẢN PHẨM</a></li>
            <li><a href="services.html" title="">DỊCH VỤ</a></li>
            <li><a href="news.html" title="">TIN TỨC</a></li>
            <li style="background:none"><a href="contact.html" title="">LIÊN HỆ</a></li>
        </ul>  <div class="clear"></div>
       <div id="banner">
			<img src="images/banner.jpg" alt="banner" title="architecture" />
        </div><!--End banner-->
        <div id="content">
        	<div id="left-content">
				<h1 class="title-left"><span>DANH MỤC SẢN PHẨM</span></h1>
                <ul class="sub-pro">
                	<li><a href="product-detail.html" title="">Sản phẩm loại 1</a></li>
					<li><a href="product-detail.html" title="">Sản phẩm loại 2</a></li>
					<li><a href="product-detail.html" title="">Sản phẩm loại 3</a></li>
					<li><a href="product-detail.html" title="">Sản phẩm loại 4</a></li>
                </ul>
                <h1 class="title-left"><span>HỖ TRỢ TRỰC TUYẾN</span></h1>
				<ul class="support">
					<li>Hỗ trợ kỹ thuật</li>
					<li><a href="ymsgr:sendim?thanhansoft"><img src="http://opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2&amp;l=us" alt="thanhansoft" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
					<li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
				</ul>
				<h1 class="title-left"><span>THỐNG KÊ TRUY CẬP</span></h1>
				<ul class="statistics">
					<li>Truy cập trong ngày: 000018</li>
					<li>Đang online: 3</li>
					<li>Tổng lượt truy cập: 038082</li>
				</ul>
            </div><!--End left content-->	
        	<div id="right-content">
            	<h1 class="title-right"><span>SẢN PHẨM</span></h1>
				<div class="frame-tent-right">
					<p>Thiết kế của máy nhằm mục đích tiết kiệm năng lượng. Chuyển mạch từ trên biến áp chính đảm bảo tiết kiệm điện ở điều kiện không tải. Trang bị mạch điều khiển I.C công nghệ Thyristor , máy có đặc tính hàn rất tốt và hồ quang hàn ổn định nhờ khả năng tự điều chỉnh khi điện áp nguồn thay đổi.</p>
                    <p>Thiết kế của máy nhằm mục đích tiết kiệm năng lượng. Chuyển mạch từ trên biến áp chính đảm bảo tiết kiệm điện ở điều kiện không tải. Trang bị mạch điều khiển I.C công nghệ Thyristor , máy có đặc tính hàn rất tốt và hồ quang hàn ổn định nhờ khả năng tự điều chỉnh khi điện áp nguồn thay đổi.</p>
                    <p>Thiết kế của máy nhằm mục đích tiết kiệm năng lượng. Chuyển mạch từ trên biến áp chính đảm bảo tiết kiệm điện ở điều kiện không tải. Trang bị mạch điều khiển I.C công nghệ Thyristor , máy có đặc tính hàn rất tốt và hồ quang hàn ổn định nhờ khả năng tự điều chỉnh khi điện áp nguồn thay đổi.</p>
                    <p>Thiết kế của máy nhằm mục đích tiết kiệm năng lượng. Chuyển mạch từ trên biến áp chính đảm bảo tiết kiệm điện ở điều kiện không tải. Trang bị mạch điều khiển I.C công nghệ Thyristor , máy có đặc tính hàn rất tốt và hồ quang hàn ổn định nhờ khả năng tự điều chỉnh khi điện áp nguồn thay đổi.</p>
                    <p>Thiết kế của máy nhằm mục đích tiết kiệm năng lượng. Chuyển mạch từ trên biến áp chính đảm bảo tiết kiệm điện ở điều kiện không tải. Trang bị mạch điều khiển I.C công nghệ Thyristor , máy có đặc tính hàn rất tốt và hồ quang hàn ổn định nhờ khả năng tự điều chỉnh khi điện áp nguồn thay đổi.</p>
				</div> <!--End frame rent right-->
            </div><!--End right content-->   <div class="clear"></div>
        </div><!--End content-->
    <div id="footer">
        <ul class="nav-fter">
            <li><a href="index.html" title="">TRANG CHỦ</a></li>
            <li><a href="about.html" title="">GIỚI THIỆU</a></li>
            <li><a href="product.html" title="">SẢN PHẨM</a></li>
            <li><a href="services.html" title="">DỊCH VỤ</a></li>
            <li><a href="news.html" title="">TIN TỨC</a></li>
            <li><a href="contact.html" title="">LIÊN HỆ</a></li>
        </ul>
        <div class="frame-info">
            <p>&copy; Bản quyền thuộc <b>CÔNG TY TNHH THƯƠNG MẠI - QUỐC TẾ THIÊN LONG</b></p>
            <p>Địa chỉ: Xã Vĩnh Khúc, Huyện Văn Giang, Tỉnh Hưng Yên, Việt Nam (Km 20, Quốc lộ 5, đối diện Khu Công nghiệp Phố Nối A) </p>
            <p><span>Tel: +84 321 3729462</span> <span>Fax: +84 321 3729463</span> <span>Email:info@thienlong.vn</span></p>
    	</div> <!--End frame info-->
    </div><!--End footer-->
</div><!--End wrapper-->
</body>
</html>

