<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="vi" />
<meta name="keywords" content=" han viet, cong ty han viet" />
<meta name="description" content=" han viet, cong ty han viet" /> 
<meta name="revisit-after" content="1 days" />
<meta name="robots" content="noodp,index,follow" />
<link rel="SHORTCUT ICON" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/gif" />
<title>Dịch Vụ</title>
<link href="css/dosvn.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
		<div id="header">
        	<div id="header-left"><img src="images/logo.png" alt="Logo" /></div><!--End header left-->
            <div class="lang"><a href="#" title="Tiếng Việt">Tiếng Việt <img src="images/vn.gif" alt="Việt Nam" /></a> <a href="#" title="English">English <img src="images/en.gif" alt="English" /></a></div>
           	<div class="clear"></div>
        </div><!--End header-->
     	<ul class="nav">
            <li><a href="index.html" title="">TRANG CHỦ</a></li>
            <li><a href="about.html" title="">GIỚI THIỆU</a></li>
            <li><a href="product.html" title="">SẢN PHẨM</a></li>
            <li><a href="services.html" title="" class="select-nav">DỊCH VỤ</a></li>
            <li><a href="news.html" title="">TIN TỨC</a></li>
            <li style="background:none"><a href="contact.html" title="">LIÊN HỆ</a></li>
        </ul>  <div class="clear"></div>
       <div id="banner">
			<img src="images/banner.jpg" alt="banner" title="architecture" />
        </div><!--End banner-->
        <div id="content">
        	<div id="left-content">
				<h1 class="title-left"><span>DỊCH VỤ</span></h1>
                <ul class="sub-pro">
                	<li><a href="services-detail.html" title="">DỊCH VỤ 1</a></li> 
					<li><a href="services-detail.html" title="">DỊCH VỤ 2</a></li> 
					<li><a href="services-detail.html" title="">DỊCH VỤ 3</a></li> 
					<li><a href="services-detail.html" title="">DỊCH VỤ 4</a></li> 
                </ul>
                <h1 class="title-left"><span>HỖ TRỢ TRỰC TUYẾN</span></h1>
				<ul class="support">
					<li>Hỗ trợ kỹ thuật</li>
					<li><a href="ymsgr:sendim?thanhansoft"><img src="http://opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2&amp;l=us" alt="thanhansoft" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
					<li><a href="ymsgr:sendIM?thanhansoft">
						<img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
					<li>Hỗ trợ doanh nghiệp</li>
				</ul>
				<h1 class="title-left"><span>THỐNG KÊ TRUY CẬP</span></h1>
				<ul class="statistics">
					<li>Truy cập trong ngày: 000018</li>
					<li>Đang online: 3</li>
					<li>Tổng lượt truy cập: 038082</li>
				</ul>
            </div><!--End left content-->	
        	<div id="right-content">
            	<h1 class="title-right"><span>DỊCH VỤ</span></h1>
				<div class="frame-tent-right">
					<p>Theo Thứ trưởng Bộ Xây dựng Nguyễn Trần Nam, mỗi năm việc sử dụng gạch đất sét nung làm mất đi một diện tích đất canh tác nông nghiệp của 1 xã. Do đó, Quyết định 567/2010/QĐ-TTg của Thủ tướng Chính phủ về việc phê duyệt Chương trình phát triển vật liệu xây dựng không nung đến năm 2020 đã mở ra một hướng đi mới cho ngành vật liệu chiếm tỷ trọng lớn trong xây dựng.</p>
                    <p>Từ vài ba dây chuyền quy mô nhỏ, sản xuất mang tính thí điểm, thăm dò thị trường, đến nay, cả nước đã có hơn 1.000 dây chuyền sản xuất gạch xi măng cốt liệu công suất dưới 7 triệu viên/năm, 50 dây chuyền công suất 7-40 triệu viên/năm; 22 dự án sản xuất gạch bê tông khí chưng áp với tổng công suất 3,8 triệu m3/năm; 17 dây chuyền sản xuất bê tông bọt với tổng công suất 190.000 m3/năm.
Đến nay, với sản lượng 4,2 tỷ viên, vật liệu xây không nung đã tiết kiệm được 6,15 triệu m3 đất sét, 615.000 tấn than và giảm thải vào khí quyển 2,4 triệu tấn CO2.</p>
                    <p>Chỉ tính riêng 3 loại sản phẩm nói trên, Chương trình 567 đã và sẽ đạt và mục tiêu đề ra, hiện tổng công suất đầu tư sau 1 năm thực hiện đã chiếm từ 16-17% tổng sản lượng vật liệu xây so với tỷ lệ mục tiêu đề ra cho năm 2015 là 20-25%.</p>
                    <p>Tuy nhiên, tình hình sản xuất và tiêu thụ các loại gạch không nung đang cho thấy những bất cập, cần những đòn bẩy chính sách để đi vào cuộc sống.
Gạch block ximăng cốt liệu có mặt trên thị trường từ lâu, thuận lợi về nguyên liệu với nguồn đá mạt, xỉ lò, tro bay,… dồi dào, nhưng mẫu mã sản phẩm đơn điệu, vừa to vừa nặng, giá thành cao nên khó tiêu thụ.</p>
				</div> <!--End frame rent right-->
            </div><!--End right content-->   <div class="clear"></div>
        </div><!--End content-->
    <div id="footer">
        <ul class="nav-fter">
            <li><a href="index.html" title="">TRANG CHỦ</a></li>
            <li><a href="about.html" title="">GIỚI THIỆU</a></li>
            <li><a href="product.html" title="">SẢN PHẨM</a></li>
            <li><a href="services.html" title="">DỊCH VỤ</a></li>
            <li><a href="news.html" title="">TIN TỨC</a></li>
            <li><a href="contact.html" title="">LIÊN HỆ</a></li>
        </ul>
        <div class="frame-info">
            <p>&copy; Bản quyền thuộc <b>CÔNG TY TNHH THƯƠNG MẠI - QUỐC TẾ THIÊN LONG</b></p>
            <p>Địa chỉ: Xã Vĩnh Khúc, Huyện Văn Giang, Tỉnh Hưng Yên, Việt Nam (Km 20, Quốc lộ 5, đối diện Khu Công nghiệp Phố Nối A) </p>
            <p><span>Tel: +84 321 3729462</span> <span>Fax: +84 321 3729463</span> <span>Email:info@thienlong.vn</span></p>
    	</div> <!--End frame info-->
    </div><!--End footer-->
</div><!--End wrapper-->
</body>
</html>

