body{font-family:Tahoma, Geneva, sans-serif; background: #f9fafc url(../images/bgpages.gif) repeat-x; font-size:12px}

a{text-decoration:none; color:#333}
a:hover{color:#0193DE}
.clear{clear:both}
.red{color:red}

/*layout*/
#wapper{width: 950px; margin: auto}

#header{position:relative}
.top-header{padding:5px 0 0 30px;}
.logo{float:left;overflow:hidden; height:109px}
.title-company{padding:25px 0 0 40px;float:left; font-size:18pt;color:#0294DD;font-weight:bold}}
.lang {position:absolute; top:12px; right:0; text-align:right; font-weight:bold}
.lang img{margin-left:5px}
.hot-line{position:absolute;top:30px;right:0;color:#0294DD;font-size:10pt;font-weight:bold}

.main-menu {position:absolute; bottom:-20px;right:10px}
.left2{float:left;background:url(../images/left_topmenu.jpg) no-repeat left; height:57px; width:16px; padding-top:26px}
#nav{float:left}
#nav ul{background:url(../images/topmenu_bg.jpg) center center repeat-x; height:59px; margin:0; padding:0; margin-top:12px}
#nav ul li{display:inline; list-style:none; font-family:Tahoma; font-size:13px; background:url(../images/space_menu.gif) no-repeat right; height:43px; float:left; padding:22px 15px 0 15px}
#nav ul li a{font-weight:bold}
#nav .select{color:#0294DD}
#nav .none-line{background:none}

.right2{float:right; background:url(../images/right_topmenu.jpg) no-repeat left; height:57px; width:16px;padding-top:26px}

#banner {margin:18px 0 0 15px}

#content{background:url(../images/bg_shadow2.gif) repeat-y;}
.bg-line-content{background:url(../images/bg-line-content.gif) repeat-y 250px; padding:15px 32px}
#content .leftCol {width:204px; float:left; text-align:left}

/** Sub cat**/
.frame-sub-cat {	padding-bottom:15px; background:url(../images/bottom_leftmenu.gif) bottom center no-repeat; min-height:50px; height:auto !important; height:50px}
.bt-line-cat{background:url(../images/leftcol_line.gif) no-repeat;height:29px}
.title-left {background:url(../images/topleft_menu.gif) top center; height:27px; color:#fff; text-transform:uppercase; font-weight:bold; text-align:center; padding-top:18px}
.sub-cat {padding:0 20px}
.sub-cat li {background:url(../images/arrow_leftmenu.gif) left 9px no-repeat;border-bottom:1px #ccc dotted; padding:0 0 0 10px; list-style:none}
.sub-cat li a {color:#232323; font-weight:bold; display: block;padding:6px 0; }
.sub-cat li a:hover {color:#c00; text-decoration:none}

.sub-cat li ul{padding:0 0 10px 10px}
.sub-cat ul li{border-bottom:none;padding:3px 0;background:none}
.sub-cat ul li a{background:url(../images/reddot.gif) no-repeat left 6px;padding:0 0 0 10px}

/** Support and adv **/
.line-support{background:url(../images/leftcol_line2.gif) no-repeat;height:29px; margin:0 0 0 4px; width:195px}
#advBox {background:url(../images/bgsupport.gif) center repeat-y; min-height:90px; height:auto !important; height:90px;}
#advBox .bottom { background:url(../images/bottom_hotrotructuyen.gif) bottom no-repeat; height:35px;}

.title-adv { background:url(../images/top_advbox.gif) no-repeat top center; color:#fff; font-weight:bold; height:25px; text-align:center; padding-top:19px;}
.bg-adv{list-style:none;text-align:center;margin:0;padding:0}
.bg-adv li{padding:0 0 5px 0}

.title-support{background:url(../images/hotrotructuyen_title.gif) no-repeat;width:204px; padding:4px 0;margin:0 0 5px 0; text-align:center; font-weight:bold; color:#fff}
.support{list-style:none;margin:0;padding:0;color:#0096EA; font-size:11pt; text-align:center;}
.support li {color:#0096EA; padding:2px 0}
.support li p{margin:1px 0}
.support li img{margin:0 0 10px 0}

/*Thong ke truy cap*/
.statistics{margin:0;padding:10px 3px 20px 40px}
.statistics li {color:#444444;  padding:4px 0}

/* Right Colum */
.rightCol {width:650px; float:right; text-align:left; padding-top:6px}

/*  Frame about page index*/
.frame-tent-right ,.aboutbox{padding:0 0 12px 0;text-align:justify;margin:0 0 10px 0}

.aboutbox{border-bottom:1px #CCC dashed}
.title-box{color:#CA4445; font-size:11pt; border-bottom:1px #CCCDCF solid; margin-bottom:18px; padding-bottom:6px}

.link{color:#CA4445; font-size:11pt;margin:0 0 15px 0}
.link a{color:#036CB4}
.link a:hover{ color:#036CB4}

.title{border-bottom:1px #CCC solid; color:#FFF; font-weight:bold; margin-bottom:20px; height:30px}
.title .left { float:left; background:url(../images/left_titlebox.jpg) no-repeat; height:30px; width:28px;}
.title .right {float:left; background:url(../images/right_titlebox.jpg) right no-repeat; padding-right:45px; padding-left:15px; padding-top:10px; height:20px;}

.bg-title-right{margin:0 0 20px 0;border-bottom:1px #CCC solid;}
.title-right{padding: 0 0 0 24px; float:left; background:url(../images/left_titlebox.jpg) no-repeat left top;}
.title-right span{padding:9px 40px 8px 20px; display:block;background:url(../images/right_titlebox.jpg) no-repeat right top;color:#fff; font-weight:700}

/***** Product    *****/
.all-product{margin:0 ;padding:0}
.product{width:142px;padding:0 0 4px 0; margin:0 8px 10px 8px ; display:inline-block; vertical-align:top;*float:left; *height:250px }

.product-img{height:142px; width:142px; border:1px solid #eee; padding:1px;display:table-cell; vertical-align:middle}
.price{margin:0}
.ico-point{background:url(../images/point.png) no-repeat left 4px;padding:0 0 0 10px}
.title-pro{margin:5px 0 5px 0}
.title-pro a{ color:#000}
.title-pro a:hover{color:#036CB4}

/***    Page product-info     ****/
.title-pro-info{color:#0091DC; text-align:center; font-size:11pt; font-weight:bold;padding:0 0 10px 0}
.black{margin:0 !important; font-size:10pt;text-align:right !important}
.black a{color:#000;background:url(../images/bull-1.gif) no-repeat left 5px;padding:0 0 0 10px}
.black a:hover{background:url(../images/bull.gif) no-repeat left 5px;color:#ED2121}
.frame-img-info{text-align:center;margin:0 0 10px 0}
.frame-img-info img{margin:0 !important;border:2px solid #D1D1D1;padding:2px;-webkit-border-radius:3px;-moz-border-radius:3px}
.title-info{margin:0 0 10px 0;color: #fff}
.title-info span{background: #444444;padding:3px 10px}

/**Page Contact**/
/*** Frame title company  ***/
#frame-info-contact{margin:0 0 15px 0}

.title-contact{ background:#CCC195;margin:0 0 10px 0; padding:7px 2px 7px 10px; font-family:Tahoma, Geneva, sans-serif;font-weight:bold; color:#33220C}
#frm{margin:0 0 10px 0;position:relative}
.frame-contact label{color:#444;font-weight:700;width:120px; float:left}
.frame-contact{list-style:none;margin:15px 0 10px 0;padding:0}
.frame-contact li{padding:4px 0; margin:0 !important}
.frame-contact input{padding:6px;width:171px;background:url(../images/bg_input.png) no-repeat;border:none}
.frame-contact textarea{width:407px; height:122px; margin:5px 0; background: url(../images/bg_textarea.png) no-repeat; border:none; padding: 7px 5px;}
.frame-contact span{color:#f00;margin:0 5px 0 0}
.img-contact{position:absolute;bottom:0px; right:20px}
.frame-contact .bton-dk{background:#9F9F40; color:#fff;padding:7px 0px;margin:0 5px 0 0; text-align:center; cursor:pointer;width:80px;border:none;font-weight:bold;-webkit-border-radius:4px;-moz-border-radius:4px}
.frame-contact .submit{width:90px; background:url(../images/btn.jpg) no-repeat;padding:0 0 0 10px ;color:#fff; font-weight:bold; text-align:left; border:none; cursor:pointer; height: 31px;}
.frame-contact .submit:hover{background:url(../images/btn_hover.jpg) no-repeat}
/****  End page contact     *****/

#footer{background-color:#000; color:#FFF; margin:0; padding:0}
.menu-bottom{width: 920px;padding:15px 0; margin: auto}
.menu-bottom a{text-decoration:none; color:#FFF}
.menu-bottom a:hover{color:#0096EA}
.tent-fter{float:left;width:700px}
.nav-fter{list-style:none;margin:0;padding:0}
.nav-fter li{display:inline;margin:0 10px 0 0;border-right:1px solid #fff}
.nav-fter li a{padding:0 10px 0 0;text-transform:uppercase;}
.nav-fter .none-line{border:none}

.copright{float:right; text-align:right}

/* Error */
.errorSummary{border: 1px solid #FA8C1E; padding:2px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin:10px 0 5px 0}
.errorSummary ul{margin:0 10px; padding:0}
.errorSummary ul li{padding:2px 0; color: red}

/*   Page New  */
.masuring{list-style: none;padding:0; text-align:justify;font-size:10pt;margin:0 0 20px 0}
.masuring li{ margin:0 0 10px 0 }
.frame-img{float:left;width:142px; margin:0 10px 0 0}
.title-masuring{margin:0 0 5px 0}
.title-masuring a{color:#333}
.title-masuring a:hover{color:#0096EA}

/* paging */
ul.paging{float: right; margin:0; padding:0 0 5px 0; list-style: none;}
ul.paging li{display: inline;margin:0 }
ul.paging .hidden{display: none;}
ul.paging .page a, ul.paging .previous a, ul.paging .first a, ul.paging .next a, ul.paging .last a{color:#036CB4; border: 1px solid #ccc; padding: 2px 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px}
ul.paging .page a:hover, ul.paging .previous a:hover, ul.paging .first a:hover, ul.paging .next a:hover, ul.paging .last a:hover, ul.paging .selected a{color:#fff; background:#036CB4}
