
/* views block */

.thumbs_list {margin:0;padding:0;list-style:none}
.thumbs_list ul {width:270px !important;overflow:hidden;}
.thumbs_list li {width:95px;height:120px;float:left;cursor:pointer;margin:8px 8px 0 0;font-size:12px;text-align:center}
.thumbs_list li a img {width:95px;height:65px;border:1px solid #ececec;}


.prod_detail.{width:290px;background-color:#fff;overflow:hidden !important;}
.prod_detail #paginate-slider2{width:255px !important;overflow:hidden;float:left;margin:10px 0;}
.prod_detail #paginate-slider2 li{margin:0 6px 0 0 !important;width:95px;height:65px;float:left;cursor:pointer}

.prod_detail span.prevsmall {float:left;margin:0 5px 0 0; cursor:pointer}
.prod_detail span.nextsmall {float:right;margin:0 2px 0 0; cursor:pointer}