body {background:#fff; font:9pt Arial, Helvetica, sans-serif}
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000;}
/*layout*/
*{margin:0; padding:0}

/** header **/
.page-main{width:975px;margin:auto}
#header{background:url(../images/bg-header.png) no-repeat;position:relative}
#logo{text-align:center}

.lang{position:absolute; top:5px; right:10px}
.lang a{margin-left:5px}

#wrapper {width:975px;margin:auto;background:url(../images/bg-content.png) no-repeat top}

/**  nav **/
.bg-nav{background:url(../images/nav-bg.png) repeat-x}
#nav{ list-style:none;padding-top:5px;padding-left:10px}
#nav li{float:left;margin-right:3px;position:relative}
#nav li a{padding:7px 13px 11px 13px;display:block;color:#fff;text-transform:uppercase}
#nav li a:hover{background:url(../images/nav-select.png) repeat-x;border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0}
#nav li:hover >a{background:url(../images/nav-select.png) repeat-x;border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0}
#nav li ul{ display:none}
#nav li:hover ul{list-style:none;display:block;background:#3162C6;position:absolute; z-index:200; top:32px; width:18em;border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;padding-bottom:3px}
#nav li ul li{width:100%;border-bottom:1px solid #fff}
#nav li ul li.last{border:none}
#nav li ul li a{color:#fff; padding:5px 5px 5px 10px;text-transform:inherit} 
#nav li ul li a:hover{background:#073A83;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}
#nav .selected{background:url(../images/nav-select.png) repeat-x;border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0}

#nav li ul .none-line{border:none}

/** Banner **/
#banner{margin:0 0 10px 0;padding:0 12px}

/* Page Content*/
.main-content{padding:10px 0}
#content{background:url(../images/content-bg.png) no-repeat center top;padding:10px 14px}

/*Left content*/
#left-content{float:right; width:311px}
.frame-leftcontent{background:url(../images/panel-right-bg.png) no-repeat top;padding-top:8px;margin-bottom:12px}

.title-project ,.title-left ,.title-right{font-size:10pt;color:#ff0000;text-transform:uppercase;margin-bottom:10px} 
.title-project span ,.title-left span{padding-left:15px} .title-project{margin-bottom:0}

/* video_hot */
.video_hot{text-align:center;padding-top:10px}

/*sub cat*/
.sub-cat{padding:0 5px 10px 17px;list-style:none}
.sub-cat li{padding:4px 0}
.sub-cat li a{color:#073D88;display:block;font-size:10pt;}
.sub-cat li a:hover{color:#f00}
.sub-cat li ul{padding:5px 0 0 10px;list-style:none}
.sub-cat li ul li{padding:2px 0 0 0;list-style:square;margin-left:20px;color:#4CB2E2}
.sub-cat li ul li a{color:#4CB2E2;margin-left:-6px} 
.sub-cat li ul li:hover{color:#f00}

/*Ho tro ky thuat*/
.support{list-style:none;padding:10px 0 0 0;text-align:center}
.support li {color:#444; line-height:1.5em}
.support li img{margin-bottom:8px}

/*Thong ke truy cap*/
.statistics{list-style:none;padding:0 3px 0 15px}
.statistics li {color:#444;padding:0 0 4px 0}

/*bg-adv adv left*/
.bg-adv{list-style:none;text-align:center;padding:10px 0 0 0}
.bg-adv li{padding:0 0 3px 0}

/*Right content*/
#right-content{float:left; width:625px}
#right-content p{margin:0 0 10px 0}
#right-content ul li, #right-content ol li{margin:4px 0 4px 40px}
#right-content ul ,#right-content ol{margin: 0 0 12px 0}

/**  frame-tent-right  **/
.frame-tent-right{padding:5px 0}
.frame-tent-right p{line-height:1.6em}

/**  panel-about  **/
.panel-about{line-height:1.6em;margin-bottom:10px; background:url(../images/line-about.png) repeat-y 312px ; text-align:justify}
.panel-about-left{float:left;width:290px}
.panel-about-right{float:right;width:290px}

/**  breadcrumbs  **/
.breadcrumbs{color:#0B51B5;margin-bottom:15px }
.breadcrumbs b{padding:0 6px;position:relative;top:-2px}
.breadcrumbs a{color:#073D88}
.breadcrumbs a:hover{color:#ED1F24}

/**  product **/
#right-content .all-product{margin:0;padding:5px 0 0 0; list-style:none}
#right-content .all-product .product{width:200px;text-align:center;margin:0 0 15px 5px;display:inline-block;vertical-align:top}
.product-img{width:200px; height:140px;display:table-cell;vertical-align:middle;border-bottom:1px solid #FDD7E4;border:2px solid #EDECEC;padding:5px 0;border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0}
.line-bottom-product{background:url(../images/pro-line-footer.png) no-repeat; height:6px;margin-bottom:2px}
#right-content .price{font-size:14px; font-weight:bold; color:#0b51b5;margin-top:5px}
.title-product a{color:#ff0000;font-size:16px} .title-product{font-weight:normal}
.title-product a:hover{color:#073C86}

/***    Page product-info     ****/
.frame-pro-info{padding:0 10px}
.row-info{margin: 0 0 15px 0}
.right-info{float:right;width:400px}
.tent-right-info{padding:0 10px}
.title-info{margin:0 0 10px 0;color: #fff;font-size:9pt}
.title-info span{background: #444444;padding:3px 10px}
.price-info{color:#000;margin:0 0 10px 0 !important;font-size: 10pt}
.price-info span{margin: 0 0 0 10px;color:#f33b96}
.black{font-size:10pt;text-align:right}
.black a{color:#000;background:url(../images/bull-1.gif) no-repeat left 7px;padding:0 10px 0 8px}
.black a:hover{background:url(../images/bull.gif) no-repeat left 7px;color:#ED2121}

/* table format */
table {border-collapse : separate; border-spacing : 0;width : 100%; border : 1px solid #e5e5e5;}
caption, th, td {text-align : left; font-weight : normal;}
table, td, th {vertical-align : middle;}
thead tr th {font-weight : bold; background : #C8EEF4; border-bottom : 1px solid #C6C6C6; padding : 5px; font-size:10pt; color:#333}
tbody tr td{padding : 6px 5px;color : #111}

/**  table-job tuyen dung  **/
.panel-info-job{text-align:center;margin-bottom:20px;padding-top:30px}
.panel-info-job p{margin:0 !important;color:#073D88;line-height:1.5em; font-style:italic}
.panel-info-job p span{color:#f00}

.table-job{border:none}
.table-job .header-table-job td{font-weight:bold;padding:3px 0}
.table-job tr td{border:1px solid #ccc;padding:4px 5px}
.order-number{width:40px; text-align:center}
.recruitment{width:300px} .recruitment a{color:#073D88;font-weight:bold;display:block} .recruitment a:hover{color:#FF0000}
.profile-date{width:80px; text-align:center}
.working{width:100px; text-align:center}

/*   Page New  */
#right-content .panel-items{list-style: none; text-align:justify;font-size:10pt;margin:0 0 20px 0}
.panel-items li{ margin:0 0 5px 0 !important;border-bottom:1px solid #EAEAEA;padding-bottom:5px}
.frame-img{float:left;margin:0 8px 0 0}
.title-items-news{margin:0 0 5px 0;font-size:10pt}
.title-items-news a{color:#0084D5}
.title-items-news a:hover{color:#FF0000}

/*** panel-items-related  tin tuc dau tien page index***/
#right-content .panel-items-related li{color:#000;margin:4px 0 4px 30px}
.panel-items-related a{color:#000;font-weight:bold;display:block}
.panel-items-related li:hover{color:#73BFD3}
.panel-items-related a:hover{color:#73BFD3}

/**  panel-items-other tin tuc lien quan **/
.title-item-other{color:#0084D5;margin:20px 0 10px;font-size:11pt}
#right-content .panel-items-other li{list-style:none; color:#0D2364;margin-left:10px}
.panel-items-other li a{color:#0084D5;display:block;padding:3px 0; background:url(../images/iconnew.gif) no-repeat left 4px;padding-left:17px}
.panel-items-other li a:hover{color:#f90}

/* paging */
#right-content  ul.paging{margin-top:15px;padding-right:5px;list-style: none;float:right}
ul.paging li{display: inline;margin:0 !important;}
ul.paging .hidden{display: none;}
ul.paging .page a, ul.paging .previous a, ul.paging .first a, ul.paging .next a, ul.paging .last a{color:#fff;background:#0C56BE;padding:2px 6px;border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px}
ul.paging .page a:hover, ul.paging .previous a:hover, ul.paging .first a:hover, ul.paging .next a:hover, ul.paging .last a:hover, ul.paging .selected a{background:#073C86}

/** Form lien he  **/
#frm{margin:0 0 10px 0;}
.frame-contact label{color:#000;margin:0;font-weight:bold; width:130px; float:left}
.frame-contact{list-style:none;margin:15px 0 10px 0}
.frame-contact li{padding:4px 0; margin:0 !important}
.frame-contact input{ margin:0 20px 0 0; padding:3px;width:220px; border:1px solid #ddd;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.frame-contact textarea{border:1px solid #ddd;width: 350px; -moz-border-radius: 3px; -webkit-border-radius:3px}
.frame-contact span{color:#f00;margin:0 5px 0 0;}

.frame-contact .button-submit{margin:10px 0 5px 30px;background:#084396;color:#fff; height:28px;text-align:center; cursor:pointer;width:70px;border:none;font-weight:bold}
.frame-contact .button-submit{margin:10px 10px 5px 0}
/****  End page contact     *****/

/**  partner đối tác **/
.partner-top-line{background:url(../images/partner-line-top.png) repeat-x;padding-top:20px;margin-bottom:20px}
.partner{float:left;padding-top:5px}
.partner-group{list-style:none}
.partner-group li{float:left; width:140px;background:url(../images/partner-line.png) no-repeat right;margin-left:20px}
.partner-img{display:table-cell; vertical-align:middle;height:90px}

/*Footer*/
#footer{padding:10px 0;text-align:center;color:#000;line-height:1.5em}
#footer a:hover{color:#D13272}
#footer a{color:#000}

/** line-menu-footer **/
.line-menu-footer{border-top:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;padding:10px 0;margin-bottom:15px}
.panel-footer{position:relative}
#top-link{position:absolute; top:0; right:0}
.menu-footer {list-style:none}
.menu-footer li{display:inline;margin-right:10px}
.menu-footer li a{padding-right:14px;color:#313030;text-transform:uppercase;font-size:10pt;background:url(../images/nav-footer-line.png) no-repeat right}
.menu-footer li a:hover{color:#073C86} .menu-footer .none-line a{background:none }

/**  page-footer and copyright **/
.page-footer{background:url(../images/footer-line.png) repeat-y 300px;padding-bottom:15px;line-height:1.4em;font-size:10pt;color:#1e1d1d;margin-bottom:10px}
.logo-footer{float:left; width:210px;padding-top:15px}
.copyright{float:right; width:710px; text-align:center;padding-top:10px}
.company-footer{font-size:11pt}

/* Error */
.errorSummary{border: 1px solid #FA8C1E; padding:2px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin:10px 0 5px 0}
.errorSummary ul{margin:0 10px; padding:0}
.errorSummary ul li{padding:2px 0; color: red}

/*Add to cart*/
.form_order{background:#fff;margin:0 0 15px 0;-webkit-border-radius:0 0 4px 6px;-moz-border-radius:0 0 6px 4px}
.form_order thead{background:#342925}
.form_order thead tr td{font-weight : bold;padding : 5px !important; color:#fff;font-size:10pt}

.form_order tbody tr td{border : 1px solid #ddd;}
.form_order tbody tr .pic-order{padding:5px 0}
.form_order tbody tr input{border:1px solid #ccc}
.form_order tbody tr td a{color:#2C2C2C}
.form_order tbody tr td a:hover{color:#3994AB}

.btn_order{cursor:pointer; border:none;font-weight:bold;background:#342925;padding:5px 7px;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;margin:0 10px 0 0}
.btn_order:hover{color:#fff}

.frm-cart label{width:100px}
.notificaion{color:#2C2C2C;font-size:10pt;margin:0 0 10px 0}
.note span{color:#f00}













