<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sieuthi</title>
<meta name="author" content="groupitsoft" />
<meta name="keywords" content="{DTITLE} {TITLEWEB} {KEYWORD} {SITE_NAME}" />
<meta name="description" content="{DTITLE} {TITLEWEB} {KEYWORD} {SITE_NAME}" />
<link type="text/css" rel="stylesheet" href="css/dosvn.css" />

<link type="text/css" rel="stylesheet" href="css/nivo-slider.css" />
<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="js/81.mina.js" ></script>
<script type="text/javascript" src="js/stepcarousel.js" ></script>
<script type="text/javascript" src="js/stepcarousel.js" ></script>
</head>

<body>


<!--warpper-->
<div id="wapper">
	<div id="header">
    	<div><img src="images/logo.jpg" alt="logo sieu thi"/></div>
     
    </div>
    <div class="clear"></div>
    <div id="all">
        <div id="menu">
        	<ul>
            	<li><a href="index.html"  title="Trang chủ">trang chủ</a></li>
                <li><a href="philosophy.html" title="Philosophy">philosophy</a></li>
                <li><a href="case-studies.html"  title="Case studies">case studies</a></li>
                <li><a href="measuring.html"  title="Measuring marketing">measuring marketing</a></li>
                <li><a href="dieukhoansudung.html"  title="Điều khoản sử dụng">điều khoản sử dụng</a></li>
                <li><a href="lienhe.html"  title="Liên hệ">liên hệ</a></li>
                
            </ul>
        </div>
        
        <div id="content">
        	<div class="topborder"><img src="images/top.gif"  alt="border top"/></div>
<div id="lcon">
					<div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
						<h1><span>supplier - list</span></h1>
							<ul class="list">
								<li><a href="supplier-list.html" title="marketing research">marketing research</a></li>
								<li><a href="#" title="marketing ATL">marketing ATL</a></li>
								<li><a href="#" title="marketing BTL">marketing BTL</a></li>
								<li><a href="#" title="event - PR - TVC">event - PR - TVC</a></li>
								<li><a href="#" title="Digital marketing">Digital marketing</a></li>
								<li><a href="#" title="giấy phép, địa điểm">giấy phép, địa điểm</a></li>
								<li><a href="#" title="MC - PG - model - expert">MC - PG - model - expert</a></li>
								<li><a href="#" title="đồng phục quảng cáo">đồng phục quảng cáo</a></li>
								<li><a href="#" title="in ấn, quà tặng">in ấn, quà tặng</a></li>
								<li><a href="#" title="booth, sân khấu">booth, sân khấu</a></li>
								<li><a href="#" title="vận chuyển, thuê xe">vận chuyển, thuê xe</a></li>
								<li><a href="#" title="cơ sở gia công">cơ sở gia công</a></li>
								<li><a href="#" title="vật tư quảng cáo">vật tư quảng cáo</a></li>
								<li><a href="#" title="âm thanh, ánh sáng, IT">âm thanh, ánh sáng, IT</a></li>
								<li><a href="#" title="dù, pallet, mascot">dù, pallet, mascot</a></li>
								<li><a href="#" title="tổng hợp">tổng hợp</a></li>
							</ul>
						<div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
						
					
						<div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
						<h1><span>đăng nhập</span></h1>
                        	<form id="login" name="login" action="">
                                <ul>
                                    <li>username</li>
                                    <li class="user"><input type="text" name="username" size="15"/></li>
                                    <li>password</li>
                                    <li class="pass"><input type="text" name="pass" size="15"/></li>
                                    <li><input type="checkbox" name="remember" />Remember me</li>
                                    <li><input type="image" src="images/login.gif" /></li>
                                    
                                    <li class="ngang" style="margin:10px 10px"></li>                   	
                                    <li><a href="#" title="">forget password</a></li>
                                    <li><a href="dangky.html" title="Đăng ký">register</a></li>
                                    <li><a href="#">quyền lợi khi là thành viên ?</a></li>
                                </ul>
                            </form>
						<div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
					
				   <div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
						 <h1><span>thống kê truy cập</span></h1>
							<ul class="statistics">
								<li>truy cập trong ngày: 000003</li>
								<li>đang truy cập: 1</li>
								<li>tổng lượt truy cập: 032584</li>
								
							</ul>
				  <div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
				  
				</div><!--END LEFT-->            
            <div id="allrightcon">
            	<div id="centercon"> 
						<div id="banner">
                                        <div id="slider-wrapper">
                                                <div id="slider" class="nivoSlider">
                                                    
                                                    <img src="images/banner1.jpg" alt="" />
                                                    <img src="images/banner2.jpg" alt=""  />
                                                    <img src="images/banner3.jpg" alt="" />
                                                    <img src="images/banner4.jpg" alt="" />
                                                    <img src="images/banner5.jpg" alt=""  />
                                                    <img src="images/banner6.jpg" alt=""  />
                                                    <img src="images/banner7.jpg" alt=""  />
                                                    <img src="images/banner8.jpg" alt=""  />
                                                    <img src="images/banner9.jpg" alt=""  />
                                                    <img src="images/banner10.jpg" alt=""  />
                                                </div>
                                          </div>
                                            <script type="text/javascript" src="js/jquery-1.4.3.min.js" > </script>
                                            <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
                                            <script type="text/javascript">
                                            $(window).load(function() {
                                                $('#slider').nivoSlider();
                                            });
                                            </script>
                             
                        </div>
						<div class="clear"></div> 
						
								<h2>philosophy</h2>
                               	<div class="tieude"><span>sieuthiPOSM - </span><b>nơi niềm tin hội tụ</b>
                                    	<div>( Tư vấn, thực hiện thiết kế, hoàn thiện các sản phẩm )</div>
                                        <ul class="info">
                                            <li>Điện thoại :Test</li>
                                            <li>Fax :Test</li>
                                            <li>Hotline :Test</li>
                                            <li>Email :Test</li>
                                        </ul>
                                       
                                </div>
                                <div id="supperlist">
                                	<h2>credential: Bản mô tả về các hoạt động của công ty</h2>
                                    <p>"cú huých lớn được góp nhặt từ những cái nhỏ" Jeffrey(Marketing Expert). Nhiều khâu vụn vặt đã kết
hợp lại với nhau thành một chiến lược lớn, và kết quả là sự ra đời của trang SieuthiPOSM.com, cổng 
thông tin dành riêng cho những người quan tâm tới các chiến dịch quãng cáo, trong đó POSM(Point 
Of Sales Material) được quan tâm chuyên sâu hơn.Tất cả các cá nhân, tổ chức, tư vấn viên độc lập,..
đều có một sức mạnh để tự đưa họ lên một vị trí quan trọng trong thế giới trực tuyến. </p>
									<p>sieuthiPOSM.com muốn trở thành nơi của những chuyên viên đang hoạt động trong lỉnh vực vật tư 
quãng cáo, Marketing ATL, Marketing BTL, và Digital Marketing thể hiện sức mạnh của mình, nơi của 
những người có niềm đam mê chia sẻ và yêu thích thảo luận trong lỉnh vực Marketing, sử dụng POSM
trong các chiến dịch quãng cáo.Với mong muốn làm SieuthiPOSM.com trở thành phương tiện truyền 
thông cho các tổ chức, cá nhân chuyển tải thông tin phù hợp đến với người mua, là nơi mà người mua
có thể tiếp nhận thông tin một cách tốt nhất. chúng tôi muốn lấy Web làm phương tiện truyền thông 
nền tảng để truyền tải những nội dung thông tin và tư duy của các chuyên viên qua các trang Web, 
bài viết, hình vẽ, ảnh chụp, âm thanh, đoạn Video, và thậm chí là đưa cả sản phẩm dịch vụ vào phim
ảnh, các trò chơi và thực tại trong thế giới ảo. Vì một cộng đồng Marketing Việt Nam phát triển, vì 
một nghành công nghiệp sản xuất POSM còn non trẻ, với hy vọng Việt Nam sẽ có những nhà cung 
cấp POSM đủ năng lực sản xuất để xuất khẩu, mang lại nhiều giá trị cho doanh nghiệp Viêt Nam, dân
tộc Việt Nam. Trân trọng.</p>
                               </div>
                                    
									<div class="paging"><a class="pagenav" href="#">Start</a><a class="pagenav" href="#">Previous</a><b class="pagecureent">1</b> <a class="pagenav" href="#">2</a> <a class="pagenav" href="#">3</a>  <a class="pageactive" href="#">Next</a> <a class="pagenav" href="#">End</a></div> 
								
						
                        <div class="clear"></div>
                        <ul class="menusmall">
                        	<li><img src="images/icon-1.gif" alt="home" /><a href="index.html" title="Trang chủ">trang chủ</a></li>
                            <li><img src="images/icon-2.gif" alt="Email" />email</li>
                            <li><img src="images/icon-3.gif" alt="Print" />print</li>
                            <li><img src="images/icon-4.gif" alt="Save" />save</li>
                        </ul>
                        
                        <!--Cac doi tac-->
                        <div id="doitac">
							
                                <div id="mygallery" class="stepcarousel">
                                        <div class="belt">
                                            <div class="panel">
                                                <div class="border"><a href="/vi/product/cat/view/924"><img src="images/image-6.jpg" alt="Đất thống nhất 72m²" /></a></div>
                                                <div style="text-align:center; font-weight:bold; padding-top: 5px"><a href="/vi/product/cat/view/924">Đất cấp nhà cấp 4, đất khai thác chưa sử dụng</a></div>
                                            </div>
                                            
                                            <div class="panel">
                                                <div class="border"><a href="/vi/product/cat/view/924"><img src="images/image-6.jpg" alt="Đất thống nhất 72m²" /></a></div>
                                                <div style="text-align:center; font-weight:bold; padding-top: 5px"><a href="/vi/product/cat/view/924">Đất cấp nhà cấp 2</a></div>
                                            </div>
                                            
                                            <div class="panel">
                                                <div class="border"><a href="/vi/product/cat/view/924"><img src="images/image-6.jpg" alt="Đất thống nhất 72m²" /></a></div>
                                                <div style="text-align:center; font-weight:bold; padding-top: 5px"><a href="/vi/product/cat/view/924">Đất cấp nhà cấp 5</a></div>
                                            </div>
                                            
                                            <div class="panel">
                                                <div class="border"><a href="/vi/product/cat/view/924"><img src="images/image-6.jpg" alt="Đất thống nhất 72m²" /></a></div>
                                                <div style="text-align:center; font-weight:bold; padding-top: 5px"><a href="/vi/product/cat/view/924">Đất cấp nhà cấp 40</a></div>
                                            </div>
                                            
                                            <div class="panel">
                                                <div class="border"><a href="/vi/product/cat/view/924"><img src="images/image-6.jpg" alt="Đất thống nhất 72m²" /></a></div>
                                                <div style="text-align:center; font-weight:bold; padding-top: 5px"><a href="/vi/product/cat/view/924">Đất cấp nhà cấp 4421</a></div>
                                            </div>
                                            <div class="panel">
                                                <div class="border"><a href="/vi/product/cat/view/924"><img src="images/image-6.jpg" alt="Đất thống nhất 72m²" /></a></div>
                                                <div style="text-align:center; font-weight:bold; padding-top: 5px"><a href="/vi/product/cat/view/924">Đất cấp nhà cấp 4933</a></div>
                                            </div>
                                            <div class="panel">
                                                <div class="border"><a href="/vi/product/cat/view/924"><img src="images/image-6.jpg" alt="Đất thống nhất 72m²" /></a></div>
                                                <div style="text-align:center; font-weight:bold; padding-top: 5px"><a href="/vi/product/cat/view/924">Đất cấp nhà cấp 4341²</a></div>
                                            </div>
                                            <div class="panel">
                                                <div class="border"><a href="/vi/product/cat/view/924"><img src="images/image-6.jpg" alt="Đất thống nhất 72m²" /></a></div>
                                                <div style="text-align:center; font-weight:bold; padding-top: 5px"><a href="/vi/product/cat/view/924">Đất cấp nhà cấp 49</a></div>
                                            </div>
                                            <div class="panel">
                                                <div class="border"><a href="/vi/product/cat/view/924"><img src="images/image-6.jpg" alt="Đất thống nhất 72m²" /></a></div>
                                                <div style="text-align:center; font-weight:bold; padding-top: 5px"><a href="/vi/product/cat/view/924">Đất cấp nhà cấp 01</a></div>
                                            </div>
                                            <div class="panel">
                                                <div class="border"><a href="/vi/product/cat/view/924"><img src="images/image-6.jpg" alt="Đất thống nhất 72m²" /></a></div>
                                                <div style="text-align:center; font-weight:bold; padding-top: 5px"><a href="/vi/product/cat/view/924">Đất cấp nhà cấp 901</a></div>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                    stepcarousel.setup({
                                        galleryid: 'mygallery', //id of carousel DIV
                                        beltclass: 'belt', //class of inner "belt" DIV containing all the panel DIVs
                                        panelclass: 'panel', //class of panel DIVs each holding content
                                        autostep: {enable:true, moveby:1, pause:3000},
                                        panelbehavior: {speed:500, wraparound:true, persist:false},
                                        defaultbuttons: {enable: true, moveby: 1, leftnav: ['images/left.gif', -19, 6], rightnav: ['images/right.gif', -2, 6]},
                                        statusvars: ['statusA', 'statusB', 'statusC'], //register 3 variables that contain current panel (start), current panel (last), and total panels
                                        contenttype: ['inline'] //content setting ['inline'] or ['ajax', 'path_to_external_file']
                                    })
                                    </script>
                         </div><!--End cac doi tac--> 
					</div><!--End centercon-->
                    
                <div id="rightcon">
						 <div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
							<h1><span>sản phẩm mới</span></h1>
								<ul>
									<li><img src="images/image-1.jpg" alt="cai du"/></li>
									<li><img src="images/image.jpg" alt="cai du" /></li>
								</ul>
						 <div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>   
									   
						 <div class="topmenu"><img src="images/top-mn-list.gif" alt="border top menu" /></div>
								<h1><span>quảng cáo</span></h1>
									<ul>
										<li><img src="images/image-1.jpg" alt="cai du" /></li>
										<li><img src="images/image.jpg" alt="máy lạnh" /></li>
										<li><img src="images/image-1.jpg" alt="cai du" /></li>
										<li><img src="images/image.jpg" alt="máy lanhj" /></li>
									</ul>
						<div class="btmenu"> <img src="images/bd-mn-list.gif" alt="border menu list"  /></div>
				</div><!--End rightcon-->
            </div>
        <div class="clear"></div>
        <div class="btborder"><img src="images/bottom.gif" alt="bottom" /></div>
   	</div>
    	<div id="footer">copyright &copy; position co, ltd 2011 all rights reserved</div>
    </div>
</div><!--end warpper-->
</body>
</html>
