body {background:#fff;font-family:Arial, Helvetica, sans-serif; font-size:9pt;min-width:1024px;padding:10px 3px}
.left{float: left;}
.right{float:right}
.clear{clear: both;}
.clear-left{clear:left}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000;}

/*layout*/
*{margin:0; padding:0}
#wrapper {width:100%}

/********    Header  Top     *********/
#header-top{position:relative;top:0;left:0}

/*Header left*/
.hd-left{width:188px}

/*Header center*/
.hd-cter{position:absolute; top:0; left:200px; width:59%}

/*Welcome dang ky, dang nhap*/
.welcome{margin:0 0 10px 0}
.regis, .login{font-size:10pt;font-weight:bold}
.regis, .login:hover{color:#3B64CA}
.login, .regis:hover{color:#FE9A00}

/*Nav*/
.frame-nav{float:left;}
.left-nav{float:left;background:url(../images/bg-nav-left.gif) no-repeat; height:35px; width:3px}
.bg-nav{float:left; background:url(../images/bg-nav-right.gif) repeat-x right; height:35px;padding:0 3px 0 0 }
.nav{list-style:none;margin:2px 0 0 0;float:left; background:#FAFAFA;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}
.nav li{float:left;border-right:1px solid #ccc}
.nav li a{padding:9px 12px;font-weight:700; display:block; color:#3B65C9;font-size:9pt}
.nav li a:hover{color:#fff;background:#3C64C7}
.nav .select-nav{color:#fff;background:#3C64C7}

.nav .bder-none{border:none}

/*header right*/
.hd-right{position:absolute; right:0; top:0; text-align:right}
.hotline{color:#ff8602;font-weight:bold}
.sub-hdright{list-style:none;padding:23px 0 0 0}
.sub-hdright li{display:inline}
.sub-hdright li a{padding:0 8px 0 5px;background:url(../images/line-hdright.gif) no-repeat right;color:#3b64ca;font-weight:bold}
.sub-hdright li a:hover{color:#ff8602}
.sub-hdright .sub-hdright-none a{background:none;padding:0 0 0 7px}

/*******   End header top   *********/

/*Header footer*/
.hder-fter{background:#3C64C7; position:relative;padding:3px 2px 2px 3px;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}
 
/***  header footer left  ***/
.hder-fter-left{float:left;width:182px}
.title-list{background:url(../images/bg-list.gif) no-repeat;width:182px;color:#fff;padding: 8px 0 10px 0; text-align:center;font-weight:bold;font-size:
13px}
.title-list a{color:#fff}

/****   Form tim kiem san pham *****/
#frm-search{float:left; width:79.5%;margin:0 0 0 15px;padding:5px 0 0 0}
#frm-search select, #frm-search input{padding:1px;}
.select{width:21%}
.searchbox{width:55%;background:#fff;color:#f00}
.bton-search{cursor:pointer; font-weight:bold; background:#FF9119;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px; text-align:center; height:31px;width:73px; border:none}

/***   header footer right ***/
.hder-fter-right{position:absolute; right:5px; top:5px;}
.members:hover, .deposit:hover{color:#fff;}
.members{background:url(../images/bton-hoivien.png) no-repeat left top;padding:8px 10px 8px 35px;font-size:10pt; color:#fff;font-weight:bold}
.deposit{background:url(../images/bton-kygui.png) no-repeat; padding:8px 35px 8px 20px;font-size:10pt; color:#fff;font-weight:bold }

/* Page index detail */
.slogan{text-align:center; background:#EEF7FF;font-weight:bold;padding:10px 0;margin:0 0 10px 0}

.frame-sub-menu{border-left:3px solid #3C64C7; border-bottom:3px solid #3C64C7;border-right:3px solid #3C64C7; background:#EDF7FF}
.frame-list{float:left; width:14.5%; background:#EDF7FF;}
.frame-list h2{color:#f90;padding: 25px 0 0 0;text-align:center;font-weight:bold;font-size:
13px }

.frame-sub-menu-right{float:left; width:85.5%;background:#fff}

.sub-menu-right{list-style:none}
.sub-menu-right li{float:left;border-bottom:1px solid #EEF7FF}
.sub-menu-right li a{padding:7px 23px 7px 23px;font-weight:bold; font-size:10pt; display:block; color:#3B65C9; background:url(../images/border-line.gif) no-repeat right}
.sub-menu-right li a:hover{color:#f90}
.sub-menu-right .select-sub-right{color:#f90}

/*frame-search-detail page index detail dung ID #frame-search-detail*/
/*#frame-search-detail{text-align:center;}
#frame-search-detail .hometype{width:15%}
#frame-search-detail .district{width:19.6%}
#frame-search-detail .location{width:15%}
#frame-search-detail ul{list-style:none;padding:0 !important; position:relative; left:250px}*/

/** End page index detail **/

/****   End header footer  ****/

/*Content*/
#content{ margin:0 0 30px 0}
.title-left{color:#FF8601;font-family:Times New Roman,Times,serif; font-size:18pt; font-weight:700;margin:0 0 10px 0}
.frame-tent-right{margin:0 0 20px 0}

/*All left content*/
#all-left-content{float:left; width:75%}
#all-left-content p{margin:0 0 10px 0}
#all-left-content ul li{margin:0 0 0 18px}

/*Left content*/
#left-content{float:left; width:185px;background:#3C64C7;padding:0 0 3px 0;-webkit-border-radius:0 0 0 5px }

.nav-left{list-style:none;background:#EDF7FF;margin:0 0 0 3px;border-right:1px solid #87A5AF}
.nav-left li{padding:5px 0; border-bottom:1px solid #87A5AF;margin:0 !important}
.nav-left li a{color:#000;font-weight:bold;padding:0 0 0 10px;font-size:10pt;display:block}
.nav-left li a:hover{color:#FF9119}

/*frame-search-detail page index dung class .frame-search-detail*/
.frame-search-detail{float:left; width:74.5%; text-align:center}
.title-detail{font-size:14pt;color:#3C63C8;padding:10px 0 0 0;margin:0 0 10px 0}
.frm-search-detail{background:url(../images/bg-search-detail.gif) no-repeat top center; height:160px}
.frm-search-detail ul{list-style:none; text-align:left !important; padding:0 0 0 130px}
.frm-search-detail ul li{margin:0 0 5px 0 !important}
.frm-search-detail select{padding:1px 0 1px 5px;border:1px solid #999}
.hometype{width:25%}
.district{width:32.5%}
.location{width:25%}
.bton-search-detail{font-weight:bold; background:#FF9119;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px; padding:5px 15px; border:none}

/*BG footer left contet*/
.bg-footer-left{background:url(../images/bg-footer-content.gif) repeat-x; width:100%;padding:10px 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0}
.all-tent-fter{padding:0 10px}
.title-fter-left{color:#FF8601;font-weight:bold;font-size:11pt;margin:0 0 10px 0}

/*footer-left*/
.footer-left{float:left; width:90%}

/*Item sale and khung img*/
.item-sale{border-bottom:1px solid #C9E1F4;padding:0 0 15px 0;margin:0 0 20px 0}
.frame-img-pro{float:left; width:100px;margin:0 10px 5px 0;border:2px solid #A5A7A6;-webkit-border-radius:2px;-moz-border-radius:2px}
.item-sale p{margin:0 !important}

/*Thong tin ban hang*/
.info-sale{float:left; width:82.25%}
.title-sale{font-size:11pt;font-weight:bold; color:#3393EA;margin:0 0 10px 0}
.title-sale a{color:#3393EA}
.title-sale a:hover{color:#FF9119}
.sub-sale{list-style:none}
.sub-sale li{display:inline-block; vertical-align:top; color:#444; width:20%;margin:0 24px 0 0 !important; *float:left}
.sub-sale p{line-height:1.5em}

.position{color:#f90;font-size:10pt;font-weight:bold}
.price{font-size:10pt;font-weight:bold}
.price span{color:#f00;font-size:12pt;font-weight:bold}

.long{padding:0 40px 0 0}
.wide{padding:0 29px 0 0}
.direction{padding:0 20px 0 0}

.ico-map{background:url(../images/bando.gif) no-repeat left top; padding:0 0 0 20px; cursor:pointer}
.ico-save{background:url(../images/save.gif) no-repeat left top;padding:0 0 0 20px}
.ico-contact{background:url(../images/ico-contact.gif) no-repeat left top; padding:0 0 0 20px}
.ico-map a,.ico-save a, .ico-contact a{color:#444} 

/*Ngay dang tin*/
.date-posted{color:#999;font-size:7.5pt}

/*footer-right*/
.footer-right{float:right;width:60px}
.title-footer-right{color:#86c61e;border:1px solid #E5E5E5;text-align:center; padding:2px 0;margin:0 0 7px 0; -webkit-border-radius:4px;-moz-border-radius:4px}

/*   Page New  */
.masuring{text-align:justify;font-size:10pt;list-style:none}
.masuring li{margin:0 0 5px 0 !important }
.masuring p{line-height:1.4em}
.frame-img{float:left;width:143px;margin:0 10px 5px 0}
.title-masuring{margin:0 0 2px 0}
.title-masuring a{color:#3393EA;font-size:10pt;font-weight:bold}
.title-masuring a:hover{color:#FF9119}

/**************    End all left content        *******************/

/*Right content*/
#right-content{float:right; width:24%}

/*Quang cao ben phai*/
.adv-right{list-style:none;padding:3px 0 0 0}
.adv-right li{margin:0 0 5px 0}

.all-view-new{text-align:right}
.all-view-new a{margin:0 0 0 3px;font-weight:bold;color:#004181} 
.all-view-new a:hover{color:#f90}

/* sub-consultant services and news */
.frame-right{border:1px solid #CCDFEE;padding:10px 5px 10px 10px;-webkit-border-radius:4px;-moz-border-radius:4px;margin:0 0 10px 0}
.title-right{color:#ffa800;font-size:14px;font-weight:bold;margin:0 0 10px 0}
.sub-consultant{list-style:none;padding:5px 0 0 18px;margin:0 0 5px 0}
.sub-consultant li{list-style:disc;color:#ffa800;padding:0 0 6px 0}
.sub-consultant li a{color:#000;font-size:10pt; display:block}
.sub-consultant li a:hover{color:#E97D13}

/* paging and tab */
.tabs li { display:inline}

.paging{list-style:none}
.paging a{color:#004181}
.paging a:hover{background:#44A4DE; color:#fff;}
.pagenav , .pageactive{border: 1px solid #8AC1F9; padding: 2px 5px; color:#44A4DE; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.pagecureent{border: 1px solid #8AC1F9; padding: 2px 5px; background:#44A4DE; color:#fff; font-weight:bold; -moz-border-radius: 4px; -webkit-border-radius: 4px}
.posted{background:url(../images/icon-1.gif) no-repeat left 3px; padding:0 0 0 17px;margin:0 5px}
.all-view{background:url(../images/icon-2.gif) no-repeat left 3px; padding:0 0 0 10px}
.posted a:hover,.all-view a:hover{background:none; color:#f90}

/*Footer*/
#footer{text-align:center;font-size:10pt;}
#footer a{color:#0064a6}
#footer a:hover{color:#f90}
.logo-footer{margin:0 0 10px 0}
.nav-fter{list-style:none;margin:0 0 3px 0}
.nav-fter li{display:inline}
.nav-fter li a{padding:0 10px;font-size:10pt;font-weight:bold}
.frame-info{line-height:1.5em; color:#0064a6;background:url(../images/bg-footer-page.gif) repeat-x;padding:10px 0}


/*Page Info */
.link{padding:10px 5px 10px 5px}
.link , .link a{color:#0064a6;font-weight:bold; font-size:10pt}

.frame-product-info{border:1px solid #F0F0F0;-webkit-border-radius:3px;-moz-border-radius:3px;margin:0 0 10px 0; padding:5px}
.tent-info-product{border-bottom:1px dotted #ccc}

/***** Left page info   ******/
.left-pro-info{float:left; width:24%}
.left-pro-info ul li{}

/* Bg top left info*/
.bg-top-left-info{background:#FFE6C7 url(../images/bg-info.gif) repeat-x;margin:0 0 10px 0;list-style:none;padding:5px}
.item-info-1 img, .item-info-2 img,.item-info-3 img{margin:0 8px 0 0}
.item-info-1,.item-info-2,.item-info-3{float:left; width:100px}

.bg-top-left-info li{margin:0 !important;padding:5px 0}

/**  Sub pro info  **/
.sub-pro-info{margin:0 0 10px 0;list-style:none;padding:0 0 0 5px}
.sub-pro-info li{margin:0 !important;padding:3px 0}
.sub-pro-info span{float:right}
.sub-pro-info li label{font-weight:bold}

/*Tien ich*/
.title-utility{color:#FF8601;font-size:11pt; text-decoration:underline;margin:0 0 10px 0}
.sub-utility{list-style:none}
.sub-utility li{padding:3px 0}
.sub-utility input{float:right; color:#f90}

/****      End left page info           *****/

/***** right pro info *****/
.right-pro-info{float:right; width:55%;margin:0 60px 0}

/****  End right pro info ***/

/* Frame contact*/
.frame-contact{background:url(../images/bg-footer-content.gif) repeat-x; border:1px solid #F0F0F0;margin:0 0 10px 0; padding:5px 0}
.title-contact{font-size:14pt;border-bottom:1px solid #F0F0F0;margin:0 0 8px 0; padding:5px 0}
.title-contact span{padding:0 0 0 10px}

.top-contact{padding:0 10px}
.frame-img-contact{float:left; margin:0 5px 5px 0; width:84px}
.title-top{margin:0 0 5px 0;font-size:12pt;color:#496DCB;font-weight:bold}
.frame-info-contact p{margin:0 0 5px 0}
.member-contact{border:1px solid #ccc; padding:3px 5px;color:#f90;-webkit-border-radius:4px; -moz-border-radius:4px;font-size:8pt;}

.frm-conact-post{padding:0 10px}
.frm-conact-post ul{list-style:none}
.frm-conact-post ul li{margin:0 0 8px 0}
.frm-conact-post ul li span{color:#f00;font-weight:bold}
.frm-conact-post input, .frm-conact-post textarea  {border:1px solid #ccc;padding:3px; width:100%}
.frm-conact-post p{font-weight:bold;color:#444}
.bton-contact{width:60px !important; border:none; background:#436DD9;color:#fff; font-weight:bold;font-size:11pt;-webkit-border-radius:4px; -moz-border-radius:4px;cursor:pointer}

/* End page info*/

/* Form Dang ky va Dang nhap*/
.frm-registration{ margin:20px 0 0 0;padding:0 20px;}
#frm-login {margin:20px 0 0 0; padding:0 20px}
.bt-frm-login li{margin:0 !important}
.bt-frm-login  label{ width:150px;float:left;padding-top:2px; color:#333; font-weight:700;text-align:left}
.bt-frm-login span{color:#F00}
.bt-frm-login .select-date input{width:58px; color:#666}
.bt-frm-login .select-date select{ color:#666;-moz-border-radius: 3px; -webkit-border-radius: 3px; border:1px solid #ccc; padding:3px; *_position:relative; *_top:-11px}
.bt-frm-login input{ margin:0 0 10px 0; border:1px solid #ddd; width:230px; padding:3px;-webkit-border-radius:3px; -moz-border-radius:3px}
.bt-frm-login{ list-style:none;padding:0 0 15px 0}
.forgot{color:#444; font-weight:bold}
.forgot:hover{ color:#000;text-decoration:underline}
.bt-frm-login .bton-dk,.bt-frm-login .singin{margin:10px 0 5px 30px;background:url(../images/button.gif) no-repeat;color:#fff;padding:7px 0px; text-align:center; cursor:pointer;width:100px;border:none;font-weight:bold}
.bt-frm-login .bton-dk{margin:10px 0 5px 0}


/** Tool tip images **/
#preview{position:absolute;border:1px solid #ccc;background:#333;padding:5px;display:none;color:#fff;}


/*** Tooltip ***/
#tooltip{background:#FFFFFF;border:1px #CCCCCC solid;border-radius:0.5em;-moz-border-radius:0.5em;padding:8px 9px 8px 9px;position:absolute;z-index:3000;
}
.product-info{display:none}
.product-name{font-size:11pt;font-weight:bold; margin:0 0 5px 0}
.price-tip{color:#f00; font-weight:bold}
/*-- End Tooltip --*/




