/*
=======================================================================
	Product Detail Page Rules
=======================================================================
*/
.frame-detail{float:left; width:200px; overflow:hidden;}

.prod_detail { 
	width:240px;
	padding:10px;
	float:left;
	margin-bottom:20px;
}
.prod_detail .big_thumb{
	width:240px;
	height:400px;
	background-color:#f8f7f7;
	border:#ededed solid 1px;
	float:left;
	overflow:hidden !important;
}
.prod_detail .contentdiv {
	width:238px !important;
	height:311px !important;
	overflow:hidden !important;
	float:left;
}
.prod_detail .contentdiv img{
	width:238px !important;
	height:311px !important;
	overflow:hidden !important;
	float:left;
	margin:00px 0px 0px 0px;
	z-index:1;
}
.big_thumb #slider2{
	width:238px;
	height:311px;
	overflow:hidden !important;
	float:left;
}
.big_thumb #paginate-slider2{
	width:200px !important;
	height:60px;
	overflow:hidden;
	float:left;
	margin:17px 0px 0px 0px;
}
.big_thumb #paginate-slider2 ul{
	width:2000px !important;
}
.prod_detail #paginate-slider2 li{
	margin-right:12px;
}
.prod_detail #paginate-slider2 li a{
	border:#c2c2c2 solid 1px;
	float:left;
	height:55px !important;
	width:55px !important;
}
.prod_detail #paginate-slider2 li a.selected{
	border:#999 solid 1px;
}
.prod_detail #paginate-slider2 img{
	float:left;
	height:55px;
	width:55px;
	z-index:1;
}
.prod_detail span.prevsmall {
	float:left;
	margin:38px 10px 0px 5px; cursor:pointer;
}
.prod_detail span.nextsmall {
	float:right;
	margin:38px 5px 0px 0px; cursor:pointer;
}
.zoom {
	background-repeat:no-repeat;
	background-position:top left;
	width:238px;
	height:311px;
	margin:-311px 0px 0px 0px;
	z-index:9;
	font-size:1000px;
	overflow:hidden;
	display:block;
	float:left;
}
.zoom:hover {
	background-image:url(../images/zoom.png);
}
