/*Tab Detail */
.infotab{}
ul.tabs { margin: 0;padding: 0;float: left;height:30px;width: 100%;}
ul.tabs li {float:left;margin:0 3px 0 0;padding:0;height:30px;line-height:30px;overflow: hidden;position: relative;top:1px; z-index:100}
ul.tabs li a {text-decoration: none;color: #000;display: block;font-size: 1.2em;border:1px solid #ccc;background:#fff;padding: 0 10px;outline: none;}
ul.tabs li:hover{border:none}
ul.tabs li a:hover{background:#029CD8;color:#fff} 
ul.tabs li.active{border:none}   
ul.tabs li.active a{background:#029CD8;color:#fff}

.tab_container {border: 1px solid #ccc;clear: both;float:left; width: 100%;padding:15px 0;margin-bottom:15px}


