<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="vi" />
<meta name="description" content="Khởi sự doanh nghiệp,cẩm nang doanh nghiệp,kinh nghiệp thương trường"/>
<meta name="keywords" content="Khởi sự doanh nghiệp,cẩm nang doanh nghiệp,kinh nghiệp thương trường" />
<meta name="revisit-after" content="1 days" />
<meta name="robots" content="noodp,index,follow" />
<title>Năm sai lầm cần tránh khi khởi sự doanh nghiệp</title>
<link rel="SHORTCUT ICON" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/gif" />
<link href="css/dosvn.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script> 
<!-- Video -->
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" />
</head>
<body>
    <div id="wrapper"> 
            <div id="header">
                <div class="logo"><a href="index.html" title=""><img src="images/logo.png" alt="Logo" /></a></div>
                <div id="header-right">
                    <img src="images/key.png" alt="Key" />
                </div><!--End header right--><div class="clear"></div>
            </div><!--End header--> 
            <ul id="nav">
				<li class="home"><a href="index.html" title="Home"><img src="images/home.png" alt="Home" title=""/></a></li>
				<li><a href="news.html" title="Tin tức Sự Kiện">Tin tức &amp; Sự kiện</a></li>
				<li><a href="handbook.html" title="Cẩm nang khởi sự" class="select">Cẩm nang khởi sự</a></li>
				<li><a href="experience.html" title="Kinh nghiệm thương trường">Kinh nghiệp thương trường</a>
					<ul>
					   <li><a href="#">Kiến thức thương trường</a></li>
					   <li><a href="#">Những điều cần tránh</a></li>
					</ul>
				</li>
				<li><a href="knows.html" title="Kiến thức quản lý">Kiến thức quản lý</a>
					<ul>
					   <li><a href="#">Admin</a></li>
					   <li><a href="#">Moderator</a></li>
					   <li><a href="#">Super Mod</a></li>
					   <li><a href="#">Members</a></li>
					</ul>
				</li>
				<li><a href="consulting.html" title="Góc Tư vấn">Góc tư vấn</a></li>
				<li><a href="world-business.html" title="Thế giới doanh nhân">Thế giới doanh nhân</a></li>
				<li><a href="corporate-culture.html" title="Văn hóa doanh nghiệp">Văn hóa doanh nghiệp</a></li>
				<li style="background:none"><a href="entertainment.html" title="Giải trí">Giải trí</a>
					<ul>
					   <li><a href="#">Game mini</a></li>
					   <li><a href="#">Ghép ảnh</a></li>
					   <li><a href="#">Góc thư giản</a></li>
					   <li><a href="#">Truyện cười</a></li>
					</ul>
				</li>
            </ul><div class="clear"></div>
            <div class="bg-nav-hover"></div>
            <div id="content">
            	<div id="leftcontent">
                	<h1 class="title-left"><span>Cẩm nang khởi sự</span></h1>
                    <div class="frame-tent-left">
                        <h2 class="title-masuring">Năm sai lầm cần tránh khi khởi sự doanh nghiệp</h2>
                        <p>Một vài báo cáo khoa học ở nước ngoài thời gian gần đây cho thấy trong hai năm đầu đi vào hoạt động, có trên 30% doanh nghiệp nhỏ gặp thất bại. Trong năm năm tiếp theo, số doanh nghiệp gặp khó khăn chiếm tới 50%</p>
						<img src="images/pic3.jpg" alt="Pic 3" title="" />
                        <p>Điều đó cho thấy việc khởi sự doanh nghiệp thành công là không hề đơn giản, hay nói một cách chính xác hơn thì tỉ lệ doanh nghiệp khởi sự thành công không nhiều, chỉ khoảng 30%.
</p>
                        <p>Như vậy, để lọt vào top 30% doanh nghiệp khởi sự thành công, bạn cần phải nổ lực hơn rất nhiều. Và một trong những điều quan trọng nhất là bạn cần phải tránh được những sai lầm cơ bản dưới đây mà theo thống kê thì 70% doanh nghiệp còn lại thường mắc phải.
</p>
                    	<h2 class="title-others">Các Tin khác</h2>
                        <ul class="sub-others">
                            <li><a href="#" title="">Đề xuất nghỉ Tết Nhâm Thìn 9 ngày</a></li>
                            <li><p><a href="#" title="">S&amp;P hạ mức tín nhiệm các ngân hàng lớn của Mỹ</a></p></li>
                            <li><a href="#" title="">Các chức giám đốc điều hành Dự án Đường cao tốc Thành Phố Hồ Chí Minh - Trung Lương</a></li>
                            <li><p><a href="#" title="">Hòa thượng Thích Thanh Tứ - nhà sư nối tiếp truyền thống "Hộ Quốc an Dân" của Phật Giáo Việt Nam</a></p></li>
                            <li><a href="#" title="">Lãnh đạo nước ta đoán tiếp hội đàm với Thủ Tướng Bê-la-rút</a></li>
                            <li><p><a href="#" title="">Tham gia ý kiến vào dự thảo pháp lệnh Ưu đãi người có công với cách mạng</a></p></li>
                            <li><a href="#" title="">Gắn phong trào phụ nữ với thực hiện các mục tiêu, nhiệm vụ chung của đất nước</a></li>
                        </ul>
                    </div><!--End frame tent-->
                    <div class="bd-bt-tenf-left"></div>
                </div><!--End left content-->
                <div id="rightcontent">
                	<form action="" class="frm-search" method="post">
                    	<label class="title-search">Tìm kiếm</label>
                        <input type="text" class="input" name="" />
                        <input type="submit" value="&nbsp;" class="bt-go" />
                    </form> <div class="clear"></div>
                    <div class="row2">
                    	<div class="info-know">
                        	<h1 class="title-info">Thông tin cần biết</h1>
                            <ul class="sub-info">
                            	<li><p class="info-1"><a href="http://finance.vietstock.vn/default.aspx" title="Chứng khoán"><img src="images/ico-info1.gif" alt="Chứng khoán" />Chứng khoán</a></p></li>
                                <li><p class="info-2"><a href="http://vov.vn/Services/Infopage.aspx?svc=exchangerates" title="Tỷ giá"><img src="images/ico-info2.gif" alt="Tỷ giá" />Tỷ giá</a></p></li>
                                <li style="border:none"><p class="info-3"><a href="http://giavanghomnay.net/" title="Giá vàng"><img src="images/ico-info3.gif" alt="giá vàng" />Giá vàng</a></p></li>
                            </ul>
                            <div class="bd-bt-info"></div>
                        </div><!--End info know-->
                        <div class="bg-support">
                        	<h1>Hỗ Trợ Trực Tuyến</h1>
                            <ul class="support">
                                <li><img src="images/ico-support1.gif" alt="" />0916.304030</li>
                                <li><img src="images/ico-support2.png" alt="" />0916.228628</li>
                            </ul>
                    	</div><!--End bg support-->  <div class="clear"></div>
                    </div><!--End row 2-->
                    <div class="video">
                        <a href="http://youtu.be/MHKpVVe5QZA" rel="prettyPhoto" title="iPhone 4 Tutorial Part 4"><img src="images/bg-video.jpg" alt="iPhone 4 Tutorial Part 4" /></a>
                        <script type="text/javascript" charset="utf-8">
                          $(document).ready(function(){
                            $(".video a[rel^='prettyPhoto']").prettyPhoto();
                          });
                        </script>
            		</div>
                    <h1 class="title-right"><span>Quảng Cáo</span></h1>
                    <div class="bg-sub-ad">
                        <ul class="sub-ad-1">
                            <li><a href="#" title=""><img src="images/ttnn.gif" alt="Dong a" title="Dong A" width="180"/></a></li>
                            <li><a href="#" title=""><img src="images/nang-luong-toan-cau.jpg" alt="Nuong Luong toan cau" title="Nang luong toan cau" width="180"/></a></li>
                            <li><a href="#" title=""><img src="images/cty-nang-luong-toan-cau.jpg" alt="Cong ty nang luong toan cau" title="Cong ty nang luong toan cau" width="180"/></a></li>
                            <li><a href="#" title=""><img src="images/hlbay9.jpg" alt="Du lich quoc te Dong A" title="Du lich quoc teDong A" width="180"/></a></li>
                        </ul>

                        <ul class="sub-ad-2">
                            <li><a href="#" title=""><img src="images/ttnn.gif" alt="Dong a" title="Dong A" width="180"/></a></li>
                            <li><a href="#" title=""><img src="images/nang-luong-toan-cau.jpg" alt="Nuong Luong toan cau" title="Nang luong toan cau" width="180"/></a></li>
                            <li><a href="#" title=""><img src="images/cty-nang-luong-toan-cau.jpg" alt="Cong ty nang luong toan cau" title="Cong ty nang luong toan cau" width="180"/></a></li>
                            <li><a href="#" title=""><img src="images/hlbay9.jpg" alt="Du lich quoc te Dong A" title="Du lich quoc teDong A" width="180"/></a></li>
                        </ul>  <div class="clear"></div>
                    </div>
                    <div class="bd-bt-scroll"></div>
               </div><!--End right content-->
               <div class="clear"></div>
        </div><!--End content-->
        <h1 class="title-buy-ad"><span>Mua quảng cáo tại đây</span></h1>
        <div class="mid-buy-ad">
        	<ul class="sub-buy-ad">
            	<li><h3 class="title-sub-buy"><a href="#" title="">Sữa chữa điện máy điện lạnh tại Hà Nội</a></h3>
                	<img src="images/pic1.jpg" style="float:left" alt="pic 1" title="" />
                	<p class="link-buy"><a href="#" title="" >dienlanhbachkhoa.net</a></p>
                    <p>Công Ty TNHH DV &amp; KT Điện Tử Điện Lạnh Bách Khoa Trung tâm dịch vụ sửa chữa, bảo trì chuyên nghiệp tại Hà Nội </p>
                </li>
                <li><h3 class="title-sub-buy"><a href="#" title="">Túi khí cách nhiệt Cát Tường - Gỉai pháp chinh phục thiên nhiên</a></h3>
                	<img src="images/pic2.jpg" style="float:left" alt="pic 2" title="" />
                	<p class="link-buy"><a href="#" title="">vatgia.com</a></p>
                    <p>Công Ty TNHH DV &amp;KT Điện Tử Điện Lạnh Bách Khoa Trung tâm dịch vụ sửa chữa, bảo trì chuyên nghiệp tại Hà Nội </p>
                </li>
                <li><h3 class="title-sub-buy"><a href="#" title="">Sữa chữa điện máy điện lạnh tại Hà Nội</a></h3>
                	<img src="images/pic1.jpg" style="float:left" alt="pic 1" title="" />
                	<p class="link-buy"><a href="#" title="">dienlanhbachkhoa.net</a></p>
                    <p>Công Ty TNHH DV &amp;KT Điện Tử Điện Lạnh Bách Khoa Trung tâm dịch vụ sửa chữa, bảo trì chuyên nghiệp tại Hà Nội </p>
                </li>
                <li style="border:none"><h3 class="title-sub-buy"><a href="#" title="">Túi khí cách nhiệt Cát Tường - Gỉai pháp chinh phục thiên nhiên</a></h3>
                	<img src="images/pic2.jpg" style="float:left" alt="pic 2" title="" />
                	<p class="link-buy"><a href="#" title="">vatgia.com</a></p>
                    <p>Công Ty TNHH DV &amp;KT Điện Tử Điện Lạnh Bách Khoa Trung tâm dịch vụ sửa chữa, bảo trì chuyên nghiệp tại Hà Nội </p>
                </li>
            </ul><div class="clear"></div>
        </div>
        <div class="bd-bt-buy-ad"></div>
        <div class="frame-new-fter">
        	<ul class="sub-new-fter">
            	<li><img src="images/adv.jpg" alt="Sao Việt phía sau ánh hào quang" title="Sao Việt phía sau ánh hòa quang" />
                	<a href="#">Sao Việt - phía sau ánh hào quang</a>
                </li>
                <li><img src="images/adv-1.jpg" alt="Sao Việt phía sau ánh hào quang" title="Sao Việt phía sau ánh hòa quang" />
                	<a href="#">Sao Việt - phía sau ánh hào quang</a>
                </li>
                <li><img src="images/adv-2.jpg" alt="Sao Việt phía sau ánh hào quang" title="Sao Việt phía sau ánh hòa quang" />
                	<a href="#">Sao Việt - phía sau ánh hào quang</a>
                </li>
                <li><img src="images/adv-3.jpg" alt="Sao Việt phía sau ánh hào quang" title="Sao Việt phía sau ánh hòa quang" />
                	<a href="#">Sao Việt - phía sau ánh hào quang</a>
                </li>
                <li><img src="images/adv-4.jpg" alt="Sao Việt phía sau ánh hào quang" title="Sao Việt phía sau ánh hòa quang" />
                	<a href="#">Sao Việt - phía sau ánh hào quang</a>
                </li>
                <li><img src="images/adv-5.jpg" alt="Sao Việt phía sau ánh hào quang" title="Sao Việt phía sau ánh hòa quang" />
                	<a href="#">Sao Việt - phía sau ánh hào quang</a>
                </li>
                <li class="last"><img src="images/adv-6.jpg" alt="Sao Việt phía sau ánh hào quang" title="Sao Việt phía sau ánh hòa quang" />
                	<a href="#">Sao Việt - phía sau ánh hào quang</a>
                </li>
            </ul>	<div class="clear"></div>
        </div>
</div><!--End wrapper-->
<div id="bg-fter">
    <div id="footer">
    	<div class="fter-left">
            <p>Copyright &copy; 2011 by Khoisudoanhnghiep.vn .All rights reserved</p>
            <p class="copyright"> Design by Website <a href="#" title="">Azweb.vn</a></p>
    	</div>
        <ul class="statistics">
        	<li>Số người đang truy cập : 12</li>
            <li>Số lượng truy cập trong ngày : 58</li>
            <li>Số lượng truy cập trong tháng : 579</li>
            <li>Tổng số lượt truy cập : 3465703</li>
        </ul><div class="clear"></div>
    </div><!--End Footer-->
</div><!--End bg fter-->
</body>
</html>

