.wt-rotator{position:relative;overflow:hidden;}
.wt-rotator a{
outline:none;
}
.main-img{
display:none;
position:absolute;
top:0;
left:0;
z-index:0;
border:0px;
}
.preloader{
background:#000 url(../images/loader.gif) no-repeat center;
float:left;
width:34px;
height:34px;
position:absolute;
top:0;
left:0;
z-index:4;
display:none;
}
#timer{
position:absolute;
top:0;
left:0;
height:4px;
z-index:4;
visibility:hidden;
}
.desc{
color:#FFF;
background:transparent url(../images/panel_bg.png) repeat;
position:absolute;
top:0;
left:0;
z-index:6;
overflow:hidden;
visibility:hidden;
}

.thumbnails ul{
list-style:none;
margin:0;
padding:0;
}
.thumbnails ul li{ visibility:hidden}
.thumbnails li.thumb-over{
color:#fff;
background-color:#FFF;

}

.thumbnails li *{
display:none;
}

.block,.vpiece,.hpiece{
position:absolute;
z-index:2;
}
/*deprecated styles*/
#bg-img{
display:none;
}
#main-img{
display:none;
}
#tooltip{
display:none;
}
.preloader img{
display:none;
}