<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Computers</title>
<link href="css/dosvn.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/wt-rotator.css" /> 
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="js/jcarousellite.js"></script>
<script type="text/javascript" src="js/special-block.js"></script> 
<script type="text/javascript" src="js/jquery-banner-rotato.js"></script> 
<script type="text/javascript" src="js/jquery-banner-rotato.effect.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		runbanner(1002,432);
	});
</script>
</head>
<body>
 <div id="wrapper">
	<div id="header">
    	<div class="left"><img src="images/logo.png" alt="Logo" /></div>
        <div class="hdrright">
        	<div class="lang"><img src="images/vn.gif" alt="Tiếng việt" /> <a href="#" title="">Tiếng Việt</a> <img src="images/en.gif" alt="English" /> <a href="#" title="">English</a></div>
        	<div class="buy"><img src="images/corsina.png" alt="Buy"  /> Your Cart is: <a href="#" title="">0 items</a></div>
        </div>
         <div class="clear"></div>
    </div><!--End header-->
    <div id="allmenu">
            <div class="leftmenu"> </div>
            <ul class="menu">
                <li><a href="index.html" title="">Home Page</a></li>
                <li><a href="catalog.html" title="">Catalog</a></li>   
                <li><a href="specials.html" title="">Specials</a></li>
                <li><a href="new-product.html" title="">News Product</a></li>
                <li><a href="login.html" title="">My Account</a></li>
                <li style="background:none"><a href="login.html" title="" >Login</a></li>
                <li id="search" style="background:none">
                    <form  id="frsearch" name="frm" action="" method="post">
                        <input type="text" class="input"/>
                        <input type="image"  src="images/search.jpg" alt="" />
                    </form>
                </li>
            </ul>
    </div><!--END  menu -->
    <div class="clear"></div>
    <div id="allbanner">
    	<div class="banner">
        	<div class="container"> 
				<div class="wt-rotator">
					<a href="#"></a>   
					<div class="thumbnails"> 
						  <ul> 
								<li><a href="images/banner.jpg" title="architecture"></a></li> 
								<li><a href="images/banner-1.jpg" title="architecture"></a></li> 
								<li><a href="images/banner-2.jpg" title="architecture"></a></li> 
							  
						  </ul> 
					</div>  
				</div> 
            </div>
        </div>
    </div><!--End Banner-->
    <div class="clear"></div>
    <div class="slaids">
		<div class="slaids_left">
			<div class="slaids_right">
				<span class="prev left_bat"></span>
				<span  class="next right_bat"></span>
				<div class="gallery">
					<ul>
						<li class="li_img">
							<div class="im">
								<a  href="#" title=""><img src="images/img-7.jpg" alt="Robin Synthetic Wig by Noriko" title=" Robin Synthetic Wig by Noriko " width="175" height="145" /></a>
							</div>		  
							<div class="scrol_inf"><a class="prod" href="#" title="">Robin Synthetic Wig by </a>
								<div class="clear"></div>
								<span class="price_scroler">500.20</span>						
							</div>		  
								<span class="scroler_details"><a href="#" title="">
								Details</a></span>		
						</li>
						<li class="li_img">
							<div class="im">
								<a  href="#" title=""><img src="images/img-1.jpg" alt="Alias Wig" title=" Alias Wig " width="175" height="145" /></a>
							</div>		  			  
							<div class="scrol_inf"><a class="prod" href="#" title="">Alias Wig</a>
								<div class="clear"></div>
							</div>		  
							<span class="scroler_details"><a href="#" title="">
									Details</a></span>	
						</li>
						<li class="li_img">
							<div class="im">
								<a  href="#" title=""><img src="images/img-2.jpg" alt="Angelica Synthetic Wig by Noriko" title=" Angelica Synthetic Wig by Noriko " width="175" height="145" /></a>
							</div>		  
							 <div class="scrol_inf"><a class="prod" href="#" title="">Angelica Synthetic Wig </a>
								<div class="clear"></div>
								<span class="price_scroler">499.97</span>	
							</div>		  
								<span class="scroler_details"><a href="#" title="">
								Details</a></span>		
						</li>
						<li class="li_img">
							<div class="im">
								<a  href="#" title=""><img src="images/img-8.jpg" alt="Provocative Synthetic Hairpiece by easihair" title=" Provocative Synthetic Hairpiece by easihair " width="175" height="145" /></a>
							</div>		  
							<div class="scrol_inf"><a class="prod" href="#" title="">Provocative Synthetic H</a>
								<div class="clear"></div>
								<span class="price_scroler">749.97</span>
							</div>		  
							<span class="scroler_details"><a href="#" title="">
									Details</a></span>		
						</li>
						<li class="li_img">
							<div class="im">
								<a  href="#" title=""><img src="images/img-9.jpg" alt="Robin Synthetic Wig by Noriko" title=" Robin Synthetic Wig by Noriko " width="175" height="145" /></a>
							</div>		  
							<div class="scrol_inf"><a class="prod" href="#" title="">Robin Synthetic Wig by </a>
								<div class="clear"></div>
								<span class="price_scroler">500.20</span>						
							</div>		  
								<span class="scroler_details"><a href="#" title="">
								Details</a></span>		
						</li>
						<li class="li_img">
							<div class="im">
								<a  href="#" title=""><img src="images/img-4.jpg" alt="Alias Wig" title=" Alias Wig " width="175" height="145" /></a>
							</div>		  			  
							<div class="scrol_inf"><a class="prod" href="#" title="">Alias Wig</a>
								<div class="clear"></div>
							</div>		  
							<span class="scroler_details"><a href="#" title="">
									Details</a></span>	
						</li>
						<li class="li_img">
							<div class="im">
								<a  href="#" title=""><img src="images/img-3.jpg" alt="Angelica Synthetic Wig by Noriko" title=" Angelica Synthetic Wig by Noriko " width="175" height="145" /></a>
							</div>		  
							 <div class="scrol_inf"><a class="prod" href="#" title="">Angelica Synthetic Wig </a>
								<div class="clear"></div>
								<span class="price_scroler">499.97</span>	
							</div>		  
								<span class="scroler_details"><a href="#" title="">
								Details</a></span>		
						</li>
						<li class="li_img">
							<div class="im">
								<a  href="#" title=""><img src="images/img-10.jpg" alt="Provocative Synthetic Hairpiece by easihair" title=" Provocative Synthetic Hairpiece by easihair " width="175" height="145" /></a>
							</div>		  
							<div class="scrol_inf"><a class="prod" href="#" title="">Provocative Synthetic H</a>
								<div class="clear"></div>
								<span class="price_scroler">749.97</span>
							</div>		  
							<span class="scroler_details"><a href="#" title="">
									Details</a></span>		
						</li>
						<li class="li_img">
							<div class="im">
								<a  href="#" title=""><img src="images/img-11.jpg" alt="Provocative Synthetic Hairpiece by easihair" title=" Provocative Synthetic Hairpiece by easihair " width="175" height="145" /></a>
							</div>		  
							<div class="scrol_inf"><a class="prod" href="#" title="">Provocative Synthetic H</a>
								<div class="clear"></div>
								<span class="price_scroler">749.97</span>
							</div>		  
							<span class="scroler_details"><a href="#" title="">
									Details</a></span>		
						</li>
						<li class="li_img">
							<div class="im">
								<a  href="#" title=""><img src="images/img-12.jpg" alt="Provocative Synthetic Hairpiece by easihair" title=" Provocative Synthetic Hairpiece by easihair " width="175" height="145" /></a>
							</div>		  
							<div class="scrol_inf"><a class="prod" href="#" title="">Provocative Synthetic H</a>
								<div class="clear"></div>
								<span class="price_scroler">749.97</span>
							</div>		  
							<span class="scroler_details"><a href="#" title="">
									Details</a></span>		
						</li>
						<li class="li_img">
							<div class="im">
								<a  href="#" title=""><img src="images/img-15.jpg" alt="Provocative Synthetic Hairpiece by easihair" title=" Provocative Synthetic Hairpiece by easihair " width="175" height="145" /></a>
							</div>		  
							<div class="scrol_inf"><a class="prod" href="#" title="">Provocative Synthetic H</a>
								<div class="clear"></div>
								<span class="price_scroler">749.97</span>
							</div>		  
							<span class="scroler_details"><a href="#" title="">
									Details</a></span>		
						</li>
					</ul>
				</div>
			</div>
		</div>  
	</div><!--End slaids Gallery-->
	<div class="clear"></div>
    <div id="allcontent">
    	<div id="leftcontent">
        	<h1 class="title-h1">Categories</h1>
            <ul class="categories">
            	<li><a href="categories.html" title="">Easihair</a>
                	<ul>
                    	<li><a href="categories.html" title="">European Naturals</a></li>
                    	<li><a href="categories.html" title="">Synthetic Wigs</a></li>
                        <li><a href="categories.html" title="">Lace Front Wigs</a></li>
                    </ul>
                </li>
                <li><a href="categories.html" title="">Eva Gabor</a></li>
                <li><a href="categories.html" title="">Tony of Beverly</a></li>
                <li><a href="categories.html" title="">Rene of Paris</a></li>
                <li><a href="categories.html" title="">Put On Pieces</a></li>
            </ul>
            <div class="bt-list"></div>
            <div class="best"><img src="images/img5.png" alt="Best" width="185px"/></div>
            <h1 class="title-h1">Specials</h1>
            <ul class="specials">
            	<li><a href="#" title="Attitude Synthetic Hairpiece by Henry Margu"><img src="images/img-1.jpg" width="170" height="164"  alt=""/></a>
                	<h2 class="title-h2">FARRAH SYNTHETIC WIG BY V…</h2>
                    <p>Sed vel mi a turpis condimentum sagittis quis vitae augue. Quisqu…</p>
                    <p><span>$30.00</span></p>
                    <p><s>$34.99</s></p>
                    <p class="all" ><a  href="new-product-info.html" title="" >All to Cart</a></p>
                    <div class="clear"></div>
                </li>
            </ul>
            <div class="bt-list"></div>
        </div><!--End Left content-->
		<div id="ctercontent">
			<h1 class="title-pr">Welcome, Please Sign In</h1>
				<div class="bg-login">
					<div class="left-login">
						<h5 class="title-h5">New Customner</h5>
						<p>I am a new customer.</p>
						<p>By creating an account at Wigs Salon you will be able to shop faster, be up to date on an orders status, and keep track of the orders you have previously made.</p>
						<p class="continue"><a href="registration.html" title="">Continue</a></p>
					</div>
					<div class="right-login">
						<h5 class="title-h5">Returning Customer</h5>
						<p>I am a returning customer.</p>
						<form action="" id="frm" name="frm">
							<p><label>E-Mail Address:</label><input type="text" name="acc" /></p>
							<p><label>Password:</label><input type="password" name="pass" /></p>
						</form>
						<p><a href="#" title="">Password forgotten? Click here.</a></p>
						<p class="singin"><a href="#" title="">Sing In</a></p>
					</div>
				</div>
		</div>
		<!--End Center sContent-->
		<div id="rightcontent">
			<h1 class="title-h1">Shopping Cart</h1>
			<ul class="shopcart">
				<li>0 items</li>
			</ul>
			<div class="bt-list"></div>
			<div class="best"><img src="images/img6.png" width="185" height="130"  alt="Best"/></div>
			<h1 class="title-h1">Manufacturers</h1>
			<ul class="manutures">
				<li><form  class="frmmanu" action="" name="Manufactures" method="get">
						<select size="1" name="Manufantures">
							<option value="0">Please Select</option>
							<option value="1">Example-1</option>
							<option value="2">Example-2</option>
							<option value="3">Example-3</option>
							<option value="4">Example-4</option>
						</select>
					</form>
				</li>
			</ul>
			<div class="bt-list"></div>
			<h1 class="title-h1">Bestsellers</h1>
			<ul class="bestseller">
				<li><a href="#" title="">Angelica Synthetic Wig by Noriko</a></li>
				<li><a href="#" title="">Cambell Synthetic Wig by Motown Tress</a></li>
				<li><a href="#" title="">Alias Wig</a></li>
				<li><a href="#" title="">Angelica Synthetic Wig by Noriko</a></li>
				<li><a href="#" title="">Angelique by Jon Renau</a></li>
				<li><a href="#" title="">Ashley Synthetic Wig by Rene of Paris</a></li>
				<li><a href="#" title="">Ashley Synthetic Wig by Sepia</a></li>
				<li><a href="#" title="">Attitude Synthetic Hairpiece by Henry Margu</a></li>
				<li><a href="#" title="">Brandi Monofilament Wig</a></li>
				<li><a href="#" title="">Brandi Monofilament Wig by Noriko</a></li>
			</ul>
			<div class="bt-list"></div>
		</div><!--End Right content-->
    </div><!--End ALL Content-->
    <div class="clear"></div>
    <!--Footer-->
    <div id="footer">
    	<ul class="ftmenu">
        	<li><a href="#" title="">Home Page  </a> </li>
            <li><a href="#" title="">Catalog   </a></li>
            <li><a href="#" title="">Specials </a>  </li>
            <li><a href="#" title="">New Products</a></li>
        </ul>
        <div class="cpright">
        	<p>Copyrigh &copy; 2011 Fashion Diva</p>
            <p>osCommerce Template Design by Website <a href="#" title="">azweb.vn</a></p>
        </div>
    </div><!--End Footer-->
</div><!--End wrapper-->
</body>
</html>

