body { margin:0; padding:0; background:#f2f0e9 url(../images/bg-body.png) repeat-x;font-family:Arial, Helvetica, sans-serif; font-size:9pt;}
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000;}
p{line-height: 19px}

/*layout*/
*{margin:0; padding:0}
#wrapper {margin:0 auto; width:975px;}

/*Header*/
#header{padding-top:5px; position: relative;}
.header-left{float:left; width:155px}

#header #lang{position: absolute; top:5px; right:15px; width: 200px; text-align: right}
#header #lang li{display: inline; margin-left: 10px}
#header #lang li a{color: #fff}

/*Nav*/
#nav{float:right; text-align:right;list-style:none; margin:22px 0 0 0}
#nav li{float:left; margin:0 0 0 10px}
#nav li a{font-size: 1.7em; color:#eee; padding:3px 15px; display:block}
#nav li a:hover, #nav .active{background:#0094DF; -webkit-border-radius:3px;-moz-border-radius:3px; color:#fff}
#nav .active a:hover{color:#fff}

/*header-wrap*/
#header-wrap{margin:35px 0 37px 0; position:relative; top:0; left:0}
.frame-title{text-align:center;; margin:0 0 00px 0}
.frame-title p{color:#fff; font-size:18px;}
.title-page{font-size:31pt; color:#fff; position:relative; top:0; left:0}
.title-page img{position:absolute; top:-10px;margin-left:-25px;}

/*Banner va form create*/
#banner{position:absolute; top:85px; left:0; width:550px;}
.frm-create{margin:36px 0 0 0; padding: 17px 0 0 0; float:right; text-align:center;background:url(../images/bg-fr-create.gif) repeat-x; height:270px; width:425px; -webkit-border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0}
.frm-create h2{font-size:20pt; font-weight:bold;color:#fff; margin-bottom:10px}
.frm-create ul{list-style:none}
.frm-create ul li{padding:6px 0}
.frm-create ul input{width:327px;padding:6px; font-size:10pt; border:1px solid #082E48; background:#fff}
.frm-create ul select{width:340px;padding:6px; border:1px solid #082E48; background:#fff; cursor: pointer}
.frm-create ul .get{margin-top:12px;background:#63C600; cursor:pointer;font-weight:600;width:auto;font-size:19pt;color:#fff;border:none; -webkit-border-radius:4px; -moz-border-radius:4px; *_width:190px}
.frm-create ul .get:hover{background:#f90}

/*Title solution*/
.title-solution{color:#434343; font-size:25pt; font-weight:600; text-align:center; margin:7px 0 17px 0}

/*Content*/
.content{margin:0 0 20px 0; color:#434343}
.title-tent{color:#434343; font-size:11pt; font-weight:900; margin:20px 0 10px 0}

/*Left content*/
.left-tent{float:left; width:308px; text-align:center;}
.left-tent p{line-height:1.9em}
.left-tent a{color:#0370A8}
/*Center content*/
.cter-tent{float:left; width:308px; text-align:center; margin:0 0 0 24px}
.cter-tent p{line-height:1.9em}

/*Right content*/
.right-tent{float:right; width:308px; text-align:center}
.right-tent p{line-height:1.9em}

/*Frame-features (tieu de tinh nang)*/
.frame-features{ text-align:center;background:#E6E2D5; -webkit-border-radius:4px; padding:20px 0;-moz-border-radius:4px;  margin:0 0 20px 0;color:#434343;font-size:13pt;*padding:10px 0 20px; *_padding:20px 0}
.free{background:#0095E2; color:#fff; padding:8px 30px; font-weight:600;-webkit-border-radius:4px; -moz-border-radius:4px;}
.free:hover{background:#0083C1; color:#fff}
.view{background:#62C400;color:#fff; padding:8px 30px;font-weight:600;-webkit-border-radius:4px; -moz-border-radius:4px;}
.view:hover{ background:#4B9700; color:#fff}

/*Title family*/
.title-family{color:#434343; text-align:center; font-size:13pt}
.title-family a{color:#004556; font-weight:600}

/*Footer*/
#bg-fter{background:url(../images/footer.png) repeat-x left bottom; min-width:975px}
#footer{width:975px; margin:auto; padding:25px 0 5px 0; position:relative}
#footer ul{list-style:none;}
.nav-fter{float:left; width:740px}
.nav-fter li{ padding:8px 0;float:left; font-size:16px; font-weight:500;color:#fff; width:145px;  margin:0 40px 0 0;*_margin:0 12px 0 0}
.nav-fter li ul{ margin:15px 0 0 0;border-top:1px solid #232323;}
.nav-fter li ul li{ font-size:9pt;float:inherit;border-bottom:1px solid #1c1c1c;}
.nav-fter a{color:#ababab; display:block;}
.nav-fter a:hover{color:#fff}

.fter-right{width:240px;font-size:12pt; color:#fff; position:absolute; top:35px; right:0}
.fter-right .copyright{font-size:7pt; color:#fff; line-height:normal;padding:0}

.fter-right a{color:#004556; padding:0 0 0 30px}
.fter-right a:hover{color:#fff}
.fter-right p{clear:both; line-height:2em}
.fter-blog{background:url(../images/homepage_sprite.png) no-repeat 0 6px; text-align:left }
.fter-facebook{ background:url(../images/homepage_sprite.png) no-repeat 0 -30px;text-align:left}
.fter-twitter{ background:url(../images/homepage_sprite.png) no-repeat 0 -67px;text-align:left}

/* Error */
.errorSummary{border: 1px solid #FA8C1E; padding:2px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin:5px}
.errorSummary ul{margin:0 30px; padding:0}
.errorSummary ul li{padding:2px 0; color: red; margin-left: 13px}

.error{margin: 0; margin-bottom: 10px}
.error ul{margin: 0 10px; padding: 0}
.error ul li{margin: 0; padding: 0}

#sign-up{background: #fff url(../images/white-top-shadow.png) repeat-x; margin-top: 12px; border-left: 2px solid #D7D5D0; border-right: 2px solid #D7D5D0; padding: 20px}
.sign-up-heading{background: url(../images/bullet.png) no-repeat left; position: relative; padding-left: 32px; margin-top: 15px; margin-right: 32px}
.sign-up-heading h1, .heading-contact{font-size: 18pt; font-weight: bold; font-family: tahoma; color: #434343}
.sign-up-heading h1.small{font-size: 13pt; font-weight: bold; font-family: tahoma; color: #434343; padding:2px 0}
.sign-up-heading h1.small span{top: 1px}
.sign-up-heading span{color: #fff; font-size: 12pt; position: absolute; left: 8px; top: 5px}
.sign-up-heading p{position: absolute; right:0; top: 6px; font-size: 10pt}

.title-choose{float:left;width: 120px}
.all-choose-page{float:left; width: 700px}
.choose-page{width: 85px;display:inline-block;vertical-align: top; margin: 10px 0 12px 15px; padding: 5px; text-align: center; border:1px solid #F7F6F2; cursor: pointer}
.choose-page.border, .choose-page:hover{border: 1px solid #ccc; -moz-border-radius: 3px; border-radius: 3px; background: #ECEAE4}
.choose-page.margin-top-none{margin-top: 0}
.input_field {margin:10px 32px 10px 32px}

.info-user{background: #F8F8F8; border: 1px solid #ddd; -moz-border-radius: 2px; border-radius: 2px; padding:5px 10px}
.info-user li{list-style: none; margin-bottom: 7px; clear: both}
.info-user li label{float: left; width:120px; font-weight: bold}

/*Common*/
.marginb50{margin-bottom: 50px}
.marginb10{margin-bottom: 10px}
.red, .required span{color:red}

/* Page contact */
.frame-contact{margin:20px 0;padding:15px;background:#fff;border: 1px solid #B9B9B9; box-shadow: 0 1px 5px #AAAAAA;-moz-box-shadow: 0px 0px 10px #CCC;-webkit-box-shadow: 0px 0px 10px #CCC;}
.tent-contact{background:#eee;padding:10px}
.title-frame{font: 700 1.7em "museo-sans-1","museo-sans-2",sans-serif; margin-bottom: 13px;color:#434343}
/*left contact*/
.left-contact{float:left; width:540px}
.left-contact ul{list-style:none}
.left-contact ul li{margin:0 0 12px 0}
.left-contact input{padding:5px;border:3px double #C2C2C2; width:245px;color:#434343}
.left-contact input.small-input{width: 120px; position: relative; top: -1px; left: -126px}
.left-contact .select{padding:5px;border:3px double #C2C2C2; width:262px;color:#434343}
.left-contact textarea {padding:5px;border:3px double #C2C2C2; width:525px;color:#434343}
.left-contact .submit{cursor:pointer; background:#0094DF;font-size:14pt; font-weight:bold;color:#fff; border:none;width:100px;-moz-border-radius:4px;-webkit-border-radius:4px; margin-left: 440px}

/*Right contact*/
.right-contact{float:right;width:330px}
.captcha{position: relative; top: 0; left: 0}
.captcha img{position: absolute; top: -9px; left: 15px}

.left-content{float:left; width:73%}
.left-content ul li, .left-content ol li{margin:0 0 7px 25px !important}
.left-content p{margin: 5px 0; padding: 5px 0}
.right-content{float:right; width:25%}
.title-right{background:#252525;color:#fff;padding:7px 2px 7px 15px;font-size:17px}
.sub-right{list-style:none;padding:5px 0;margin:0 0 10px 0; background:#F8F7F3;border-left:1px solid #E1DED7;border-right:1px solid #E1DED7;border-bottom:1px solid #E1DED7;}
.sub-right li{padding:5px 0}
.sub-right li a{display:block;padding:6px 2px 6px 25px;color:#434343;font-size:10pt}
.sub-right li a:hover{background:#038DD4;color:#fff}

.masuring{text-align:justify;font-size:10pt;color:#666;margin:0 0 20px 0}
.frame-img{float:left;width:143px;margin:0 15px 5px 0}
.title-masuring {margin:0 0 10px 0}
.title-masuring a{color:#208FFF;font-size:10pt;font-weight:bold}
.title-masuring a:hover{color:#F90}

/* paging */
ul.paging{float: right; margin:0; padding:0; list-style: none;}
ul.paging li{display: inline;}
ul.paging .hidden{display: none;}
ul.paging .page a, ul.paging .previous a, ul.paging .first a, ul.paging .next a, ul.paging .last a{color:#fff;background:#37749E; padding: 3px 6px; -moz-border-radius: 3px; -webkit-border-radius: 3px}
ul.paging .page a:hover, ul.paging .previous a:hover, ul.paging .first a:hover, ul.paging .next a:hover, ul.paging .last a:hover, ul.paging .selected a{ background:#1B558F}