<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Magento Commerce</title>
<link href="css/dosvn.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/wt-rotator.css" /> 
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="js/jquery-banner-rotato.js"></script> 
<script type="text/javascript" src="js/jquery-banner-rotato.effect.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		runbanner(740,266);
	});
</script> 
</head>
<body>
<div id="wrapper">
	<div id="header">
    	<div id="header-left"><img src="images/logo-title.png" alt="logo" /></div>
        <div id="header-right"><img src="images/logo.png" alt="Logo Minh Cường" /></div>
    </div><!--End header-->
    <div class="clear"></div>
    <div id="page">
    	<div id="bg-menu">
            <ul class="menu">
                <li><a href="index.html" title="">TRANG CHỦ</a></li>
                <li><a href="about.html" title="">GIỚI THIỆU</a></li>
                <li class="select"><a href="gallery.html" title="">HÌNH ẢNH</a></li>
                <li><a href="services.html" title="">DỊCH VỤ</a></li>
                <li><a href="contact.html" title="">LIÊN HỆ</a></li>
            </ul><!--End menu-->
        </div><!--End Bg menu-->
        <div class="clear"></div>
        <div id="allcontent">
        	<div id="leftcontent">
            	<h1 class="title-left"><span>Danh MỤC</span></h1>
                <ul class="list">
                	<li><a href="#" title="">Các loại bia mộ</a></li>
                    <li><a href="#" title="">Các loại áo quan tài</a></li>
                    <li><a href="#" title="">Cho thuê xe các loại</a></li>
                    <li><a href="#" title="">Tư vấn các nghi lễ tang</a></li>
                </ul>
                <div class="bt-bder-left"></div>
                <h1 class="title-left"><span>Danh mục giới thiệu</span></h1>
            	<ul class="about-list">
                	<li><a href="#" title="">Giới thiệu công ty</a></li>
                    <li><a href="#" title="">Sơ đồ tổ chức</a></li>
                </ul>
                <div class="bt-bder-left"></div>
                <h1 class="title-left"><span>Hình ảnh</span></h1>
                <ul class="img-list">
                	<li><a href="#" title=""><img src="images/pr-4.jpg" alt="Product" /></a></li>
                    <li><a href="#" title=""><img src="images/pr-3.jpg" alt="Product" /></a></li>
                </ul>
                <div class="bt-bder-left"></div>
                <h1 class="title-left"><span>Hỗ trợ trực tuyến</span></h1>
                <ul class="support">
                	<li>Tư vấn khách hàng</li>
                    <li><a href="ymsgr:sendim?thanhansoft">
                    	<img src="http://opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2&amp;l=us" alt="thanhansoft" /></a></li>
                    <li>Tư vấn khách hàng</li>
                    <li><a href="ymsgr:sendIM?thanhansoft">
                        <img src="http://mail.opi.yahoo.com/online?u=thanhansoft&amp;m=g&amp;t=2" border="0" alt="yahoo" /></a></li>
                </ul>
                <div class="bt-bder-left"></div>
                <h1 class="title-left"><span>thống kê truy cập</span></h1>
                <ul class="statistics">
                	<li>Truy cập trong ngày: 000018</li>
                    <li>Đang truy cập: 3</li>
                    <li>Tổng lượt truy cập: 038082</li>
                </ul>
                <div class="bt-bder-left"></div>
            </div><!--End left content-->
            
            <div id="rightcontent">
            	<div id="banner">
                	<div class="container"> 
                        <div class="wt-rotator">
                            <a href="#"></a>   
                            <div class="thumbnails"> 
                                  <ul> 
                                        <li><a href="images/banner.jpg" title="architecture"></a></li> 
                                        <li><a href="images/banner-1.jpg" title="architecture"></a></li> 
                                        <li><a href="images/banner-2.jpg" title="architecture"></a></li> 
                                      
                                  </ul> 
                            </div>  
                        </div> 
                    </div>
                </div><!--End banner-->
                <div class="frame">
                    <h1 class="title-right"><span>Các loại bia</span></h1>
                        <div class="frame-gallery">         
                                <div class="product">
                                    <a href="gallery-detail.html" title="" ><img src="images/img-2.jpg" alt="" /></a>
                                    <p><a href="gallery-detail.html" title="">Bia đá cẩm thạch</a></p>
                                </div>
                                <div class="product">
                                    <a href="gallery-detail.html" title="" ><img src="images/img-2.jpg" alt="" /></a>
                                    <p><a href="gallery-detail.html" title="">Bia đá Granite</a></p>
                                </div>
								<div class="clear"></div>
                        </div><!--End Fram gallery-->
                    <div class="bt-title-right"></div>
            	</div><!--End frame-->
				 <div class="frame">
                    <h1 class="title-right"><span>Các loại áo quan</span></h1>
                        <div class="frame-gallery">         
                                <div class="product">
                                    <a href="gallery-detail.html" title="" ><img src="images/img-3.jpg" alt="" /></a>
                                    <p><a href="gallery-detail.html" title="">Quan tài giấy</a></p>
                                </div>
                                <div class="product">
                                    <a href="gallery-detail.html" title="" ><img src="images/img-4.jpg" alt="" /></a>
                                    <p><a href="gallery-detail.html" title="">Quan tài gỗ</a></p>
                                </div>
								<div class="clear"></div>
                        </div><!--End Fram gallery-->
                    <div class="bt-title-right"></div>
            	</div><!--End frame-->
            </div><!--End right content-->
        </div><!--End All content-->
        <div class="clear"></div>
		<!--Footer-->
		<div id="footer">
        	<p>&copy; 2011 Copy Right by Thuonghoi.com</p>
            <p>Developed By <a href="#" title="">azweb.vn</a></p>
		</div><!--End footer-->
    </div><!--End Page-->
</div><!--End wrapper-->

</body>
</html>

