body {padding:15px 0 0 0;background:#eceade url(../images/bkg_body.gif) repeat-x; font:9pt arial, helvetica, sans-serif;}
.cms-home {background:#eceade url(../images/bkg_body-inner.gif) repeat-x;  }
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000;}

/*layout*/
*{margin:0; padding:0}

#wrapper {width:1000px;margin:auto;}

#header-top{padding:0 0 30px 0}
#nav .hot-line{float:right;text-align:right;padding:12px 0 0 0;color:#66552C;font-weight:bold;font-size:11pt}

/**  Menu **/
#nav{list-style:none;}
#nav li{float:left; position:relative; margin:0 2px 0 0}
#nav li a{ padding:12px 10px; font-weight:bold;background:url(../images/nav-spacer.gif) no-repeat right; display:block; color:#66552C;font-size:11pt}
#nav li a:hover{color:#9F9F40;}
/*#nav li ul{ display:none}
#nav li:hover ul{display:block; list-style:none;position:absolute; z-index:20000; top:42px; width:180px; border-bottom:1px solid #CECABE; border-right:1px solid #CECABE;border-left:1px solid #CECABE; padding:0px 0px; background:#ECEADE;}
#nav li:hover >a{color:#9F9F40;}
#nav li ul li{width:100%;}
#nav li ul li a{font-weight:normal; color:#444; padding:5px 3px 5px 15px; background:none; font-size:inherit}
#nav li ul li a:hover{ background:#66552C; color:#fff}*/
#nav .select{color:#9F9F40}
#nav .none-line a{background:none}

/*Form search
#search{float:right;background:url(../images/search-bg.gif) no-repeat;width:210px; height:32px; margin:5px 5px 0 0}
#frsearch{margin:5px 5px 0 10px;}
.input{ float:left;border:none; width:160px;padding:4px 5px;color:#999}
.bt-go{float:right; position:relative; top:0px} */

/*Header*/
#header{position:relative}
#logo{height:55px; overflow:hidden}

/** Lang and hot-line **/
.lang{position:absolute;top:0; right:0}
.lang img{margin:0 3px;position:relative;top:2px}
.lang a{ color:#9A9A36; margin:0 0 0 7px}
.lang a:hover{color:#66552C}

/** Banner **/
#banner{background:url(../images/banner-frame.jpg) no-repeat; height:384px;margin:0 0 38px 0}
.banner-none{padding:35px 0 0 35px}

/*Content*/
#content{}
.top-left-penal{ background:url(../images/block-title-top-bg.gif) no-repeat; height:26px; width:217px;}
.bt-left-penal{ margin:0 0 5px 0;background:url(../images/block-title-bot-bg.gif) no-repeat; height:12px; width:217px}

.title-left{border-left:1px solid #CECBBA; border-right:1px solid #CECBBA;color:#66552C; font-size:11pt; font-weight:bold;background:#FFF url(../images/bullet.gif) no-repeat 5px 14px; padding:10px 0 0 0}
.title-left span{padding:0px 0px 0 25px; }

/*Left content*/
#leftcontent{float:left; width:217px;}

/*sub cat*/
.sub-cat{list-style:none; background:#fff;padding:10px 5px 10px 25px;border-left:1px solid #CECBBA; border-right:1px solid #CECBBA;*_padding:10px 5px 0 25px;}
.sub-cat li{padding:5px 0}
.sub-cat li a{color:#444;display:block; font-weight:bold;*_display:inherit}
.sub-cat li a:hover{ color:#9F9F40}
.sub-cat li ul{padding:5px 0 0 10px;list-style:none}
.sub-cat li ul li{padding:2px 0; font-size:8pt; }
.sub-cat li ul li a{background:url(../images/bull.gif) no-repeat left 5px;padding:0 0 0 10px;font-weight:normal;*_display:inherit;}

/*Ho tro ky thuat*/
.support{list-style:none;padding:10px 3px 10px 0px;text-align:center;border-left:1px solid #CECBBA; border-right:1px solid #CECBBA;background:#fff;*_padding:10px 3px 0px 0px;}
.support li {color:#444; padding:2px 0}
.support li img{margin:0 0 10px 0}

/*Thong ke truy cap*/
.statistics{list-style:none;padding:10px 3px 10px 25px;border-left:1px solid #CECBBA; border-right:1px solid #CECBBA;background:#fff;*_padding:10px 3px 10px 25px;}
.statistics li {color:#444444; line-height:1.75em;}

/** adv left**/
.bg-adv{list-style:none;background:#fff;padding:10px 0;text-align:center;border-left:1px solid #CECBBA; border-right:1px solid #CECBBA}
.bg-adv li{padding:0 0 3px 0}

/*Right content*/
#rightcontent{float:right; width:775px}
.tent-rightcontent{background:#fff;padding:15px 0; border-left:1px solid #CECBBA;border-top:1px solid #CECBBA;border-right:1px solid #CECBBA}
.bg-bt-right{background:url(../images/btom-right.jpg) no-repeat ;border-top:1px solid #CECBBA; height:11px}

#rightcontent p{margin:0 0 8px 0}
#rightcontent ul li, #rightcontent ol li{margin: 0 0 0 40px}
#rightcontent ul ,#rightcontent ol{margin:10px 0}

/*  Frame about page index*/
.frame-tent-right{padding:5px 10px 2px 10px; text-align:justify;margin:0 0 10px 0}

.title-right{ margin:0 0 10px 0; font-size:10pt;color:#66552C; font-size:11pt;background:url(../images/bullet.gif) no-repeat 10px 5px;  font-weight:bold;}
.title-right span{padding:00 0 0 30px}

.link{color:#000; font-weight:bold; padding:0 0 10px 10px}
.link img{margin:0 5px}
.link a{ color:#9F9F40}
.link a:hover{color:#000}

/***** Product    *****/
.all-product{margin:0 !important}
.product{width:145px;padding:0 0 4px 0; text-align:center; margin:0 0 15px 6px !important; display:inline-block; vertical-align:top;*float:left; *height:250px }

.product-img{height:145px;width:145px; display:table-cell; vertical-align:middle}
.price{color:#66552C; font-weight:bold; font-size:11pt; margin:7px 0 10px 0 !important}
.title-pro a{color:#666; font-size:10pt}
.title-pro a:hover{color:#9F9F40}
.add-to-cart{background:#A8A854;padding:4px 15px;color:#fff;font-weight:bold}
.add-to-cart:hover{color:#fff}

/***    Page product-info     ****/
.frame-pro-info{padding:5px 10px}
.title-pro-order{color:#333; font-size:14px; font-weight:bold;margin:0 0 10px 0;border-bottom:1px solid #ccc;padding:0 0 10px 0}
.title-pro-order span{padding:0 0 0 10px}

.row-info{margin: 0 0 15px 0}
.right-info{float:right;width:445px}
.tent-right-info{padding:0 10px}
.title-info{margin:0 0 10px 0;color: #fff}
.title-info span{background: #444444;padding:3px 10px}
.price-info{color:#000;margin:0 0 10px 0 !important;font-size: 10pt}
.price-info span{margin: 0 0 0 10px;color: #DC692B}

/*   Page New  */
.masuring{list-style: none; text-align:justify;font-size:10pt;margin:0 0 20px 0 !important}
.masuring li{ margin:0 0 10px 0 !important}
.frame-img{float:left;width:143px; margin:0 10px 0 0}
.title-masuring{margin:0 0 5px 0}
.title-masuring a{color:#000}
.title-masuring a:hover{color:#DC692B}

/* paging */
ul.paging{float: right; margin:0 !important; padding:0; list-style: none}
ul.paging li{display: inline;margin:0 !important;}
ul.paging .hidden{display: none;}
ul.paging .page a, ul.paging .previous a, ul.paging .first a, ul.paging .next a, ul.paging .last a{color:#3CBEDA;border:1px solid #ccc; padding: 2px 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px}
ul.paging .page a:hover, ul.paging .previous a:hover, ul.paging .first a:hover, ul.paging .next a:hover, ul.paging .last a:hover, ul.paging .selected a{color:#fff; background:#3CBEDA}

/**Page Contact**/
/*** Frame title company  ***/
#frame-info-contact{margin:0 0 15px 0}

.title-contact{ background:#CCC195;margin:0 0 10px 0; padding:7px 2px 7px 10px; font-family:Tahoma, Geneva, sans-serif;font-weight:bold; color:#33220C}
#frm{margin:0 0 10px 0;position:relative}
.frame-contact label{color:#444;font-weight:700;width:100px; float:left}
.frame-contact{list-style:none;margin:15px 0 10px 0}
.frame-contact li{padding:4px 0; margin:0 !important}
.frame-contact input{padding:3px;width:220px; border:1px solid #ddd;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.frame-contact textarea{border:1px solid #ddd;width: 350px; -moz-border-radius: 3px; -webkit-border-radius:3px}
.frame-contact span{color:#f00;margin:0 5px 0 0}
.img-contact{position:absolute;bottom:0px; right:20px}
.frame-contact .bton-dk{background:#9F9F40; color:#fff;padding:7px 0px;margin:0 5px 0 0; text-align:center; cursor:pointer;width:80px;border:none;font-weight:bold;-webkit-border-radius:4px;-moz-border-radius:4px}
/****  End page contact     *****/

/*Footer*/
#bg-fter{background:url(../images/bg-footer.gif) repeat-x; height:63px; min-width:1000px}
#footer{ width:1000px; margin:5px auto 0; padding:10px 0 0 0; *_margin:auto; color:#66552C}
#footer a:hover{color:#000}
.menu-fter li{float:left;list-style:none;}
.menu-fter li a{ text-transform:capitalize;padding:0 5px;color:#66552C;background:url(../images/bkg_pipe1.gif) no-repeat right}
.menu-fter {float:right; text-align:right}
.menu-fter .none-line{background:none;padding:0 0 0 5px}
.copyright a{color:#66552C; font-size:10pt}

/* Error */
.errorSummary{border: 1px solid #FA8C1E; padding:2px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin:0 0 5px 0}
.errorSummary ul{margin:5px 10px !important; padding:0}
.errorSummary ul li{padding:2px 0; color: red}

/*Add to cart*/
.form_order{background:#fff;margin:0 0 15px 0;-webkit-border-radius:0 0 4px 6px;-moz-border-radius:0 0 6px 4px}
.form_order thead{background:#9F9F40}
.form_order thead tr td{font-weight : bold;padding : 5px !important; color:#fff;font-size:10pt}

.form_order tbody tr td{border : 1px solid #ddd;}
.form_order tbody tr .pic-order{padding:5px 0}
.form_order tbody tr input{border:1px solid #ccc}
.form_order tbody tr td a{color:#9F9F40}
.form_order tbody tr td a:hover{color:#444}

.btn_order{cursor:pointer; border:none;font-weight:bold;background:#2C2C2C;padding:5px 7px;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;margin:0 10px 0 0}
.btn_order:hover{color:#fff}

.frm-cart label{width:100px}
.notificaion{color:#2C2C2C;font-size:10pt;margin:0 0 10px 0}
.note span{color:#f00}















