body { margin:0; padding:0; background:#F4F2E5 url(../images/bkg-body.gif) repeat-x;font-family:Arial, Helvetica, sans-serif; font-size:9pt;}
.left{float: left;}
.right{float:right}
.clear{clear: both;}
a{text-decoration:none; color:#720E3B}
a:hover{color:#000;}

/*layout*/
*{margin:0; padding:0}

#wrapper {margin:auto; width:970px;}

/*Header*/
#header{ background:url(../images/headerbg.jpg) no-repeat;position:relative}

.lang{position:absolute;top:15px;right:0; text-align:right}
.lang img{ margin:0 3px 0 0; position:relative; top:2px}
.lang a{font-weight:bold; color:#FFB400; margin:0 0 0 10px}
.lang a:hover{color:#ddd}
.hot-line{position:absolute; bottom:10px;right:0;color:#fff;font-size:11pt;font-weight:bold}

/**  Menu **/
#nav{ list-style:none;background:url(../images/bg-menu.jpg) no-repeat; float:left; width:970px}
#nav li{float:left; position:relative;}
#nav li a{padding:16px 12px; display:block; color:#fff; font-weight:bold;font-size:10pt}
#nav li a:hover{color:#FFB400; background:#750504}
#nav .select{color:#FFB400; background:#750504}
#nav li ul{display:none}
#nav li:hover ul{list-style:none;display:block;position:absolute; z-index:3000; top:48px;width:180px;background:#750504}
#nav li ul li{width:100%}
#nav li ul li a{font-weight:normal; color:#fff;background:none; padding:5px 2px 5px 15px}

/** Banner **/
#banner{ margin:0px 0 5px 0; }

/* Page Content*/
#content{ background:#fff; padding:10px;}
.bd-bt-ctent{background:url(../images/footerbg.jpg) no-repeat; height:15px; width:970px;margin:0 0 10px 0}
.title-left{font-size:13pt; color:#DC692B; background:url(../images/bg-title-left.jpg) no-repeat; width:196px; font-weight:bold; padding:8px 0px 6px 0px}
.title-left span{padding:0 0 0 20px}

/*Left content*/
#leftcontent{float:left; width:203px}

/*Category*/
.sub-cat{list-style:none;padding:10px 5px 10px 20px; background:url(../images/boxbg.jpg) repeat-y left center;}
.sub-cat li{ padding:5px 0}
.sub-cat li a{color:#000; font-weight:bold;display:block; *_display:inherit}
.sub-cat li a:hover{ color:#DC692B}
.sub-cat li ul{padding:5px 0 0 20px}
.sub-cat li ul li{list-style-image:url(../images/bull1.jpg); padding:2px 0}
.sub-cat li ul li a{color:#000; font-weight:normal;display:block; *_display:inherit}

/*Ho tro ky thuat*/
.support{list-style:none;padding:10px 3px 5px 0px; text-align:center;background:url(../images/boxbg.jpg) repeat-y left center;}
.support li p{padding:2px 0;color:#444}
.support li img{margin:0 0 10px 0}

/*Thong ke truy cap*/
.statistics{list-style:none;padding:10px 3px 10px 20px;background:url(../images/boxbg.jpg) repeat-y left center}
.statistics li {color:#444444;  padding:5px 0}

/** adv left**/
.bg-adv{list-style:none;background:url(../images/boxbg.jpg) repeat-y left center;padding:10px 0;text-align:center}
.bg-adv li{padding:0 0 3px 0}

/*Right content*/
#rightcontent{float:right;width:717px;}
#rightcontent p{margin:0 0 8px 0}
#rightcontent ul li, #rightcontent ol li{margin: 0 0 0 40px}
#rightcontent ul ,#rightcontent ol{margin:10px 0}

.title-right{margin:0 0 10px 0;font-size:13pt; color:#DC692B; font-weight:bold;padding:6px 0 5px 0; border-bottom:3px solid #D4D4D4}

.link{color:#000;font-size:10pt; font-weight:bold; padding:0 0 10px 0}
.link img{margin:0 3px 0 2px}
.link a{ color:#DC692B}
.link a:hover{text-decoration:underline; color:#000}

/*  Frame about page index*/
.frame-tent-right{padding:5px 0 2px 0; text-align:justify;margin:0 0 5px 0}

/***** Product    *****/
.all-product{margin:0 !important}
.product-top{background:url(../images/product-top.jpg) no-repeat; height:6px}
.product-mid{background:url(../images/product-mid.jpg) repeat-y; padding:0 2px 10px 2px}
.product-btom{background:url(../images/product-bttom.jpg) no-repeat; height:6px}

.product{width:175px; padding:5px 0 0 0;text-align:center;margin:0 0 10px 2px !important; display:inline-block; vertical-align:top;*float:left; }
.product-img{height:160px; width:175px;text-align:center; display:table-cell;vertical-align:middle;}

.price{color:#DC692B; font-weight:700; font-size:13px; margin:7px 0 10px 0 !important}
.title-pro{padding:7px 0 0 0 }
.title-pro a{ color:#000; font-size:10pt; font-weight:700;}
.title-pro a:hover{color:#DC692B}
.add-to-cart{padding:4px 0 6px 6px; font-weight:700;background:url(../images/add-to-cart.png) no-repeat left top;*padding:0 0 0 6px}
.add-to-cart span{background:url(../images/add-to-cart.png) no-repeat  top right; padding:4px 15px 6px 10px;color:#fff}

/*   Page New  */
.masuring{list-style: none; text-align:justify;font-size:10pt;margin:0 0 20px 0 !important}
.masuring li{ margin:0 0 10px 0 !important}
.frame-img{float:left;width:143px; margin:0 10px 0 0}
.title-masuring{margin:0 0 5px 0}
.title-masuring a{color:#000}
.title-masuring a:hover{color:#DC692B}

/* paging */
ul.paging{float: right; margin:0 !important; padding:0; list-style: none}
ul.paging li{display: inline;margin:0 !important;}
ul.paging .hidden{display: none;}
ul.paging .page a, ul.paging .previous a, ul.paging .first a, ul.paging .next a, ul.paging .last a{color:#FFB400;border:1px solid #ccc; padding: 2px 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px}
ul.paging .page a:hover, ul.paging .previous a:hover, ul.paging .first a:hover, ul.paging .next a:hover, ul.paging .last a:hover, ul.paging .selected a{color:#fff; background:#9F000C}

/***    Page product-info     ****/
.frame-pro-info{}
.title-pro-order{color:#333; font-size:14px; font-weight:bold;margin:0 0 10px 0;border-bottom:1px solid #ccc;padding:0 0 10px 0}
.title-pro-order span{padding:0 0 0 10px}

.row-info{margin: 0 0 15px 0}
.right-info{float:right;width:415px}
.tent-right-info{padding:0 10px}
.title-info{margin:0 0 10px 0;color: #fff}
.title-info span{background: #444444;padding:3px 10px}
.price-info{color:#000;margin:0 0 10px 0 !important;font-size: 10pt}
.price-info span{margin: 0 0 0 10px;color: #DC692B}

/**Page Contact**/
/*** Frame title company  ***/
#frame-info-contact{margin:0 0 15px 0}

.title-contact{ background:#CCC195;margin:0 0 10px 0; padding:7px 2px 7px 10px; font-family:Tahoma, Geneva, sans-serif;font-weight:bold; color:#33220C}
#frm{margin:0 0 10px 0;}
.frame-contact label{color:#444;font-weight:700; margin:0 !important;width:150px; float:left}
.frame-contact{list-style:none;margin:15px 0 10px 0}
.frame-contact li{padding:4px 0; margin:0 !important}
.frame-contact input{ margin:0 20px 0 0; padding:3px;width:220px; border:1px solid #ddd;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.frame-contact textarea{border:1px solid #ddd;width: 350px; -moz-border-radius: 3px; -webkit-border-radius:3px}
.frame-contact span{color:#f00;margin:0 5px 0 0}

.frame-contact .bton-dk{background:#9F000C; color:#fff;padding:7px 0px; text-align:center; cursor:pointer;width:70px;border:none;font-weight:bold;-webkit-border-radius:4px;-moz-border-radius:4px}

/****  End page contact     *****/
/*Footer*/
#footer{padding:0 0 10px 10px;text-align:center}
#footer a:hover{text-decoration:underline; color:#FFB400}
.menu-fter{margin:0 0 10px 0}
.menu-fter li{list-style:none;display:inline}
.menu-fter li a{padding:0 5px;font-size:10pt; color:#000; font-weight:bold;background:url(../images/bkg-pipe3.gif) no-repeat right}
.menu-fter .none-line{background:none;padding:0 0 0 5px}
.title-company-fter{font-size:10pt;margin:0 0 2px 0}
.copyright {color:#333}
.copyright a{color:#333;}

/* Error */
.errorSummary{border: 1px solid #FA8C1E; padding:2px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin:10px 0 5px 0}
.errorSummary ul{margin:0 10px; padding:0}
.errorSummary ul li{padding:2px 0; color: red}

/*Add to cart*/
.form_order{background:#fff;margin:0 0 15px 0;-webkit-border-radius:0 0 4px 6px;-moz-border-radius:0 0 6px 4px}
.form_order thead{background:#B00807}
.form_order thead tr td{font-weight : bold;padding : 5px !important; color:#fff;font-size:10pt}

.form_order tbody tr td{border : 1px solid #ddd;}
.form_order tbody tr .pic-order{padding:5px 0}
.form_order tbody tr input{border:1px solid #ccc}
.form_order tbody tr td a{color:#000}
.form_order tbody tr td a:hover{color:#B00807}

.btn_order{cursor:pointer; border:none;font-weight:bold;background:#2C2C2C;padding:5px 7px;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;margin:0 10px 0 0}
.btn_order:hover{color:#fff}

.frm-cart label{width:100px}
.notificaion{color:#2C2C2C;font-size:10pt;margin:0 0 10px 0}
.note span{color:#f00}














